[2021-05-09 10:52] KshitijT commented on #1327
Well, that's probably because the ms in question can't be found. The log says:

[code]

Could you please confirm that "A2384_new_data.ms" is where it should be?

[2021-05-09 10:54] viralp commented on #1327
@Kincaidr check your ms file is present or not in the msdir.

[2021-05-09 10:57] Kincaidr commented on #1327
I have soft linked the ms so ill check if i have done this correctly:

![image](https://user-images.githubusercontent.com/53697426/117569442-fc210380-b0c5-11eb-8d3d-a3e1998666cd.png)

[2021-05-09 11:08] Kincaidr commented on #1327
It works now when i run in ms location. It was a soft link technicality. Thanks!

[2021-05-09 11:08] #1327 closed

[2021-05-11 07:18] healytwin1 opened #1329 "Installing caracal on ilifu"
I followed the instructions on the README on how to install caracal on ilifu, but hit the following error, any suggestions?

[code]

[2021-05-11 15:26] KshitijT commented on #1329
@healytwin1 which command specifically gave you the error?

[2021-05-12 07:53] healytwin1 commented on #1329
yup. at the pip install caracal point

[2021-05-12 08:04] KshitijT commented on #1329
Ok, let me see where it's going wrong.

[2021-05-12 15:39] healytwin1 commented on #1329
So I reran the ```pip install caracal``` command interactively on one of the compute nodes, it failed with the same error as the sbatch script. I updated `pip` and reran the install command, and it worked - think the problem is the that the version of pip installed with the virtual environment is out of date and creating the problem.

[2021-05-12 16:09] KshitijT commented on #1329
Thanks for providing the solution, @healytwin1 . I am not sure if slurm and one of the compute nodes uses the same version of python though. Please let us know if you have trouble running CARACal on slurm. Meanwhile I'll add a pip update command in the installation sbatch file.

[2021-05-12 17:31] healytwin1 commented on #1329
It is running fine now with no issues.

[2021-05-12 17:31] #1329 closed

[2021-05-12 17:32] KshitijT commented on #1329
Yes, I checked, works. Thanks again.

[2021-05-14 07:48] AstroRipples opened #1331 "TypeError encountered by obsconf"
Hi y'all,

New to using `caracal`, but with help from @francescaLoi I've got myself started on MeerKAT data processing. I'm running the stable release version, which I've installed following the virtualenv instructions.

`caracal` hits an error shortly after launching, where it's trying to parse the `obsconf` section of inputs. Can't see any reason why, but the traceback is:

[code]

So it looks l

[2021-05-14 08:42] o-smirnov commented on #1331
Hmmm, looking at the code, it may be as simple as `singularity` not being installed (this is how version ends up as None), but an error to that effect is not reported properly.

So is in installed? Otherwise you can use ``-ct docker``, if you have that.

[2021-05-14 09:16] AstroRipples commented on #1331
Hey Oleg! Yep, `singularity` is installed. I've been calling `caracal` from within the singularity where I built the virtualenv, via:

[code]
and thereafter I get the caracal logo... etc. Would it help if I attached the full log file?

[2021-05-14 14:07] o-smirnov commented on #1331
Wait, you installed caracal itself inside a singularity container? This is turtles all the way down... not sure it can work like this!

Caracal is meant to be run outside a container, but it will instantiate containers for each processing step.

[2021-05-14 14:57] AstroRipples commented on #1331
Hmmm ok, I didn't realise that... Had to boot into a singularity to get python3 so I could then launch the actual virtual environment (our cluster is _all kinds of fun_).

Welp, anyways, now I've nuked my first `caracal` install, re-installed it (and I'll note that `stimela clean -ac`, the command suggested in the "Installation & Run" guide doesn't work, `-ac` doesn't seem to be a recognised optio

[2021-05-14 14:57] #1331 closed

[2021-05-18 09:25] #1198 closed

[2021-05-18 10:02] healytwin1 opened #1333 "ddcal help/error"
I am attempting to run ddcal on my field using the following config:
[code]

but keep getting the following error:
`ERROR: The number of targets for de calibration does not match sources, please recheck.`

What am I doing wrong? It is a little unclear from the [documentation](https://caracal.readthedocs.io/en/latest/manual/workers/ddcal/index.html#calibrate-dd) how one is supposed to specify `de_t

[2021-05-18 10:16] viralp commented on #1333
The way you specify source coordinates in de_sources_manual is not correct.
It is in "hms,dms" format along with source radius in asec. For multiple
sources use
"00h00m00s,00d00m00s,00;00h00m00s,00d00m00s,00;00h00m00s,00d00m00s,00"

On Tue, May 18, 2021 at 12:02 PM Julia H ***@***.***> wrote:

--
Postdoctoral Research Fellow
South African Radio Astronomy Observatory (SARAO) and Rhodes University
S

[2021-05-18 10:21] KshitijT commented on #1333
Apologies @healytwin1 .

Please try with:
[code]

Notice the format of coordinates as @viralp mentioned. Also note that you need to put in the size of the source in arcsecond (size1 could be 80, for example) and that different sources are separated by ";" .

I'll fix the documentation as soon as possible so that it's more transparent.

[2021-05-18 10:33] KshitijT commented on #1333
Also, @healytwin1 , please make sure you have a backup copy of your selfcal-ed dataset; ddcal can be very finicky at times.

[2021-05-18 11:50] healytwin1 commented on #1333
Thanks both, that worked!

Already done, but thanks for the reminder.

[2021-05-18 12:16] healytwin1 commented on #1333
Any idea what causes this?:

[code]

[2021-05-18 12:18] KshitijT commented on #1333
Same as #1321 .  :(

[2021-05-18 12:21] healytwin1 commented on #1333
Ah, so no solution yet?

[2021-05-18 12:22] KshitijT commented on #1333
I think @SpheMakh  needs to upload a new ddf image.

[2021-05-18 12:54] AstroRipples commented on #542
Well, it's been nearly two years, and I can't tell if this has come back again, but at the flagging step of `CARACal`, I'm getting a shockingly similar error to that encountered by @o-smirnov :

[code]

Though I don't see any mention of `aoflagger` so perhaps not... The inputs I'm using for `flag` are modified versions of the pipeline `yml` file defaults:

[code]

So it _looks_ from the output lik

[2021-05-18 13:00] KshitijT commented on #542
@AstroRipples , could you try using tricolour instead? The flagging section would look like this:

[code]

No need to then worry about the rfimask - tricolour incorporates it.

[2021-05-18 13:20] AstroRipples commented on #542
@KshitijT: legend, that's taken care of the issue 🎉

[2021-05-18 14:14] SpheMakh commented on #1333
The image is ready, please try it @KshitijT stimela/ddfacet:1.6.9 on quay.io (https://quay.io/repository/stimela/ddfacet?tab=tags)

[2021-05-18 14:18] SpheMakh commented on #1333
@KshitijT use branch `ddfacet-060` of stimela to test

[2021-05-18 14:23] KshitijT commented on #1333
Thanks @SpheMakh , let me test it out.

[2021-05-18 14:39] bennahugo commented on #1321
0.6.0 is not released yet - there is a large remaining issue in hogbom that has to be fixed

[2021-05-20 10:05] AstroRipples commented on #1261
I've got a feeling I'm suffering from this issue as well... Based on @KshitijT's suggestion, I'm running the flag step including
[code]

When I run the pipeline, up to and including the calibration step, the resulting flag statistics are higher than I would have expected for MeerKAT data:
[code]

Maybe it's just me though - is this typical for MeerKAT?

However, once CARACal gets past the flagging

[2021-05-20 10:45] KshitijT commented on #1261
This is typical for MeerKAT.

Wow, that's concerning; do you know the antenna flagging stats ?

[2021-05-20 11:03] AstroRipples commented on #1261
Ah okay, thanks for clarifying!

Yeah - they seem kinda high, but I would not have thought they were prohibitively so:

[code]

[2021-05-20 11:10] bennahugo commented on #1261
Are you sure it is all channels. Some bandpass channels will be completely
gone. Could you make waterfall plots? Typically 50 or so percent is not
actually high enough. I do a few rounds of flagging and calibration which
pushes the percentages to about 70% on calibrators, but it is really clean
so I get good solutions for the most part.

On Thu, 20 May 2021, 13:04 AstroRipples, ***@***.***> wrote:

[2021-05-20 11:10] KshitijT commented on #1261
Yeah, I thought maybe somehow all your longer baselines are totally flagged or something and that with the baseline cutoff you don't get any data for calibration - but that's clearly not the case.

[2021-05-20 11:17] AstroRipples commented on #1261
I've got a feeling that perhaps one scan is particularly highly-flagged. Of our two scans on 1934-638, one was only shortly after it had risen, so I wouldn't be surprised if it was failing -- that seems to be what happened for J0408-6545. In and of itself, that strikes me as a real issue, if CARACal can't handle calibrating sources below ~20deg elevation.

As for waterfall plots, sure, I'll try! A

[2021-05-20 11:21] bennahugo commented on #1261
I suggest using Ian Heywood's Surfvis. I don't think it is elevation.
MeerKAT scheduling will not schedule your observation if the calibrator
partially sets during observation. I thnk you could maybe just have been
really unlucky with getting GPS satellites close to the beam. This happens.

On Thu, May 20, 2021 at 1:17 PM AstroRipples ***@***.***>
wrote:

--
--
Benjamin Hugo

PhD. student,
Centre

[2021-05-20 14:21] AstroRipples commented on #1261
Hmm, okay, I haven't had the opportunity to look into whether I can run that on our cluster or not, or whether it's included with CARACal or anything (this is literally the first time I've heard about this!) but... based on the plots for my observing run available through the SARAO Web Interface, the run looks extremely clean. Aside from the known RFI bands, we only see the occasional narrow-band

[2021-05-20 15:35] AstroRipples commented on #1261
Hey @KshitijT! Sure thing, it's attached - thanks for all the assistance!

[log-crosscal-gain_cal-1gc1-0-0-primary-20210518-213800.txt](https://github.com/caracal-pipeline/caracal/files/6517126/log-crosscal-gain_cal-1gc1-0-0-primary-20210518-213800.txt)

[2021-05-25 10:02] healytwin1 commented on #1333
@KshitijT has the new image been uploaded to ilifu?

[2021-05-25 10:05] KshitijT commented on #1333
@healytwin1 , not yet; please see the discussion here: https://github.com/ratt-ru/Stimela/pull/721.

[2021-05-25 10:48] AstroRipples commented on #1261
It's been a few days since I last updated y'all (see post ), and I've been able to study my logs, tweak a few settings, and re-run my pipeline. I think I'm largely happy with how the first pass of calibration is looking for 1934-638 and my gain calibrator (SOURCE_NAME). Plots of amp. vs. channel (averaging 8chan in freq, 10s in time) are below, and these look pretty reasonable.

**1934-638**:

![S

[2021-05-25 12:56] bennahugo commented on #1261
Hi

The parameters for tricolour's flagging file is discussed in the code:
https://github.com/ska-sa/tricolour/blob/master/tricolour/flagging.py

Looks good. The flagging strategies I discussed are in my pipeline:
https://github.com/ska-sa/vermeerkat/tree/master/vermeerkat/data/input

On Tue, May 25, 2021 at 12:48 PM AstroRipples ***@***.***>
wrote:

--
--
Benjamin Hugo

PhD. student,
Centre for R

[2021-05-25 13:03] o-smirnov commented on #1261
I've added some new tricolour strategies in this branch: https://github.com/caracal-pipeline/caracal/tree/add_polcal/caracal/data/meerkat_files

You can try ``stalin.yaml`` if you feel your target is underflagged. Though I prefer to use Gorbachev, then image and let madmax do the flagging in selfcal.

[2021-05-25 13:07] bennahugo commented on #1261
Yes I typically unflag, repredict from a image model and then reflag the residual data. Note there is a -smc option to subtraction a model data column to form residuals to flag on

[2021-05-26 07:37] paoloserra commented on #141
@gigjozsa it seems that the IMLIN part of this issue is now available as a stand-alone Python script at https://github.com/gigjozsa/jscripts/blob/main/jscripts/image_contsub.py . Is there any reason not to implement this in CARACal?

As far as I can see all dependencies of this script are in CARACal already. So this could be included in CARACal by simply copy-pasting (more or less) the lines of co

[2021-05-26 09:07] gigjozsa commented on #141
Savitzky-Golay's even better if you're careful. I'll include the option by the end of June.

[2021-05-26 09:19] paoloserra commented on #141
Ideally all the options available in your current script should be there :)

[2021-05-26 10:47] AstroRipples commented on #1261
Thanks for the info @o-smirnov, @bennahugo, much appreciated!

Since yesterday I've tried running `stalin.yaml` and `gorbachev.yaml` on my target data... Stalin seems give me marginally better results than the default config file (`mk_rfi_flagging_target_fields_firstpass.yaml`):

<img width="512" alt="Screenshot 2021-05-26 at 08 54 01" src="https://user-images.githubusercontent.com/42791701/119646

[2021-05-26 10:55] KshitijT opened #1335 "Bring back rambling logs"
Due to https://github.com/ratt-ru/CubiCal/issues/434 the verbosity of logs in CARACal (and stimela) is set to 0. This doesn't exactly help debugging.
However, I have it on excellent authority that this issue is fixed in the branch `noxcal` of Cubical.
@SpheMakh , could you please roll an image of this branch in stimela - we can try it out in the pipeline then ?

[2021-05-27 07:13] bennahugo commented on #1261
Hi

As I mentioned do one round of masked imaging to build a model of the
brightest AGN then reset flags and do -smc MODEL_DATA. This will flag
better than just trying to remove outliers because the amplitude of a
target is much more complicated than a calibrator field.

You can adjust the sigma downwards for the second pass without running the
risk of flagging strong fringes.

On Wed, 26 May 2021

[2021-05-27 07:39] AstroRipples commented on #1261
Ahhh, apologies, I misunderstood your meaning - I had thought your comment about flagging on the residual data was in reference to the calibrator fields! Of course the target field amplitude is going to be much more complicated than a strong point source at the phase centre, but then again I'd have expected the auto-flagging routine to have clipped the obviously large amplitudes on those intermedi

[2021-05-27 08:14] bennahugo commented on #1261
The Sigma's are explicitly large because some fields have strong sources
off centre. Flagging them with low Sigma's will clip real fringes, so there
is a tradeoff. Therefore flag residuals after one round of imaging - the
data is good enough for a shallow MFS - the SDP flags are orders of
magnitude worse than this and they still make images.

On Thu, 27 May 2021, 09:39 AstroRipples, ***@***.***> w

[2021-05-27 09:58] AstroRipples commented on #1261
Okay, right, I'm with you now. Can you point me to an example CARACal config. where you've implemented this? I'd like to take a look at a working example so I can be sure I'm on the right track.

[2021-05-27 09:58] o-smirnov opened #1336 "inspect worker throws TypeError: can only join an iterable"
It's clearly trying to make a more user-friendly message, but falling over in the process: https://github.com/caracal-pipeline/caracal/blob/master/caracal/workers/inspect_worker.py#L546

[2021-05-27 10:32] bennahugo commented on #1261
I don't know if this is implemented in caracal. This is just what I
typically do in my stop start approach in VermeerKAT. It is easy enough to
call flagmanager and tricolour outside though after the first model image
visibilities are written (ie. before your first round of selfcalibration)?

On Thu, May 27, 2021 at 11:58 AM AstroRipples ***@***.***>
wrote:

--
--
Benjamin Hugo

PhD. student,
Centr

[2021-05-27 11:21] Mulan-94 commented on #1336
@o-smirnov my mistake. Can I add the fix to an existing pull request?

[2021-05-27 13:05] o-smirnov commented on #1336
Whatever you prefer...

[2021-05-27 16:47] o-smirnov commented on #1336
Nah, make a tiny PR rather.

[2021-06-01 09:20] #1336 closed

[2021-06-01 09:22] Athanaseus opened #1339 "Flag statistics for antenna with frequency"
Implement plot showing flag percentage for each antenna with frequency.

[2021-06-01 20:26] o-smirnov opened #1341 "TypeError: list indices must be integers or slices, not str in refant selection"
Something broke recently in the refant=auto selection. Sinah reported the same thing earlier:
[code]

[2021-06-01 22:11] Athanaseus commented on #1341
Ah yeah this is because of the latest `stimela` release which was supposed to go with #1328.
So basically caracal master uses stimela on pip, and this will pull the latest `msutils`.
This should be resolve after the PR is merged.

[2021-06-02 06:45] o-smirnov opened #1342 "pip install "decorator<5" needed on Ubuntu 20.04 with python 3.8"
I must be the first one trying 20.04? It's only been a year...

Anyway, vanilla install complained about decorator versions, solved by adding ``pip install "decorator<5"``. I can blindly add this to setup.py, or I can investigate a little to understand what and why.

[2021-06-02 06:51] o-smirnov commented on #1341
But I definitely installed stimela from master in this instance, so what gives?

What is the version of the msutils image that is needed? I can try it via general: cabs.

[2021-06-02 07:06] Athanaseus commented on #1341
So master is level with pypi version of stimela. This pulls the latest msutils (version 1.2.0) image `1.6.9`, which requires the new changes in caracal, i.e. PR #1328 .

You need the previous image, tag `1.6.0` which has msutils version 1.1.3.

[2021-06-02 07:17] KshitijT commented on #1342
As seen on ILIFU, I forget which OS they use.

[2021-06-02 09:09] o-smirnov commented on #1341
Ah ok, so if once #1328 goes in, this goes way, and in the meantime

[code]

is a workaround?

[2021-06-02 09:57] o-smirnov commented on #1342
Not for me. Setuptools is a bit shite at figuring out complex cases, isn't it?

So here's the full causal chain: we need aplpy, which needs networkx, which needs decorator<5 for now (https://github.com/networkx/networkx/blob/v2.5/requirements/default.txt). Current decorator has gone to 5.x. We also have decorator as an explicit requirement, without a specific version number.

Somehow pip decides t

[2021-06-02 09:58] KshitijT commented on #1342
Omg. This is pretty horrible. so I guess specifying the decorator version is the way out?

[2021-06-02 10:13] o-smirnov commented on #1342
Yep, seems to work for now. Let's add ``decorator<5``, with a comment linking to this issue

[2021-06-04 07:24] AstroRipples commented on #1261
It's been a while so I thought I'd update this thread (even though I kinda hijacked it... sorry...). @bennahugo : thanks for the suggestions and assistance in getting `tricolour` installed - I've now flagged my MeerKAT data to a suitable level and I'm proceeding with self-calibration 🎉

[2021-06-10 11:33] Kincaidr opened #1343 "Caracals handling of 2 flux calibrators: No setjy for 2nd flux calibrator."
Hi,

I have data from a gmrt observation in which we utilized 2 flux calibrators : at the start(3C48) and at the end(3C147):

![image](https://user-images.githubusercontent.com/53697426/121516826-f08b6a00-c9ee-11eb-8462-89757bf15965.png)

I have inserted them into the observation config worker like this:

![image](https://user-images.githubusercontent.com/53697426/121514651-8eca0080-c9ec-11eb-8214

[2021-06-10 11:48] KshitijT commented on #1343
@Kincaidr , that's because if you give two flux calibrators, CARACal uses the one observed the longest:
[code]
I am probably missing something; but why would you want setjy done twice?

[2021-06-10 12:00] Kincaidr commented on #1343
Ok i see.

I thought that setjy needs to be run on each flux calibrator thats why i thought it had to be there twice.

[2021-06-10 12:04] KshitijT commented on #1343
Ah, no. I don't think that's needed.

[2021-06-10 12:04] #1343 closed

[2021-06-15 09:21] gigjozsa commented on #1273
@svw26 Can this be closed?

[2021-06-15 09:45] gigjozsa opened #1345 "Update the publications list"
Please update urgently [the list of publications using CARACal](https://docs.google.com/spreadsheets/d/1ZjlBI396x53b55rLWACAwOPgZwTS1YQejMlqzuoctLc/edit#gid=1855507246)!

Filippo needs an updated version for his important presentation at the EAS.

[2021-06-15 10:16] KshitijT commented on #1335
This will be sorted once the Cubical branch noxcal goes through. Just a reminder to powers that be (specifically @SpheMakh ) to make a stimela release.

[2021-06-16 14:50] gigjozsa opened #1346 "CARACal on a mac"
@Fil8 or @edeblok are there specific instructions if you want to run CARACal on a mac(book pro),. which differ from [these](https://caracal.readthedocs.io/en/latest/caracalREADME.html#manual-installation)? I have two users who did not manage to install it on a mac.

[2021-06-16 15:54] gigjozsa commented on #1346
@johnmcannon may be interested in this issue

[2021-06-17 09:17] ktrehaeven opened #1347 "Correlations in diagnostic plots"
I've found that the correlation option in the inspect worker overrides the shadeMS correlation option when writing freeform shadems plots. When `correlation: all` is specified, then all shadems plots are plotted with all correlations, despite specifying `--corr XX,YY` in the freeform shadems sequences.
[log-caracal.txt](https://github.com/caracal-pipeline/caracal/files/6668966/log-caracal.txt)
[lo

[2021-06-17 09:30] edeblok commented on #1346
Haven't run caracal on the mac in ages, but just tried to reinstall following standard instructions, and it fails on pyregion (when it tries to build it the **second** time around). Python 3.9 and MacOS 11.2.3. Not sure if that's the problem other have.

[code]

[2021-06-17 11:48] gigjozsa commented on #1346
Thanks a lot @edeblok @johnmcannon does this sound familiar?
See issue here:
https://github.com/astropy/pyregion/issues/141
So pyregion is out of date for python 3.9. They recommend using the master branch. Not sure if macs use a different pypi repository, which is not updated as regularly.
But @edeblok  could you try to install pyregion first from the master branch:
``pip install --upgrade git+ht

[2021-06-17 12:08] edeblok commented on #1346
That seems to have done the trick. No more complaints from caracal.

[2021-06-17 12:29] gigjozsa commented on #1346
@edeblok classy, thanks a lot! @johnmcannon , would you be willing to try this out?

[2021-06-17 12:30] gigjozsa commented on #1346
Let me just remark that this is why we want to keep the dependencies at their lowest.

[2021-06-17 21:36] o-smirnov commented on #1346
Last pyregion release was 2017, last master commit was 2019. Doesn't strike me as an much of an "alive" package. Prospects of this problem being fixed are... not good?

We only depend on it because aplpy does (actually, why do we even have aplpy as a dependency? What worker uses it?)

I understand it has been superseded by ``astropy.regions``. Our best chance of fixing this problem may be by submi

[2021-06-17 22:00] KshitijT commented on #1346
The venerable observation report script does use it? :
https://github.com/caracal-pipeline/caracal/blob/master/caracal/scripts/obs_report/Observation%20Report.ipynb

[2021-06-18 09:30] o-smirnov commented on #1347
Yeah I guess I *could* check for a ``--corr`` argument and ignore the default correlation setting when this is specified. But in the meantime, there is a rather elegant workaround (at least on the ``add_polcal`` branch), which also lets you structure your free-form plots in a way that's easier to follow and maintain. Here's an example:

[code]
Note that every entry in the ``plots`` list can be str

[2021-06-18 09:52] o-smirnov commented on #1346
For "venerable", read "should be taken behind the shed and put out of its misery".

This can be done in radiopadre using about 1/10th of the code. And it will render in a container and not pull in funny dependencies.

[2021-06-18 09:57] #1292 closed

[2021-06-18 10:21] KshitijT commented on #1346
Pretty much, I think the obs report dates back to the time of MeerKAT commissioning. Let's stop adding aplpy as a requirement please.

[2021-06-18 10:51] gigjozsa opened #1348 "Remove aplpy as a dependency and potentially decomission observation report"
See #1346
aplpy is getting old, so it should not be added as a dependency any more. It appears in the [Observation Report](https://github.com/caracal-pipeline/caracal/blob/f4c143f8217041dece9065d14266cc52fa64dcf4/caracal/scripts/Observation%20Report.ipynb)
and the [Selfcal Diagnostics](https://github.com/caracal-pipeline/caracal/blob/f4c143f8217041dece9065d14266cc52fa64dcf4/caracal/scripts/obs_rep

[2021-06-18 10:53] gigjozsa commented on #1346
This is not yet done by just transferring the issue into kick out aplpy. There seem to be other issues, I'm in contact with mac users, will report here.

[2021-06-18 14:29] lerestea commented on #1346
Collecting caracal
  Cloning https://github.com/ska-sa/caracal.git to /private/var/folders/71/7f3xc5_927b125trm96dmzh80000gn/T/pip-install-236ial8q/caracal_338927ddc6bd42cba3a2dd1f3300a1dd
  Running command git clone -q https://github.com/ska-sa/caracal.git /private/var/folders/71/7f3xc5_927b125trm96dmzh80000gn/T/pip-install-236ial8q/caracal_338927ddc6bd42cba3a2dd1f3300a1dd
  Running command git s

[2021-06-18 14:36] KshitijT commented on #1346
@lerestea , this sounds like #1329. Could you see if the same solution works for you?

[2021-06-18 14:40] lerestea commented on #1346
I tried updating pip but it did not solve the issue unfortunately.

[2021-06-20 18:22] viralp opened #1349 "Caracal for UHF band"
Is MeerKAT UHF band calibrator models implemented in the Caracal? Is there RFI removing any strategy also available (use with AOFlagger or Tricolor)?

[2021-06-20 18:44] KshitijT commented on #1349
They are in the branch `UHF`. The models aren't "implemented" yet, but you can find them in the usual folder along with UHF RFI strategies (both made by @bennahugo ).

The UHF capability should be there in master in a week's time.

[2021-06-21 18:35] bennahugo opened #1350 "Support observations where calibrators are specified as separate databases"
Reporting this on behalf of Sinah who will be implementing a kludge to make this possible. I suggest doing this in a fork as it may not be needed generally, however this has uses for telescopes other than MeerKAT - e.g. WSRT archival observations which is split by default (at least on all the observations I worked on).

The MeerKAT data in question had to be transferred field by field (which is no

[2021-06-21 18:56] o-smirnov commented on #1350
A bug in CASA? Forsooth! (**clutches pearls and faints.**)

(Actually, comparing the two plots, it looks like it's not **introducing a gap** per se, but rather **adding extra data** after the scan. The contiguous section of data is ~20m in both cases -- and the shape of the curves on both plots match -- it's just that the second plot has an extra ~5m chunk of data tacked on a bit later. Only god k

[2021-06-21 19:05] bennahugo commented on #1350
Yup. It is very hard to tell where this gap comes from but if it is
including a portion of the next scan it is going to cause absolute havoc on
the calibration - esp. the phases.

So the way I see it there is just no alternative here than to have support
for cases such as this.

On Mon, Jun 21, 2021 at 8:56 PM Oleg Smirnov ***@***.***>
wrote:

--
--
Benjamin Hugo

PhD. student,
Centre for Radio As

[2021-06-24 08:33] spassmoor commented on #1346
The python-casacore  wheel for MacOS is currently broken and this causes seg-faults when running the test code
In python :
[code]
To fix this use Homebrew with the ska-sa tap to install casacore:
$ `brew tap ska-sa/tap`
$ `brew install casacore --with-python`
Then install python-casacore
$` pip3 uninstall python-casacore`
$ `pip3 install python-casacore --no-binary python-casacore`

[2021-06-24 10:03] Sinah-astro commented on #1350
I'm getting another error when running the crosscal worker and attache the log file indicating the error
[log-caracal.txt](https://github.com/caracal-pipeline/caracal/files/6708245/log-caracal.txt)

[2021-06-24 10:10] KshitijT commented on #1350
It's a side-effect of skipping the `transform` step (since you are trying out a custom setup).
I very kludgy solution might be to run the pipeline separately for your 'cal' dataset upto only the obsconf step, take the json file and rename it for use in your current run.

[2021-06-24 10:30] Sinah-astro commented on #1350
All the calibrators (primary and secondary) are in seperate datasets. So, I'll have two json files to rename and use for my run?

[2021-06-25 08:21] Sinah-astro commented on #1350
I've run the pipeline till the prep worker and this file
[PSZ2G254.08-58.45-cal-obsinfo.txt](https://github.com/caracal-pipeline/caracal/files/6714693/PSZ2G254.08-58.45-cal-obsinfo.txt) was produced. Is it okay that even though it's a cal file it doesn't list any calibrators?

[2021-06-25 08:27] KshitijT commented on #1350
Could you actually share the file? And the pipeline should also produce a .json file, can you find it?

[2021-06-25 08:36] Sinah-astro commented on #1348
`ll`

[2021-06-25 08:37] Sinah-astro commented on #1350
[PSZ2G254.08-58.45-cal-obsinfo.txt](https://github.com/caracal-pipeline/caracal/files/6714779/PSZ2G254.08-58.45-cal-obsinfo.txt)

This is the file. Yes, I've found the json file but can't seem to upload it here. This is the first bit though:
`{"FIELD": {"INTENTS": ["UNKNOWN", "TARGET"], "FIELD_ID": [0], "STATE_ID": [1], "PERIOD": [7194.956067085266], "DELAY_DIR": [[[0.8040731863937877, -0.76848592

[2021-06-25 16:28] KshitijT commented on #1350
It's very surprising that the "cal" dataset(s) has only target scans? Maybe it was mislabelled?

[2021-06-26 10:54] Sinah-astro commented on #1350
I'm really not sure because even the one that has to have all the fields only has the target's scans only:
[PSZ2G254.08-58.45-obsinfo.txt](https://github.com/caracal-pipeline/caracal/files/6719967/PSZ2G254.08-58.45-obsinfo.txt)

[2021-06-26 12:54] KshitijT commented on #1350
Very weird. @Sinah-astro ,you mentioned two separate dataset for calibrators, do both of them contain only target scans?

[2021-06-26 12:57] Sinah-astro commented on #1350
No, the primary and secondary calibrators are each in their own individual datasets, and the target is also in its own dataset

[2021-06-28 10:39] bennahugo commented on #1350
On another note - I just realized we are going to hit a nother small snag because of casa itself. For ```fluxscale``` the solutions have to be in one caltable from both fields in order to transfer. However it is not possible at the time of casa 6.0 to append solutions derived from two separate databases (the two calibrator databases). So what we need to do is to replace fluxcal with gaincal on the

[2021-06-28 10:42] bennahugo commented on #1350
Alternatively one can deeply image the secondary with a mask and use that model instead of assuming unity. Then fluxscale is not necessary either. Up to you to decide which approach you want to use. I typically use the latter.

[2021-06-28 10:50] o-smirnov commented on #1350
This is turning into quite the mission. Reviewing how we got here -- could we not give virtconcat one more try? Perhaps trying to fake a POINTING suitable?

[2021-06-28 10:52] bennahugo commented on #1350
you can try casa 6.x. I've tried it with a small portion yesterday (for the ARIWS tutorial), but the timestamps seems very wrong for some of the scans

[2021-06-28 10:55] bennahugo commented on #1350
Have a look at what I've done here - this runs inside Google Colab
https://github.com/bennahugo/ARIWS-Cookbook/blob/main/3-Imaging_and_spectral_lines/TriA%20calibration%20and%20imaging.ipynb

[2021-06-28 14:00] KshitijT commented on #1350
I like this idea - maybe there can be a completely "manual" mode (it cuts out a lot of automation but removes the reliance on the json file).

BTW, @bennahugo , have you tried a data transfer through Globus? Would that help fix some of these issues temporarily ?

[2021-06-28 15:18] bennahugo commented on #1350
Hi SInah

This is just an illustrative example of the transfer and selfcal process I
put together for ARIWS because the AGN in the field is so pretty - feel
free to work through it. We can try to adjust the caracal strategy based on
this (approach I mentioned above). The data here is just a single scan and
100MHz subband, and highly averaged to keep things small. We can also try
to run the calibra

[2021-06-28 16:44] o-smirnov commented on #1350
I'll allocate myself a Caracal day and try to fix this properly...

[2021-06-29 14:16] o-smirnov commented on #1350
@bennahugo why do you say the POINTING table is the issue? I get this:
[code]
I read that as a main tabledesc problem not a POINTING suitable problem. Looking at the table descs, some of the MSs have tiled DATA columns, while others don't. Maybe that's what's tripping the beast over.

Also, I notice SCAN_NUMBER is renumbered from 1 in each per-field MS. Do you reckon ``concat`` is being "cunning"

[2021-06-29 14:36] bennahugo commented on #1350
Likely. I just read it as stemming from somewhere inside POINTING. I did
not do further digging. That is not a problem in CASA 6.0 - so if you pull
the wheel for python 3.6 then you will see it pass through.

Concat must renumber things - katdal will incrementally increase the scan
selection based on dumped number of scans, not the unselected data, but the
bug probably lies in how concat and virtu

[2021-06-29 14:45] o-smirnov commented on #1350
That was my starting-off point... but you've assured me that CASA will refuse to do fluxscale transfer when the calibrators are in different MSs? So we're back at square zero, unless we say "IF calibrators are in different MSs THEN refuse to do fluxscale and insist on imaging", which is the ugliest IF-statement I have yet to write.

QuartiCal will come and save us all, right @JSKenyon?

[2021-06-29 14:52] bennahugo commented on #1350
Hi yup - at least that is from my investigation into this. I tried the
append to cal table prior to fluxscale and (casa 6.0) refuses to comply. We
can try a newer version of the release though...

It is ugly but so is casa 🤣

On Tue, 29 Jun 2021, 16:46 Oleg Smirnov, ***@***.***> wrote:

[2021-06-29 14:54] bennahugo commented on #1350
I will reproduc my listobs for your enjoyment... give me a few mins

On Tue, 29 Jun 2021, 16:52 Benna Hugo, ***@***.***> wrote:

[2021-06-29 14:58] bennahugo commented on #1350
Also you can always do my second stop gap - gaincal mode a on primary
calibrator in place of flux scale. It doesn't capture amplitude drifts in
time but if the antennas are all behaving it is not necessary, the
atmospheric gain isn't too much of a concern.

On Tue, 29 Jun 2021, 16:53 Benna Hugo, ***@***.***> wrote:

[2021-06-29 15:27] bennahugo commented on #1350
For your enjoyment as promised - I selected 12 antennae (note the rest is not removed from the antennas table by splitting) from the core and intermediate spacings. I purposely cull the long spacings because I want to make calibration easy on my students and limit the sampling rates to make things as small as possible
[code]

yields
[code]

Low and behold our 12 antennas have pulled off the ultima

[2021-06-29 16:35] bennahugo commented on #1350
@o-smirnov simplest recipe (already solved for bandpasses at this point - the gaincal usually needed before fluxscale solving for solutions on both primary and secondary in order to scale from the unity model assumption of the secondary needs to of course be split into two steps with two different datasets. As I said casa do not allow appending to the existing gain table because I guess the subtab

[2021-06-29 18:32] o-smirnov commented on #1350
OK so:

* The assumption of "one MS, one full set of fields" is baked deep into the workers. I agree this was short-sighted design, but it's going to take a bit of surgery to fix it. Let's leave this to R2.

* The problem with ``concat``, is presumably, clashing scan numbers so **this can be worked around!**

* The problem with ``virtualconcat`` is not in fact POINTING, but the fact that the MSs h

[2021-06-29 18:53] bennahugo commented on #1350
I opt for option 2

I'm not comfortable touching the vault - I'm not prepared to ask Sean to
restage the multiple tapes for this observation.

Yes there are redundant bandpass scans - there were 8 fields co-observed
over a very long track. Select the good ones and get rid of the rest.

On Tue, Jun 29, 2021 at 8:33 PM Oleg Smirnov ***@***.***>
wrote:

--
--
Benjamin Hugo

PhD. student,
Centre for R

[2021-06-29 18:58] o-smirnov commented on #1350
Yeah I thought you'd say that. All right @Sinah-astro, option 2 it is, do you know what to do now?

[2021-06-29 18:59] bennahugo commented on #1350
Just a note why we opt for 8 seconds here - this is offline discussion
between me and Oleg. There are no strong DD effects for your fields. You
also don't have strong BCGs needing very high rate selfcal to improve DR.
Therefore you can dump at 8s - 10s. You can also choose to average all the
way down to 1K before proceeding to speed things up. The flagging may need
a bit of tweaking on the spike s

[2021-06-29 19:08] o-smirnov commented on #1350
Right, so for XXX in J1939-6342, J1331+3030, PSZ2G254.08-58.45.ms, run

[code]
Then do the same for ``1559937657.phasecals.ms`` with ``field='J0203-4349'``.

Then run my renumbering script on the four resulting MSs. Make a note of the output scans so that you can remove duplicates later.

Then run virtualconcat (keepcopy=False) on the four (now scan-renumbered) MSs. You now have a working single M

[2021-06-29 19:16] bennahugo commented on #1350
And another final note - please double check the TIME column and field id
for the various different scans in the final virtualconcat database
match the original TIME boundaries of the raw data - after what I've seen
the weekend with virtualconcat it won't hurt to tripple check the
indexes before proceeding with any calibration.

You can read about how to select data from this memo:
https://casacor

[2021-06-29 19:56] Sinah-astro commented on #1350
Yes, I know what to do. I've already started with the splitting. Thank you all.

[2021-06-29 20:53] SpheMakh opened #1351 "Wrong dictionary parsed to function calculating antenna baselines"
The `antenna_stats` dictionary should be parsed here: https://github.com/caracal-pipeline/caracal/blob/195fa62776aaeb3d3051f044c4bf3724e84c7945/caracal/workers/utils/manage_antennas.py#L62

to avoid this error:

[code]

[2021-06-30 09:12] o-smirnov commented on #1350
There's a ``make-elevation-plots`` script in owlcat which makes plots like these (based on TIME and SCAN_NUMBER and FIELD_ID). Useful to check if things make sense.

![image](https://user-images.githubusercontent.com/6470079/123934587-b846ce00-d993-11eb-9414-5a28ce1f7a51.png)

Of course, you could also hold your breath and drop it into the ~meat grinder~ Caracal, as it runs this script to make thi

[2021-06-30 09:17] bennahugo commented on #1350
Ok but my point is to be careful not to just rely on the indexes blindly -
we need to establish whether the reindixing hasn't yet again combned
different fields into the same scans as we had before. When we plotted
fields before it appeared that two fields are combined into one (ie target
+ calibrator) even though we selected explicitly on FIELD_ID from the MAIN
table. you can get a nice elevation

[2021-06-30 14:23] Sinah-astro commented on #1350
I've split, renumbered scans and virtually concatenated the datasets. So running lisobs() resulted in the following:
`2021-06-30 11:55:45	INFO	listobs::ms::summary	================================================================================
2021-06-30 11:55:45	INFO	listobs::ms::summary+	           MeasurementSet Name:  /home/manaka/masters/PSZ2G254.ms      MS Version 2
2021-06-30 11:55:45	INFO

[2021-06-30 19:11] o-smirnov commented on #1350
Hmmm, doesn't look like the scans got renumbered, I see duplicates still. Could you run the renumbering script, post the output, then do listobs on a renumbered MS to make sure they are renumbered? Before concatenating.

[2021-07-01 10:40] viralp opened #1353 "Tricolor error - ddid = ddid_ds[ds.attrs['DATA_DESC_ID']] # IndexError: list index out of range"
In the tricolor worker getting the following error -
[code]
[log-caracal.txt](https://github.com/caracal-pipeline/caracal/files/6747464/log-caracal.txt)

[2021-07-01 11:32] Sinah-astro commented on #1350
I ran the scan renumbering on all four MSs and produced
![Screenshot from 2021-07-01 13-29-14](https://user-images.githubusercontent.com/77771057/124117698-b9016200-da70-11eb-827c-5eba77a89cf5.png)

[2021-07-01 12:00] bennahugo commented on #1353
I believe this has been fixed a long time ago - it probably hasn't been
rebuild since in stimela, so I think raise this in stimela.

On Thu, Jul 1, 2021 at 12:41 PM Viral Parekh ***@***.***>
wrote:

--
--
Benjamin Hugo

PhD. student,
Centre for Radio Astronomy Techniques and Technologies
Department of Physics and Electronics
Rhodes University

Junior software developer
Radio Astronomy Research Gro

[2021-07-01 12:01] bennahugo commented on #1353
(or could you at least check by running the latest tricolour release in a
venv with your parameters. Thanks)

On Thu, Jul 1, 2021 at 2:00 PM Benna Hugo ***@***.***> wrote:

--
--
Benjamin Hugo

PhD. student,
Centre for Radio Astronomy Techniques and Technologies
Department of Physics and Electronics
Rhodes University

Junior software developer
Radio Astronomy Research Group
South African Radio Ast

[2021-07-01 12:27] o-smirnov commented on #1350
OK, looks sensible. @bennahugo, take a look please, does the order of the scans look sensible to you, and consistent with the original observation?

Scans 1, 3, 4, 5, 6 are anyway surplus to requirements so you can take them out at some point. But it probably won't hurt to leave them in either. (Famous last words...)

@Sinah-astro when sharing console output, can I discourage you from using screen

[2021-07-01 12:37] bennahugo commented on #1350
Can we also please compute the minimum and maximum of the TIME column,
convert them to UTC through quanta and print that next to the scan - it is
hard to tell if things are correct otherwise as I mentioned before. @sinah
can  you please add that?

On Thu, Jul 1, 2021 at 2:27 PM Oleg Smirnov ***@***.***>
wrote:

--
--
Benjamin Hugo

PhD. student,
Centre for Radio Astronomy Techniques and Technologi

[2021-07-01 12:41] bennahugo commented on #1350
In my opinion on the first statement: the more bandpass the better - you
can average all of it to wash out the residual RFI as much as possible
after flagging, so I would leave them, but that is just me :)

On Thu, Jul 1, 2021 at 2:37 PM Benna Hugo ***@***.***> wrote:

--
--
Benjamin Hugo

PhD. student,
Centre for Radio Astronomy Techniques and Technologies
Department of Physics and Electronics
Rh

[2021-07-01 17:54] bennahugo opened #1354 "Step converting PB models to casa models should use log10 not log"
@landmanbester raised this one with me
Ok - blaming this one on poor choice of documentation in setjy:
It says
[code]
where they mean log10 not log!

Consequently any codepath options using
https://github.com/caracal-pipeline/caracal/blob/master/caracal/dispatch_crew/catalog_parser.py#L203
will return spectra that are way off - I think the ancient point source coefficient model for PKS B 0407 will

[2021-07-01 18:00] KshitijT commented on #1354
Thanks for the warning @bennahugo and @landmanbester; I'll check this out. I haven't yet added the UHF models to master - but that's anyway not going to work for L band, right? The default for MeerKAT is indeed the lsm for now from what I remember offhand.

[2021-07-01 18:02] bennahugo commented on #1354
This is just 1934 which I quickly plotted the coefficients from the reynolds 94 paper for:
![image](https://user-images.githubusercontent.com/7934586/124169269-588d1780-daa6-11eb-86a8-ee551274f552.png)
and this is what you get if you convert with the code as it stands (just pulled the method out for ease of comparison with a small sim'd db):
![image](https://user-images.githubusercontent.com/79345

[2021-07-01 18:02] bennahugo commented on #1354
ok @KshitijT just note those lsms are old they have to be replaced with the crystalball models I provided you - the spectra off axis are not great in those models.

[2021-07-01 18:05] KshitijT commented on #1354
Cool, I'll try modifying the crosscal worker (that nest of vipers) accordingly.

[2021-07-01 18:06] bennahugo commented on #1354
Also note the meqtrees convention is log (ie. np.ln) not log10 so there is a slight difference between that and casa setjy. Fuck all these small differences in convention is maddening

[2021-07-01 18:08] KshitijT commented on #1354
Well but the plan is to put those lsms in the dust bin, right? So meqtrees convention shouldn't matter?

[2021-07-01 18:09] bennahugo commented on #1354
yup please do.

[2021-07-02 10:53] Sinah-astro commented on #1350
Very well noted +1:

@bennahugo I thought the time is UTC -- looking at the product of listobs. Isn't it?

[2021-07-02 11:40] o-smirnov commented on #1350
Yes listobs prints UTC time. But I think @bennahugo meant modifying my renumber_scans script to also print the times in UTC as the scans are being renumbered. Which I don't have time to do at the moment, so I leave it as an exercise to the student. ;)

Of course, you can also just renumber, virtualconcat, then listobs and post the scan times here for verification.

[2021-07-02 12:47] Sinah-astro commented on #1350
Product of the virtual concatenation
...
07-Jun-2019/20:02:26.4 - 20:07:28.3     1      0 J1939-6342               74214  [0]  [7.93] [CALIBRATE_BANDPASS,CALIBRATE_FLUX]
                      20:09:00.2 - 20:29:01.7     2      1 J1331+3030              294903  [0]  [7.93] [CALIBRATE_BANDPASS,CALIBRATE_FLUX]
	              22:27:22.7 - 22:32:20.6     3      0 J1939-6342               74214  [0]  [7

[2021-07-02 16:47] o-smirnov commented on #1350
The concatenation product looks sensible to me, @bennahugo can you run your eye over it?

Those repeated bandpass scans at the start... I guess it's really a question of personal faith whether we want to keep them or not. @bennahugo likes them because they increase the SNR in the bandpass solution. I think that if the bandpass is slightly time-variable, the returns will diminish rapidly. Arguing t

[2021-07-04 13:15] Sinah-astro commented on #1350
Thank you for your response @o-smirnov

I'm looking at the autocorrelation plots and found that some scans are flagged when spw=0:1500~2000 and uvrange = <1m. Also the common thing is their SpwIds are less than or equal to 4. Why is this so?

[2021-07-04 19:37] bennahugo commented on #1350
Ok that looks much better. Please remember to flag out scans that contain a single dump
e.g.
[code]
We cannot derive solutions for such scans, so they do more harm than good.

Not sure what you you mean by their SPW ids being less than 4. There is only one SPW in MeerKAT measurement - SPW 0: 856 - 1712 MHz. At this point there should not be missing data, because we only have the cam flags. Can you

[2021-07-05 13:42] Sinah-astro commented on #1350
The following are plots of a few scans. I flagged some of sna 13's data as there was some lobe structure

![Screenshot from 2021-07-05 15-03-02](https://user-images.githubusercontent.com/77771057/124480212-52997e00-dda7-11eb-9b23-477d595c02ab.png)
![Screenshot from 2021-07-05 15-12-54](https://user-images.githubusercontent.com/77771057/124480220-54fbd800-dda7-11eb-8e34-21186a43a6a5.png)
![Screensh

[2021-07-05 14:00] bennahugo commented on #1350
Please also note the dropouts on e.g. scan 15. The crosscorrelations for
that time period must be flagged - it could be that there was an unflagged
ingest failure durinng that time

However I cannot see any scans that were completely flagged that you
mentioned? (```found that some scans are flagged when spw=0:1500~2000 and
uvrange = <1m```) can you show what you mean by that?

On Mon, Jul 5, 2021

[2021-07-05 14:10] Sinah-astro commented on #1350
that time period must be flagged - it could be that there was an unflagged
ingest failure durinng that time
Which are dupouts? Do you mean the upper part of the plot?

mentioned? (```found that some scans are flagged when spw=0:1500~2000 and
uvrange = <1m```) can you show what you mean by that?

![Screenshot from 2021-07-05 16-07-18](https://user-images.githubusercontent.com/77771057/124484164-69d

[2021-07-05 14:21] bennahugo commented on #1350
Ok yes scan 5 is one of those scans where antennas are not yet on target we
can ignore it, it will be fully flagged by cam for that reason. Ok as long
as none of the actual scans are flagged prior to starting
we can proceed. Remember to back up your hand flags prior to executing the
pipeline.

good luck

On Mon, Jul 5, 2021 at 4:10 PM Sinah-astro ***@***.***> wrote:

--
--
Benjamin Hugo

PhD. stud

[2021-07-05 16:06] Sinah-astro commented on #1350
that time period must be flagged - it could be that there was an unflagged
ingest failure during that time

Which ones are dropouts? Do you mean the upper part of the plot?

[2021-07-05 16:25] bennahugo commented on #1350
![image](https://user-images.githubusercontent.com/7934586/124499429-453bbe00-ddbe-11eb-9dbd-6e28f75369f2.png)
See the blue line at the bottom? One or more antennas have dropped out (likely an fhost failure during that time period - this cam do not necessarily catch). Please find and flag the cross correlations for the affected time period

[2021-07-05 16:26] bennahugo commented on #1350
The first timeslot in scan 1 also look sick. Please find and flag in the cross correlations

[2021-07-07 13:22] Sinah-astro opened #1355 "caracal run error code 1 when running tranform worker"
Running the transform worker, and getting the following error:
[code]

logfile:
[log-caracal.txt](https://github.com/caracal-pipeline/caracal/files/6777388/log-caracal.txt)

[2021-07-07 13:53] o-smirnov commented on #1355
"Mamma mia, here we go again // my my how can I resist you?" should be the CASA theme song!

So the error in the log is this:
[code]
For some reason, it is trying to write to the **source** MS. It shouldn't, and it has no right to (which is why Caracal mounts it as read-only), but because it's CASA, it wants to. Why, is a largely rhetorical and useless question.

My guess is that this is because w

[2021-07-07 16:50] Sinah-astro commented on #1355
So far, the concatenated MS is behaving

[2021-07-07 21:59] viralp opened #1356 "CARACal ERROR: Job 'delay_cal-1gc1-0-1-primary:: K calibration' failed"
Hi

I am getting this error in casa gaincal
[code]

[2021-07-07 23:03] KshitijT commented on #1356
That's because A3376B-cal.ms is completely flagged. Is this a MeerKAT dataset, btw, asking because I see the 8 spws ?

[2021-07-08 09:44] viralp commented on #1356
Yes this is meerkat legacy data

On Thu, Jul 8, 2021 at 1:03 AM Kshitij Thorat ***@***.***>
wrote:

--
Postdoctoral Research Fellow
South African Radio Astronomy Observatory (SARAO) and Rhodes University
Square Kilometre Array, Cape Town
South Africa

[2021-07-08 09:56] KshitijT commented on #1356
Great, then probably reflagging more gently is the way to go .

[2021-07-11 23:52] bennahugo commented on #1350
Ok @Sinah-astro  after inspecting the diagnostics it seems clearly the issue is within the calibration itself, not the flagging strategy:
After your hand flagging out the scans with a single dump and autoflagging the flags are as expected
![image](https://user-images.githubusercontent.com/7934586/125211024-a4f50600-e2a3-11eb-8a78-bd9d868c508d.png)
After calibration things have gone to pot on the g

[2021-07-12 11:15] Sinah-astro commented on #1350
Hi @bennahugo. Thank you for your comment. I have a few questions though:

Will I put the `'inf'` only for the secondary?  By "go back", do you mean inputting a narrow interval value on the second element of `solint`?

[2021-07-13 08:04] bennahugo commented on #1350
your recipe will be something like KGBAIKGB with solints only decreased on the second run of cross calibration I believe the imaging step is invoked by adding "I" in the recipe, but you need to check this

[2021-07-15 17:16] bennahugo commented on #1333
The latest SAOPICC releases bhugo/ddfacet:0.6.0 and bhugo/killms:3.0.0.1 images are now available from Dockerhub

[2021-07-16 13:10] KshitijT opened #1357 "Replace Calibrator lsm models with new wsclean models"
The older MeerKAT lsm models of the calibrators are off spectrally when dealing with off-axis structure as per @bennahugo , see the discussion in #1354 .

The models will be added as part of the UHF branch; the machinery required in the crosscal worker is the same for UHF and L band.

[2021-07-16 13:45] KshitijT commented on #1342
@o-smirnov , can I add this through the UHF branch? The PR will be out on Monday.

[2021-07-17 07:44] Sinah-astro commented on #1350
After considering the two points you mentioned, including flagging the rolloffs. This is what I get
[code]

So, I'm just concerned about the 2 scans which are more than 80% flagged

[2021-07-17 07:56] bennahugo commented on #1350
It looks ok to me - I flag my calibrators typically to the 70-80% range. As
long as you have no residual RFI remaining it is fine. Now please derive a
model for the secondary and solve for a single transfer solution once you
have a reasonable image of the secondary and its surroundings. Carefully
inspect the residuals of this image and make sure that all flux has been
cleaned.

Then you should be

[2021-07-18 08:05] o-smirnov commented on #1342
Sure, why not.

[2021-07-22 08:01] #1099 closed

[2021-07-22 08:01] #1264 closed

[2021-07-22 08:01] #1280 closed

[2021-07-22 08:01] #1291 closed

[2021-07-22 08:01] #1323 closed

[2021-07-22 08:01] #1351 closed

[2021-07-22 13:03] paoloserra opened #1358 "Can we bring flagging stats back into the log file ?"
I've just realised that #1328 replaces the flag stats that we used to write to the log files with some nice plots.

I and others (e.g., @edeblok ) use the flag stats written to the log when writing our reports. The plots are a great addition, but  can we please get back the text flag stats too? Ideally in a similar a format as what they used to have.

@o-smirnov @Athanaseus Could this be given som

[2021-07-22 13:54] o-smirnov commented on #1358
Ha, as the Russian saying goes, to be broke is to be cunningly inventive... but really, relying on the logfiles to contain certain output formatted in a certain way is a very twisted practice, and you get everything you deserve. You're always one CASA minor version away from disaster anyway. :stuck_out_tongue:

I suggest @Athanaseus adds a couple of lines of code to his flagstats tool to spit out

[2021-07-22 14:06] paoloserra commented on #1358
yeah man, we do what we can, the yml solution is fine of course.

[2021-07-22 14:32] o-smirnov commented on #1358
Sorry, don't mean to sound preachy about it. But I would very much like to encourage everyone to discuss interfaces ("worker X needs piece of info Y, what's the best way to get it?") e.g. on the mailing list, before implementing creative solutions. Otherwise we end up with spaghetti dependencies, where touching one piece of code breaks seemingly unrelated workers...

[2021-07-22 19:13] paoloserra commented on #1358
Not a problem @o-smirnov ! But note that the reports I was mentioning are external to CARACal, so luckily our creative solutions were not part of CARACal. And sure, they were broken by CARACal improvements, but that is not a CARACal problem at all!

So the only point is, really, let's get the flag stats to the user (optionally), such that they can use them if they want.

[2021-07-22 19:26] o-smirnov commented on #1358
Excellent, well that ought to be easy to arrange, right @Athanaseus?

[2021-07-23 12:42] Fil8 commented on #1358
another option, that would be nice to activate is to output a `.png` of the new flagging plots summary along with the html version.

[2021-07-23 12:45] o-smirnov commented on #1358
Ah yes, good idea. We already do that for the KGB plots. Ought to be easy!

[2021-07-26 07:32] Athanaseus commented on #1358
There is already a json file produced with the plots in `diagnostic_plots`, and it contains all the statistical information of the flags.
Is this not the required file format and content?

[2021-07-26 07:56] healytwin1 opened #1359 "Assertion error on `convert_pb_to_casaspi()` function in prep worker"
I am running the latest (1.0.4) version of caracal on ilifu using the 1.7.0 stimela images. I have successfully run caracal on this particular dataset on ilifu in the past with almost identical config set-up, so I am not sure why this fails.

Here is the log-obsconf-listobs:
[code]

[2021-07-26 10:08] SpheMakh commented on #1359
The error seems to come from this line. But even the file `/users/juliahealy/.singularity` does not exist, I would think it would be created on the fly.
[code]

Can you attach the full logfile (output/log-caracal.txt)

[2021-07-26 10:20] healytwin1 commented on #1359
Ah, so I may be the culprit here. I had a broken link for /users/juliahealy/.singularity - I have removed the dead link and have resubmitted the job, hopefully that has fixed it. Will let you know once the job starts.

[log-caracal.txt](https://github.com/caracal-pipeline/caracal/files/6877388/log-caracal.txt)

[2021-07-26 10:55] healytwin1 commented on #1359
I am definitely the culprit. It is running fine now.

[2021-07-26 11:11] healytwin1 commented on #1359
An `Assertion Error` now pops up later when running the prep worker.

[log-caracal.txt](https://github.com/caracal-pipeline/caracal/files/6877661/log-caracal.txt)

[2021-07-26 11:29] KshitijT commented on #1359
What's your calibrator for these observations, @healytwin1 ?

[2021-07-26 11:33] o-smirnov commented on #1358
Sounds good to me. @paoloserra or @edeblok can check this perhaps?

[2021-07-26 11:35] healytwin1 commented on #1359
gain: J2253+1608
flux: J1939-6342

[2021-07-26 12:17] SpheMakh commented on #1359
@KshitijT you may have an easier time chasing down, it's seems to come from this PR https://github.com/caracal-pipeline/caracal/commit/55d344e92a22b9802985c1da6c711f45c2435682

[2021-07-28 22:42] viralp opened #1360 "Pass the same spectral windows for processing by Cubical and wsclean in selfcal worker"
Hi I am getting the following error in wsclean (after the cubical run)
[code]
The previous cubical run was completed without severe error except the following.

[code]
[log-selfcal-calibrate-cubical-field0-iter1-20210725-160301.txt](https://github.com/caracal-pipeline/caracal/files/6896832/log-selfcal-calibrate-cubical-field0-iter1-20210725-160301.txt)
[log-selfcal-image-field0-iter2-20210725-1603

[2021-07-29 09:00] o-smirnov commented on #1360
It looks like your MS has 8 spectral windows. Not sure how/if the selfcal worker copes with this (@KshitijT?) I can see cubical is using spw 0, while wsclean is presumably trying to read them all, hence the error.

Come to think of it, I'm not even sure how wsclean itself copes with multiple SPWs?

[2021-07-29 09:52] KshitijT commented on #1360
There's a "spwid" parameter for the selfcal worker which maps to Cubical and should take care of multiple spws. As you say, @o-smirnov , wsclean seems to be imaging all the spws, so that should be fine; though there is a 'spws' option for wsclean for selecting which spectral windows to image - we don't have that in CARACal yet, however.

[2021-07-29 11:16] viralp commented on #1360
@KshitijT, I am not specifying any particular spws, so by default does
cubical take all spws?

On Thu, Jul 29, 2021 at 11:52 AM Kshitij Thorat ***@***.***>
wrote:

--
Postdoctoral Research Fellow
South African Radio Astronomy Observatory (SARAO) and Rhodes University
Square Kilometre Array, Cape Town
South Africa

[2021-07-29 11:29] o-smirnov commented on #1360
Well I can see from the log that it's been told to process spw 0 only (``--sel-ddid 0``). It should be able to take multiple spws if you say ``--sel-ddid None``, which is actually the default.

[2021-07-29 11:30] KshitijT commented on #1360
https://github.com/caracal-pipeline/caracal/blob/master/caracal/schema/selfcal_schema.yml#L57

The default is "0" - so only the 1st spw.

[2021-07-29 11:34] o-smirnov commented on #1360
Right, but then wsclean must be told to only process the first spw too, otherwise the calibration and imaging invocations within selfcal are not mutually consistent.

[2021-07-29 11:40] KshitijT commented on #1360
Sorry, I was not clear. I meant that @viralp can give a list of all the spws manually and then Cubical should calibrate them fine and since wsclean is anyway imaging all the spws; it should be sorted?

[2021-07-29 11:49] o-smirnov commented on #1360
Yes, that'll sort @viralp but it still leaves a trap for the next unwary user. I think if the spw is set, then the same value should be passed to cubical and wsclean, otherwise you get these incomprehensible errors.

[2021-07-29 11:51] KshitijT commented on #1360
Yes, we should definitely do that !

[2021-07-29 12:13] viralp commented on #1360
Yes I agree with @o-smirnov, `spwid` should be common for both cubical and wsclean. Thanks.

[2021-07-30 14:25] #1355 closed

[2021-07-30 17:03] o-smirnov opened #1361 "WTF singularity error"
Sinah's got the pipeline falling over in ways I can't understand. The cab runs, but singularity returns error code 1. The only suspicious thing is the
[code]
message. Here's a fuller log:
[code]
The same thing runs fine in docker. I have no clue?

[2021-07-30 17:25] KshitijT commented on #1361
Just out of interest, how was the pipeline run command given?

[2021-07-30 18:01] o-smirnov commented on #1361
Very boringly:
[code]

[2021-07-30 18:19] KshitijT commented on #1361
Weird, I see the same error too, but that doesn't seem to stop the pipeline or obsconf from running.

[2021-07-30 18:23] o-smirnov commented on #1361
Well it's a warning not an error, so maybe it's not the problem. Sinah's pipeline falls over on obsconf, but it still generates the json file (since the container run is actually successful despite the error code). Then when you run it again, it goes a step further since the json file is already there. Are you running on a Rhodes machine?

[2021-07-30 18:24] KshitijT commented on #1361
On tina.

[2021-07-30 18:25] o-smirnov commented on #1361
Cool, let me try it there...

[2021-07-30 18:31] o-smirnov commented on #1361
@Sinah-astro FYI (well not so much "I" as "lack of I", but you get the sentiment).

[2021-07-30 18:42] o-smirnov commented on #1361
Ahh thanks for that pointer, @KshitijT. Indeed it runs for me on tina too. So now just to figure out what the difference between the boxes is...

[2021-07-30 18:47] o-smirnov commented on #1361
Gah ok! Updating to the latest Caracal ``master`` fixes the issue for me (was there some singularity fix done recently? I don't remember. But I'll take it!) @Sinah-astro please try that, and reopen the issue if your problem persists.

[2021-07-30 20:45] Sinah-astro commented on #1361
Even after attempting this. The error is still persistent.

[2021-07-31 09:48] o-smirnov commented on #1361
Yeah @Sinah-astro is right, this was a false dawn. I was confused yesterday. In fact, the error persists.

[2021-07-31 10:28] o-smirnov commented on #1361
Yeah I don't know what's going on here. Need @SpheMakh to sort this one out. I modified the stimela runscript to read as follows:
[code]
...and it prints
[code]
...so clearly ``xvfb-run run.py`` bails out somehow? Note how it does not get to the echo statement afterwards.

[2021-08-03 08:04] o-smirnov commented on #1361
OK I think I see the prolem (although it is a surprising one). There were 30+ singularity runs that had been Ctrl+Z'd on this system. Cleaning them out with kill, and voila, everything works again.

So bottom line is, there is a hidden global limit on the number of containers that can be run. It's not an unreasonable limit, but it's not nigh, it's mysterious, and it does lead to virtually undiagno

[2021-08-03 08:04] #1361 closed

[2021-08-03 10:10] KshitijT commented on #1359
@healytwin1 , I don't know exactly why you are getting the error (this has nothing to do with the choice of the calibrator as such); I haven't faced the error myself on ILIFU with the same version of CARACal and the same settings.
The only possibility I see here is that it is related to #1354 (which anyway needs fixing).
To that end, I have made a branch: `fix_issue_1354`; could you please reinsta

[2021-08-03 11:05] healytwin1 commented on #1359
Will do. How do I install from a particular branch?

[2021-08-03 12:02] KshitijT commented on #1359
You could do it either like this:
1. git clone https://github.com/caracal-pipeline/caracal.git
2.  cd  caracal
3. git checkout fix_issue_1354
4. **Activate your virtualenv at this point**
4. pip install -U .

Or more directly:
Activate your virtualenv and run `pip install -U git+https://github.com/ska-sa/caracal.git@fix_issue_1354 `

[2021-08-03 15:00] healytwin1 commented on #1359
The `fix_issue_1354` worked.

[2021-08-03 15:09] KshitijT commented on #1359
Awesome ! Thanks for testing it out. :)

[2021-08-03 15:31] KshitijT commented on #1359
Ooops. I shouldn't close this issue until the branch is merged in master. @SpheMakh , can haz review?

[2021-08-10 09:01] KshitijT commented on #1360
While the branch `hotfix_#1360` has fixed @viralp 's original issue; Cubical seems to give trouble if 'sel-ddid' of anything except 0 or null is provided:

[code]

Funny that it's the wisdom file throwing up the error, though. Any clues @o-smirnov , @SpheMakh ?

[2021-08-10 09:07] o-smirnov commented on #1360
@JSKenyon take a look at this please?

[2021-08-10 09:17] #1359 closed

[2021-08-10 09:25] JSKenyon commented on #1360
Yeah, doing so. The problem is that `chanfreqs` or `freqchunks` is a dictionary, not a list. Should be easy to fix.

[2021-08-10 09:33] JSKenyon commented on #1360
@o-smirnov https://github.com/ratt-ru/CubiCal/pull/454 needs your review. Should fix this problem.

[2021-08-10 14:17] JSKenyon commented on #1360
The fix has been merged into CubiCal master. Is it possible for you to try it out and confirm that it fixes the issue? Once it is confirmed, I can do a release for you.

[2021-08-10 22:50] viralp opened #1363 "stimela.exceptions.StimelaCabParameterError: Parameter plot is unknown"
Hi. I am getting the following error in the `flag` worker with `summary: True`

2021-08-10 17:05:36 CARACal.Stimela.flag INFO: STEP 7 :: flag-summary-ms0:: Flagging summary  ms=A3376A_GCLS-cal.ms
2021-08-10 17:05:36 CARACal.Stimela INFO: Validating parameters for cab flagstats (stimela/msutils:1.6.0)
2021-08-10 17:05:36 CARACal.Stimela.flag-summary-ms0 ERROR: Parameter plot is unknown. Run 'stimel

[2021-08-11 08:17] Athanaseus commented on #1363
Hi @viralp can you please update your stimela version to latest release `1.7.0`?

[2021-08-11 10:50] viralp commented on #1363
After updating the stimela, getting following error
[code]

[2021-08-11 12:11] Athanaseus commented on #1363
Try removing ~./singularity/cache and re-run.

`rm -r ~./singularity/cache` or/and `rm -r ~/.singularity`.

[2021-08-17 13:44] bennahugo commented on #1333
You can use the stimela ddfacet-060 branch. The images work, I'm just finetuning an acceptance test for this. I'm going to go ahead and close the ticket.

[2021-08-17 13:44] bennahugo commented on #1321
You can use the stimela ddfacet-060 branch. The images work, I'm just finetuning an acceptance test for this. I'm going to go ahead and close the ticket.

[2021-08-17 13:44] #1321 closed

[2021-08-17 13:55] KshitijT commented on #1333
Let's not close this issue till the branch is merged in stimela master.

[2021-08-24 09:20] SpheMakh commented on #1341
Fixed

[2021-08-24 09:20] #1341 closed

[2021-08-24 09:28] SpheMakh commented on #1353
pinging @SpheMakh

[2021-08-24 09:30] SpheMakh commented on #1339
Can we also have an option to bin the stats in frequency.

[2021-08-24 09:36] SpheMakh commented on #1319
@SpheMakh comment dude!

[2021-08-24 09:37] SpheMakh commented on #1317
@francescaLoi what's the progress on this?

[2021-08-24 10:04] francescaLoi commented on #1317
For me it is ready, I don't know if @o-smirnov wants to add something...

[2021-08-26 11:45] ktrehaeven opened #1364 "Allow use of 3C286/J1331+3030 as primary calibrator"
Hi

My meerkat observation has J1331+3030 as both the primary and secondary calibrator. It is a polarised source so caracal doesn't handle it well as a primary calibrator.
[A1795_raw_vis1-obsinfo.txt](https://github.com/caracal-pipeline/caracal/files/7059427/A1795_raw_vis1-obsinfo.txt)

[2021-08-30 21:10] SpheMakh opened #1365 "Basename used when backing up config file is not a basename"
The basename contains the absolute path, which means that if the config file is not in the current directory a `FileNotFoundError` exception is raised.

[code]

[2021-08-31 11:00] SpheMakh opened #1367 "Verbose syntax in line:subtractmodelcol line:addmodelcol"
This

https://github.com/caracal-pipeline/caracal/blob/8ae715fd24a21f6709d6380291a32b2e651f5857/caracal/schema/line_schema.yml#L63-L71

should be

[code]

something for `line:addmodelcol`

[2021-09-07 09:06] #1365 closed

[2021-09-07 09:12] SpheMakh commented on #1363
@viralp is this fixed?

[2021-09-07 09:16] SpheMakh commented on #1324
Not clear which is the default configuration. Maybe worth adding some information in the README about the sample configs

[2021-09-07 09:23] SpheMakh commented on #1349
@KshitijT what's the status of this?

[2021-09-07 14:33] o-smirnov commented on #1354
Hmmm, this one was pretty nasty, eh? So anyone that *wasn't* using ``meerkat_skymodels: true`` in Caracal until a month ago (i.e. me) was using the blue bandpass model instead of the orange one. In-band spectral indices, you say? :man_facepalming:

![image](https://user-images.githubusercontent.com/6470079/132362643-4bd77e86-31c4-439e-9666-c4e526a6a29e.png)

[2021-09-07 16:04] bennahugo commented on #1354
Yup.... please use the wsclean component catalogs - not the lsms - these
are the ones used in the SP pipeline. Wonder how many papers have an
incorrect flux scale and inband SPI as a result???

On Tue, Sep 7, 2021 at 4:33 PM Oleg Smirnov ***@***.***>
wrote:

--
--
Benjamin Hugo

PhD. student,
Centre for Radio Astronomy Techniques and Technologies
Department of Physics and Electronics
Rhodes Univer

[2021-09-07 16:16] o-smirnov commented on #1354
All in-band SPIs are a deperate bluff. Some are just more of a bluff than others.

[2021-09-08 06:19] landmanbester commented on #1354
Hold on, something is not right here. If I use the parameters reported by setJy with the natural log I get something that resembles Oleg's orange curve (or what Ben called Reynolds 94 above). If I use it with log10 I get something closer to the blue curve. CASA setJy seems to populate MODEL_DATA with the latter but, if I understand the discussion correctly, we should be using the former. So, am I

[2021-09-08 08:25] landmanbester commented on #1354
Ah, I might be getting slightly less confused. I took those coefficients out of the caracal log i.e.
[code]
If you run that through setjy you get the blue curve but I didn't realise I was setting the flux scale in manual mode (I assumed I was using one of the many standards CASA knows about). So, to summarise, casa does use log10 and the manually provided coefficients are wrong

[2021-09-19 09:25] Sinah-astro opened #1370 "Option for using external mask to image the secondary calibrator"
Is there a way to use an external mask for imaging the secondary calibrator in caracal or would imaging it with wsclean outside caracal be the way to go? I'm not happy with the model I'm getting through auto masking (in 1GC) as it includes artefacts around the calibrator. I attach the config file and log file for reference
[test254.txt](https://github.com/caracal-pipeline/caracal/files/7191655/tes

[2021-09-20 05:01] bennahugo commented on #1370
It does not look like there is from the documentation. It will be a useful
feature to have, so could you add the parameter and open a pull request?

On Sun, Sep 19, 2021 at 11:25 AM Sinah-astro ***@***.***>
wrote:

--
--
Benjamin Hugo

PhD. student,
Centre for Radio Astronomy Techniques and Technologies
Department of Physics and Electronics
Rhodes University

Junior software developer
Radio Astron

[2021-09-20 08:11] Sinah-astro commented on #1370
I just tried to do that but I don't know how to go about doing this. I'd appreciate some guidance.

In the meantime, given that the order in my config file is `order: KGAIKGF`, will it make sense to first run `crosscal` with `order: KGA`, image the secondary calibrator with masked wsclean, inspect the products, then go back to run `order: KGF`?

[2021-09-20 09:13] Sinenhlanhla opened #1371 "KeyError when using 'J1130-1449' as a polarization calibrator"
I am trying to use 'J1130-1449', an unknown polcal source, to calibrate my data. After setting leakage_calib=pol_calib=xcal, I get this error:
2021-09-20 10:59:51 CARACal.Stimela.polcal INFO: ---------------------------------
2021-09-20 10:59:51 CARACal.Stimela.polcal INFO: Stimela version 1.7.0
2021-09-20 10:59:51 CARACal.Stimela.polcal INFO: Running: polcal
2021-09-20 10:59:51 CARACal.Stimela.po

[2021-09-20 11:44] bennahugo commented on #1370
Add another string parameter into the schema:
Say underneath
https://github.com/caracal-pipeline/caracal/blob/master/caracal/schema/crosscal_schema.yml#L334
just call it ```external_fits_mask```
Then add a key to the dictionary at https://github.com/caracal-pipeline/caracal/blob/master/caracal/workers/crosscal_worker.py#L298
along lines of:
[code]
if you need a multiple iterations (typical make it

[2021-09-29 09:25] o-smirnov commented on #1371
Use ``leakage_calib=bpcal``, and ``pol_calib=xcal``, and ask @francescaLoi to add J1130-1449 to the list of allowed polcals...

[2021-09-29 09:26] o-smirnov commented on #1371
ALso @Sinenhlanhla could you please post your .yml file so we can advise.

[2021-09-29 09:26] o-smirnov commented on #1371
And ``set_model_pol=false``.

[2021-09-29 09:30] o-smirnov commented on #1371
@bennahugo will give us a link to Bill Cotton's model for this calibrator, we'll add it.

[2021-09-30 13:21] francescaLoi commented on #1371
@Sinenhlanhla I just add a new branch with bandwidth averaged properties of J1130-1449. Could you please check if it works? The changes are in the **add_j1130** branch.
Remember to indicate J1130-1449 as your xcal calibrator in the obsconf worker. Then something like:
[code]
should work.

[2021-09-30 13:58] Sinenhlanhla commented on #1371
Thank you, @francescaLoi. I will test it and update you.

[2021-10-04 09:31] Sinenhlanhla commented on #1371
@francescaLoi adding the model helped, but now I'm getting an error at the setjy step:

# ###  TDL script successfully compiled. 9557 node definitions
#   (of which 2 are root nodes) sent to meqserver.
# ### Running TDL job "_simulate_MS"
# ### Job result: None
# ### No more commands
# ### Stopping the meqserver
# ### All your batch are belong to us. Bye!
2021-10-04 11:01:05 CARACal.Stimela.set_mo

[2021-10-04 09:41] francescaLoi commented on #1371
Sorry @Sinenhlanhla , I didn't notice that we don't have a "rotmeas" parameter in casa_setjy. We should include it through stimela. I'll open an issue there and let you know when this will be fixed.

[2021-10-05 08:07] Fil8 opened #1372 "updating AOflagger to >3.0 will break flagging strategies"
Starting from AOflagger 3.0 the file format for strategies is .lua .

This means that, if in a future version of Caracal we update AOflagger the default .rfis strategies will no longer work.

There is no automated way to convert strategies from `.rfis` to `.lua`. Some suggestions are given here [](https://aoflagger.readthedocs.io/en/latest/from_rfis_to_lua.html).

[2021-10-05 09:33] #1342 closed

[2021-10-08 06:53] Sinenhlanhla commented on #1371
It's not there. Is there a particular branch that I need to `chekout` in order to see the updated parameters?

[2021-10-11 08:57] Sinah-astro opened #1374 "ERROR: Job 'elevation-plots-ms0:: Plotting elevation tracks'"
I'm getting the following error when running my config file:
[test277.txt](https://github.com/caracal-pipeline/caracal/files/7320996/test277.txt)

[code]
I thought it may have been that some fields aren't in the MS file, but running `listobs` on the MS file returns: [PSZ2G277-obsinfo.txt](https://github.com/caracal-pipeline/caracal/files/7321008/PSZ2G277-obsinfo.txt)

Logfile: [log-caracal.txt](ht

[2021-10-11 09:58] o-smirnov commented on #1374
Looking at the code, this seems like a logical impossibility. Where's the MS?

[2021-10-11 10:26] o-smirnov commented on #1374
Full path please?

[2021-10-11 10:44] Sinah-astro commented on #1374
oates: masters_277/PSZ2G277.ms

[2021-10-12 09:00] Sinah-astro opened #1376 "Option for deselecting scans when solving in Caracal"
After running some crosscal with some scans flagged, they seem to have some effect on my solutions. As Ben suggested, an option for deselecting scans in solving would be useful.

[2021-10-15 16:57] Athanaseus commented on #1363
Please re-open if experiencing the issue.

[2021-10-19 09:19] molnard89 commented on #1358
As @Athanaseus  said, the flagging stats are indeed under `/output/diagnostic_plots/*flagging_summary*.json` and we routinely read these for our MFS reports, so they work fine. We agreed during today's telecon that this is sufficient, and there's no need to add these stats to the logs, so I'm closing the issue with @paoloserra 's blessing.

[2021-10-19 09:19] #1358 closed

[2021-10-30 21:42] viralp opened #1378 "FATAL: While making image from oci registry: error fetching image to cache"
Hi. I am getting the following docker error

[code]

[2021-11-02 07:31] Fil8 opened #1379 "OBSID.ms must be in msDir"
I think the logic of the pipeline should be improved or better documented.

Given that OBSID.ms is the heaviest file, CARACAL should be able to run on `_corr.ms`, `_cont.ms`,`line.ms` without having the original ms file in msdir/ .

A trick is to create fake OBSID.ms folders in msdir, but this should be documented, and I could not find it.

[2021-11-02 07:53] paoloserra opened #1380 "Regrid user clean mask cube"
This is useful when the user has a clean mask on a different WCS grid than the cube being made in a pipeline run. The idea is that, in this case, CARACal is smart enough to realise there is a mismatch and regrid the user clean mask cube before imaging.

[2021-11-02 09:22] o-smirnov commented on #1364
@francescaLoi can you point out where the 3C286 model is set up in polcal?

[2021-11-02 09:27] francescaLoi commented on #1364
These are the properties of J1331+3030 as taken from Perley&Butler 2017 + updated polarization properties from NRAO web site (https://science.nrao.edu/facilities/vla/docs/manuals/obsguide/modes/pol, Table 7.2.7).
[code]
I suggest to check carefully the results since there are some differences between the resulting polarization properties and those constrained with the JVLA, i.e. the input model. I

[2021-11-02 09:30] o-smirnov commented on #1364
Thanks, but that's 3C138 not 3C286?

[2021-11-02 09:34] francescaLoi commented on #1364
sorry, I copied the wrong part :)

[code]

[2021-11-02 09:55] KshitijT commented on #1349
We need static mask at UHF band ( for users who don't trust either tricolour OR aoflagger to flag their data well :P ) .
According to @bennahugo (private communications) the static mask is part of tricolour at both UHF and L band and isn't available separately at L band but can be applied through  tricolour via "apply the (static) mask" mode.

My 2 cents: Flagging doesn't seem to be very very chal

[2021-11-16 09:25] #1319 closed

[2021-11-17 10:35] #1348 closed

[2021-11-17 14:11] KshitijT commented on #1378
@viralp could you please attach the log file here?

[2021-11-18 09:17] viralp commented on #1378
[log-caracal.txt](https://github.com/caracal-pipeline/caracal/files/7561576/log-caracal.txt)

[2021-11-18 12:05] KshitijT commented on #1378
@viralp this seems a bit like an earlier error you encountered in #1363 ? Could you check if the same solution works?

[2021-11-18 15:41] o-smirnov commented on #1186
I am too demoralized by pykwalify and the option parser to deal with this. Let's leave it as a gotcha for the unwary user. Next-gen Stimela with OmegaConf is going to make all this moot.

[2021-11-18 16:00] o-smirnov commented on #1347
I can't recreate this problem. In my tests, ``--corr XX,YY`` is passed to shadems as expected. Looking at the code, it is meant to work this way. I suspect it may just have been fixed by @Mulan-94 or myself during one of the post-1.0.4 inspect worker cleanups.

@ktrehaeven could you please try to reproduce this problem with the current master branch?

[2021-11-19 09:34] KshitijT commented on #1360
The stimela branch cubical-16Nov2021 (thanks @SpheMakh !) which has the new Cubical (thanks @JSKenyon !) seems perfectly happy with sel-ddid with non-zero values !

[2021-11-19 14:55] ktrehaeven commented on #1347
Sure. Here's the log for the test run. Before running I git pulled the master branch. You can see that even for the plots with `--corr XX,YY` specified, all correlations are written to all plots. I've attached an example of one such plot. I've also attached the config file if it helps.

[A3444.yml.txt](https://github.com/caracal-pipeline/caracal/files/7570994/A3444.yml.txt)

[log-caracal.txt](http

[2021-11-20 10:44] #1298 closed

[2021-11-23 15:39] #1380 closed

[2021-11-23 19:07] #1324 closed

[2021-11-28 10:34] paoloserra opened #1389 "MeqTrees error with Stimela 1.7.1 leads to no valid B solutions"
Caracal 1.0.5 with Stimela 1.7.1 on Docker gives the following error when running MeqTrees to fill in the primary MODEL column (and, following that error, CASA/gaincal finds no valid B solutions):

[code]

The full meqtrees log is:

[code]

With the same Caracal version but Stimela 1.7.0 on Docker everything goes well, and casa/gaincal finds valid B solutions. In this case, the full meqtrees log i

[2021-11-29 10:43] dane-kleiner opened #1390 "Ragavi selfcal plotting issues"
There are two issues here:
1 - In cal_cubical, ragavi_plot, field: The default is incorrect. The default is 0, where it should be a list of ints, i.e. [0].
2 - When it's enabled, ragavi doesn't run and no plots are produced. There was no log of it other than the fact that it was enabled.

We don't know if the plots the gain solutions or something else. If it's something else then we should conside

[2021-11-29 10:44] dane-kleiner commented on #1390
@Mulan-94 I've assigned you because you are our ragavi expert! But if this is not your domain then feel free to assign someone else!

[2021-11-29 14:45] bennahugo commented on #1389
I would recommend dropping the lsms. There are huge errors on the offaxis spectra. I've implemented the new models in vermeerkat, see: https://github.com/ska-sa/vermeerkat/commit/96f248d18347b56525f75004cbdddce33f75891f

[2021-11-29 14:46] paoloserra commented on #1389
Yeah, we should, but as long as that option is available in Caracal we must support it.

[2021-11-29 14:49] bennahugo commented on #1389
Ok just thought I'd put it out there as disclaimer - they will screw with your flux scales! :)

[2021-11-29 19:39] bennahugo opened #1391 "scan selection for solving (SPR1-1177 workaround)"
Implementing this as workaround for SPR1-1177 ([JIRA] (SPR1-1177) For 2s dump, there is a mislabelling of scans in katdal) for @Sinah-astro

[2021-11-29 19:44] bennahugo opened #1392 "leave weights alone!"
found this in the parset while working on #1391. This is concerning given that Ludwig has implemented the correct calculations for estimating spectral weights and likely why @landmanbester continues having problems with MeerKAT datasets
[code]
The noise should be computed from Wishart noise  (autocorrelation power divided by number of contributing samples (correlator counts). Using an array averag

[2021-11-29 19:59] bennahugo commented on #1391
Context - not enough to flag scans mislabelled as tracking by katdal - the interpolation will be flagging the scan immediately next to the flagged 1-2 dump scan if the flagged scan is used in solving. This implements deselection during solving routines in transfer calibration

[2021-11-29 20:03] bennahugo commented on #1391
PR incoming

Verified that for
[code]

I get e.g
gain calibrator:
[code]
bandpass calibrator
[code]

[2021-11-30 10:34] SpheMakh commented on #1389
[code]

This is the culpritt. I'll update stimela and push a new release

[2021-11-30 10:55] bennahugo commented on #1389
I think the way you build your images are an issue. Please see
https://github.com/ska-sa/meqtrees-cattery/blob/master/.travis/py3.docker

on how to build meqtrees. This is tested on a monthly basis for simulation
and calibration and is currently passing

On Tue, Nov 30, 2021 at 12:34 PM Sphesihle Makhathini <
***@***.***> wrote:

--
--
Benjamin Hugo

PhD. student,
Centre for Radio Astronomy Techni

[2021-11-30 11:49] SpheMakh commented on #1389
I just use the kern packages. Let me make an image that builds from the source as you suggest

[2021-12-01 08:03] Mulan-94 commented on #1390
I'm posting here my sake of documenting this issue.
I get the following output from cubical while trying to reproduce this problem
[code]

From the look of things, `cubical` is not generating casa tables and that's why the gains are not being plotted. Two options:
1) Plot the gains with cubical, I already made the `stimela` cab for this awaiting pull request merge
2) Plot the gains with the new `r

[2021-12-01 14:21] SpheMakh commented on #1389
@paoloserra can you try with the `issue-738` branch of stimela. If it works I will release patches of both stimela and caracal

[2021-12-02 14:10] Mulan-94 commented on #1390
@dane-kleiner could I request you to please test this new branch `plot_selfcal_gains` just to see if it does what you wanted it to do? I changed the section from `ragavi_plot` -> `plot_gains`
[code]

[2021-12-02 14:43] dane-kleiner commented on #1390
Great! I'll give it a test next week. Thanks @Mulan-94 :)

[2021-12-04 16:10] Sinah-astro commented on #1376
issue #1391

[2021-12-04 16:10] #1376 closed

[2021-12-06 12:35] #1391 closed

[2021-12-06 17:32] paoloserra commented on #1389
Getting an error which I'm not sure what to do with.

I did:

[code]

I get the following error:

[code]

[2021-12-06 18:19] SpheMakh commented on #1389
Oops! I forgot to push the new meqtrees image. It's uploading, please try again in 10 minutes

[2021-12-07 11:15] paoloserra commented on #1389
It's OK now, thanks.

[2021-12-08 17:20] #1370 closed

[2021-12-08 17:29] paoloserra opened #1395 "Some worrying warnings when stacking channels into cubes"
[code]

Any clue?

[2021-12-08 17:37] KshitijT commented on #1395
Repeat of #999 ?

[2021-12-08 17:38] paoloserra commented on #1395
Partly. Here there is also the message about SINGULARITYENV_HOME.

[2021-12-08 17:42] KshitijT commented on #1395
That's #1361 ?
To quote @o-smirnov :

If that helps.

[2021-12-08 17:47] paoloserra commented on #1395
Maybe... we don't really Ctrl+Z Caracal runs. How would I check that anyway? This is on ilifu.

[2021-12-08 17:52] KshitijT commented on #1395
Is this on slurm? There's a gazillion jobs running there right?

[2021-12-08 18:00] paoloserra commented on #1395
yep of course, but I guess this holds per venv no? we've got our own

[2021-12-10 12:55] dane-kleiner commented on #1390
Hey @Mulan-94, I tested it and it made this plot:

![n1365_self-cal_g_gain_plots](https://user-images.githubusercontent.com/43415900/145577268-bfb34252-8a69-491a-b9b9-3ed4dfd1ce79.png)

@paoloserra are you happy with this?

[2021-12-13 10:37] paoloserra opened #1396 "Hardcoded scan selection in crosscal must go"
@bennahugo @SpheMakh https://github.com/caracal-pipeline/caracal/pull/1393 has hardcoded a scan selection into the `crosscal` worker. See https://github.com/caracal-pipeline/caracal/blob/9a6542e0b10aca29fbe8f5992b7dbe5df852352d/caracal/schema/crosscal_schema.yml#L159-L163 and https://github.com/caracal-pipeline/caracal/blob/9a6542e0b10aca29fbe8f5992b7dbe5df852352d/caracal/schema/crosscal_schema.ym

[2021-12-13 12:59] #1396 closed

[2021-12-13 20:48] paoloserra commented on #1390
OK, but can we polish a bit the way the Y axis is shown? It took me some time to see the phase label and scale on the far right.

[2021-12-14 08:02] bennahugo commented on #1396
Sorry I didn't realise example meant default... Perhaps this should be
renamed.

On Mon, 13 Dec 2021, 14:59 Sphesihle Makhathini, ***@***.***>
wrote:

[2021-12-14 08:05] paoloserra commented on #1396
No worries @bennahugo , I thought that was the problem indeed.

We adopted `example` as he key to give the default value a long time ago. Back then, there were only a few keys that were allowed to be used, and `example` was the only one that made some kind of sense. `Default` or something like that was not allowed.

We haven't looked into that since then -- maybe that's changed now.

[2021-12-14 08:52] paoloserra commented on #944
Just checked this again. The AOFlagger command is not in the Caracal log (on singularity). Example:

[code]

[2021-12-15 09:14] o-smirnov commented on #1392
See also https://githubmemory.com/repo/ska-sa/katdal/issues/346.

So it seems that

* most MeerKAT MSs come off the archive with a **correct** WEIGHT_SPECTRUM and an incorrect (unity) SIGMA_SPECTRUM.

* CASA likes to fiddle with WEIGHT_SPECTRUM when applying calibration, and implicitly expects that it's allowed to reinitialize WEIGHT_SPECTRUM from SIGMA_SPECTRUM

* therefore, we need to ensure a c

[2021-12-15 09:19] KshitijT commented on #1392
Is this true for older MeerKAT datasets too, @o-smirnov ?

[2021-12-15 09:43] o-smirnov commented on #1392
I don't know lol. Maybe @bennahugo can comment. It depends on when the correct functionality came into katdal.

Best not to rely on particular dates or MS vintages anyway! If you're not sure, just plot the weights with shadems quickly, and compare to one from a recent MS. The overall shape of the distribution will be similar, and it will certainly be obvious if the weights are bogus or not.

[2021-12-15 09:53] bennahugo commented on #1392
It looks like "link creation" in archive still uses the previous release of
katdal. You will get the correct behavior by using mvftoms from the latest
katdal release.

All vintage ms's have this issue. I suggest redumping to fix. CASA should
in that case auto fix what ever caracal has done to the WEIGHT_SPECTRUM

On Wed, Dec 15, 2021 at 11:19 AM Kshitij Thorat ***@***.***>
wrote:

--
--
Benjamin H

[2021-12-15 18:40] KshitijT commented on #1392
Oh no ! Any chance of getting that updated to latest katdal?

[2021-12-17 13:39] dane-kleiner commented on #1293
It appears that

`    unflaggedIntegration=(interval0*(1-flag0.astype(int))).sum(axis=(0,2)) # total integration per channel adding up all UNFLAGGED integrations and polarisations (sec)
    unflaggedIntegration[unflaggedIntegration==0]=np.nan
    rmsUnflagged=np.sqrt(2)*kB*tsyseff/Aant/np.sqrt(channelWidths0*unflaggedIntegration)`

Are the offending lines. In fact, the multiplication between inver

[2022-01-20 11:13] francescaLoi commented on #1390
Hi @Mulan-94 , I still have issues with this branch. After an 'Fslope' self-calibration, I split the target and self-calibrate again with the 'GainDiag' schema. The output is an empty plot of leakage vs frequency, while I was expecting to see Amplitude vs time.
![combo_GainDiag_self-cal_g_gain_plots](https://user-images.githubusercontent.com/58785332/150327959-d2412fc3-7e05-43f4-88df-486227c3ae6d.

[2022-01-21 06:37] Mulan-94 commented on #1390
looking into it @francescaLoi

[2022-01-21 07:59] viralp opened #1399 "error in inspect__polcal worker"
Hi

I am getting the following error in the `inspect__polcal` worker. Why it is looking for the wrong file?
[log-caracal.txt](https://github.com/caracal-pipeline/caracal/files/7911309/log-caracal.txt)
[A1795_meerkat_pol.txt](https://github.com/caracal-pipeline/caracal/files/7911343/A1795_meerkat_pol.txt)
[code]

[2022-01-24 18:52] KshitijT commented on #1360
The branch in question was merged last year in stimela master so I am closing this issue. Please reopen if needed.

[2022-01-24 18:52] #1360 closed

[2022-01-25 07:09] KshitijT commented on #1356
Closing this issue as there is no response from @viralp , assuming that means it's sorted. :)

[2022-01-25 07:09] #1356 closed

[2022-01-25 07:17] KshitijT commented on #1316
Reminder to discuss this at today's telecon.

[2022-01-25 07:49] viralp commented on #1356
Yes it was sorted. Thanks.

On Tue, Jan 25, 2022 at 9:09 AM Kshitij Thorat ***@***.***>
wrote:

--
Postdoctoral Research Fellow
South African Radio Astronomy Observatory (SARAO) and Rhodes University
Square Kilometre Array, Cape Town
South Africa

[2022-01-25 08:00] KshitijT commented on #1356
Also @SpheMakh don't I get an Amarula now?

[2022-01-26 07:52] paoloserra opened #1402 "Unnecessary flag versions in line worker"
The `line` worker should create new flag versions only when it is run with settings that are expected to modify the flags. E.g., with `sunblocker` or `flag_mst_errors` enabled. However, it always creates new flag versions, even when just making a cube. That should be corrected.

[2022-01-26 17:54] paoloserra opened #1403 "Source edges with WSClean parallel deconvolution"
I've reported a possible issue with WSClean parallel deconvolution at https://gitlab.com/aroffringa/wsclean/-/issues/96 .

For the time being, it might be safer to set the CARACal default to normal (i.e., non parallel) deconvolution in the selfcal and line workers.

[2022-01-27 17:39] paoloserra commented on #1402
The same principle applies to the `selfcal` worker and, in there, it works fine.

A difference between the two workers is the following line.

`selfcal` worker: https://github.com/caracal-pipeline/caracal/blob/91f4bb34566e589b847f6aa752038886ae854998/caracal/workers/selfcal_worker.py#L343

`line` worker: https://github.com/caracal-pipeline/caracal/blob/91f4bb34566e589b847f6aa752038886ae854998/cara

[2022-01-27 17:58] paoloserra commented on #1402
So that line of code as it is in the `line` worker was implemented in both the `line` and `selfcal` worker in https://github.com/caracal-pipeline/caracal/commit/e124ae363c7042a3ed3f61a0d4b3951b587b7bb9#diff-bbbe3e3ea0f592e26dbf65c24e9d660f910de70bf76e7627e74ab0ec2769f37c  (8 May 2020).

Then this was fixed in the `selfcal` worker in https://github.com/caracal-pipeline/caracal/commit/843f12b8dbd7f2

[2022-01-28 09:36] francescaLoi commented on #1399
Hi @viralp , you are setting the wrong label in the `inspect__polcal` worker.  This should work:

[code]

[2022-02-01 08:03] #1402 closed

[2022-02-01 08:38] paoloserra commented on #1389
Fixed by Stimela release 1.7.3 https://github.com/ratt-ru/Stimela/releases/tag/1.7.3

[2022-02-01 08:38] #1389 closed

[2022-02-01 11:32] KshitijT commented on #1316
@SpheMakh does the new stimela release fix this? Otherwise I suggest we take it up for the next milestone (rather than 1.0.6).

[2022-02-02 05:16] AlecThomson commented on #1154
Hi all,

Sorry to bump this older issue, but I've encountered the same problem with both singularity/3.7.3 and singularity/3.8.4. Are there some extra stimela environment variables that need to be set?

For reference there's here my log:
[code]

[2022-02-03 09:05] ktrehaeven opened #1406 "Halo-FDCA (Flux Density CAlculator) incorporated into CARACal?"
Hi

There is a growing concern regarding the manual measurement taking of the flux of radio (mini-) halos. The ever-increasing sensitivity of continuum images and the way in which halo boundaries are manually defined leads to biases when calculating physical measurements.
The package Halo-FDCA (Flux Density CAlculator) (https://github.com/JortBox/Halo-FDCA) by Boxelaar et al. (2021), takes a point

[2022-02-03 09:10] paoloserra commented on #1406
That'd be really interesting!

The best way to incorporate it into CARACal would be to package it into Stimela first -- https://github.com/ratt-ru/Stimela .

My suggestion would be to open an issue there, and as soon as the Stimela developers take care of it we could include Halo-CFDA into CARACal.

I guess this would need to be added at the very end of the `selfcal` worker?

[2022-02-03 09:32] KshitijT commented on #1406
Sounds great ! Maybe though the selfcal worker is now too big and this should be put in a separate worker?

[2022-02-03 09:41] viralp commented on #1406
Yes, it should go after the selfcal worker. However, one thing that needs
to be considered here is that the Halo-FDCA works best for the point source
subtracted image and hence simply using it for selfcal image may add bias
in flux density measurements.

On Thu, Feb 3, 2022 at 11:32 AM Kshitij Thorat ***@***.***>
wrote:

--
Postdoctoral Research Fellow
South African Radio Astronomy Observatory (SA

[2022-02-03 12:54] paoloserra commented on #1406
Just to clarify -- currently continuum imaging is done by the `selfcal` worker, independent of whether one wants to self-calibrate or not.

If I understand correctly Halo-FDCA is just an analysis tool, which should not be used while self-calibrating. It should just run on the final continuum image -- possibly following the subtraction of the point sources.

If so, I think that @KshitijT is right,

[2022-02-03 14:25] ktrehaeven commented on #1406
I agree with @paoloserra. This should be in a future "image analysis" worker. And we still need to work on automating the point source subtraction. We can do it fairly easily with stimela and wsclean for 2gc data. I've been working on manually getting 3gc point source subtracted image but the automation of which is probably beyond me.

[2022-02-06 10:30] o-smirnov opened #1408 "cleanup crosscal skymodel options?"
I'm finding the new UHF-related schema a little confusing now: https://github.com/caracal-pipeline/caracal/blob/master/caracal/schema/crosscal_schema.yml#L67

How do ``meerkat_skymodel`` and ``meerkat_crystallball_skymodel`` interact? There are four combinations of settings, but in fact I can only think of three options (None, MeqTrees LSM, or crystallball), so should this not be a single three-wa

[2022-02-07 10:09] o-smirnov commented on #1408
And, just to prove my point, I went and f*cked up my first run -- used a MeqTrees model instead of crystalball. Apparently that's what happens when both options are set to "true".

Looking at this if statement here, the logic has become a bit twisted as features have accumulated:
https://github.com/caracal-pipeline/caracal/blob/master/caracal/workers/crosscal_worker.py#L576

For example, if you as

[2022-02-07 10:21] KshitijT commented on #1408
The Crystalball mode unfortunately was put in the same format as other options - i.e. it was left to the user to make the correct choice (especially for the UHF mode, I guess) without setting both true.

Yes, this is dangerous; the UHF models are not available for all the calibrators and there definitely needs to be more sophistication in selection.

What I was working on as a solution to the issu

[2022-02-07 10:26] o-smirnov commented on #1408
Well, let's see if we can all agree on the most reasonable set of options...

While we're at it, can we not have the band auto-determined? Maybe ``meerkat_band = L,UHF,auto`` with ``auto`` being the default? Otherwise it's too many knobs that the user has to remember to all set correctly.

[2022-02-07 10:27] KshitijT commented on #1408
It's a bit tricky, this is what I was trying in the previous iteration without success and gave up in the interest of time ; will try again.

[2022-02-07 10:32] KshitijT commented on #1408
Part of the reason being there is no band name in the obsinfo file that I can find.

[2022-02-07 11:55] o-smirnov commented on #1408
But there is frequency, surely? And if not, we can add a line of code to include that in.

OK, new problem. So I got crystalball to fill in the primary model, but now I'm getting this error from the secondary:
[code]
So of course, its MODEL_DATA rows are not populated. In fact the secondary should use a point source model, right? SO where is the secondary model set up in the code?

[2022-02-07 12:10] SpheMakh commented on #1408
I think Oleg's suggestion(s) is the way to go.

First a mode option

[code]
Then, if `skymodel` is not set then use meerkat sky that coincides with `fcal`, else use the model given by user. Finally, `meqtrees` and can have own sections like below

[code]

[2022-02-07 12:27] SpheMakh commented on #1408
I think we could add a `frequency_band` option, which defaults to the frequency information from these settings

https://github.com/caracal-pipeline/caracal/blob/83d919cd84101939abf101aa5c36559a1ee0e76f/caracal/workers/obsconf_worker.py#L115-L118

[2022-02-07 13:03] paoloserra commented on #1408
Why is it even called a `crystalball` model? Isn't `crystalball` just a tool to transform a set of clean components into visibilities? It's not like we used to have a `meqtrees` sky model. It was just called `meerkat` sky model, which seems more appropriate.

I would also prefer not to include `meerkat` into our parameter names. In principle, the same strategy can be used for whatever other telesc

[2022-02-07 14:33] o-smirnov commented on #1408
Yeah @paoloserra you're right, putting the tool name into the parameter is bad design. It would be cleaner if we named modes after the model formats they represent, e.g. ``wsclean-cc`` and ``meqtrees-lsm``.

Slight contradiction here though:

Agree with the latter point, not necessarily with the former. But you're opening up Pandora's box. The current model naming is a complete mess I find, reflec

[2022-02-07 14:38] paoloserra commented on #1408
yes!

It might be easier to ask users to set the model name X.lsm or Y.txt or Z.ascii without actually forcing them to comply with a specific naming format.

Of course, the models we make available ourselves could follow some reasonable naming convention like the one you suggested.

Then we can ask users which tool they want to use to transform the model into visibilities, and if the input file do

[2022-02-07 14:39] paoloserra commented on #1408
There could be an `auto` model name option, which looks at the data and picks the most appropriate model if it can find the telescope and frequency.

[2022-02-07 14:42] KshitijT commented on #1408
@o-smirnov , indeed the L-band models are not in, as mentioned in #1387 :
[code]

That sounds good !

That might be better. Do we want to do that for the release or later?

[2022-02-07 14:42] paoloserra commented on #1408
Later!!!! :)

But we can discuss tomorrow.

[2022-02-07 16:57] SpheMakh commented on #1408
Can crystalball predict from an tigger-lsm format? If not, let's a conversion function to tigger-convert and ditch meqtrees or vise versa and ditch crystalball. Then we can simply have a `skymodel` option that defaults to model that coincides with `fccal`.

The models should be intrinsic. But we can add disclaimer noting that the models are derived from MeerKAT data

[2022-02-07 17:20] KshitijT commented on #1408
So does meqtrees predict to MODEL_DATA for all fields? Because I was a bit stumped by @o-smirnov 's comment about the secondary.

Sounds good.

[2022-02-07 19:15] SpheMakh commented on #1408
It does not, see this line
https://github.com/caracal-pipeline/caracal/blob/83d919cd84101939abf101aa5c36559a1ee0e76f/caracal/workers/crosscal_worker.py#L581
same is true for crystalball

The secondary model is a point source, unless the user requests the secondary to be imaged.

[2022-02-07 19:43] o-smirnov commented on #1408
No, but crystalball is much faster than MeqTrees, and it's not all that much work to add MeqTree LSM support to it (well maybe a little more with @sjperkins leaving, but still).

Which doesn't work in conjunction with crystalball (or MeqTrees, I suppose) at the moment. The MODEL_DATA column is only partially filled (only for the primary), and then the secondary gaincal falls over because it can't

[2022-02-08 06:21] KshitijT commented on #1408
Looks like the same issue as #708 ? We can try adding the `smodel` parameter again, I don't see it in the code.

[2022-02-08 06:31] sjperkins commented on #1408
Quartical has an implementation of the Tigger LSM Predict which uses the Fused RIME. It contains the Feed Rotation and Beam terms (tested).

https://github.com/JSKenyon/QuartiCal/blob/77ee6a25d634381c316b863e0c4c4c4cc4c32107/quartical/data_handling/predict.py

[2022-02-08 08:34] SpheMakh commented on #1408
Gah, indeed.

[2022-02-08 08:44] SpheMakh commented on #1408
Let me have a go at adding tigger-lsm support to crystalball. In the meantime, let's have a `if lsm then use_meqtrees, elif wsclean_cc then use_crystalball` clause.

[2022-02-08 11:24] o-smirnov commented on #1408
So, I think we decided the following at today's meeting:

* We need a ``set_model`` section under ``crosscal: primary``, ``crosscal: secondary``, and ``polcal``

* This section should obviously have the same format for all three, in particular it should have a ``mode`` setting

* We'll add a utility function that populated the model of a given FIELD_ID based on a given set_model dict

A suggestion

[2022-02-08 11:28] KshitijT commented on #1408
Can I try to fix it temporarily  by adding usescratch = True for clearcal and making clearcal mandatory for now (in prep worker) ?

[2022-02-08 11:31] paoloserra commented on #1408
@o-smirnov Sounds good but just one question. When providing a model the idea is that CARACal should decide by itself whether that is in meqtrees or crystalball format?

[2022-02-08 11:34] paoloserra commented on #1408
There's nothing more permanent than these temporary fixes...  :)

Seriously, OK about `usescratch = True` if that helps, but please don't make anything mandatory if it is only needed for those affected by this issue.

People using meqtrees don't have the problem of an unset MODEL column for the secondary, so why would you force them to run `clearcal`?

[2022-02-08 11:38] KshitijT commented on #1408
Not even as an exercise in petty power? :(

Alright, I'll refrain.

[2022-02-08 11:39] paoloserra commented on #1408
oh, in that case, YES

[2022-02-08 12:31] KshitijT commented on #1316
@SpheMakh , I get a weird error with Stimela 1.7.3 now (when I use the `simulator` cab to predict):

[code]

[2022-02-08 12:51] o-smirnov commented on #1408
Yes that can easily be done. Here's what I'm not too sure about: let's say we ship both an LSM, and a point source model for e.g. 1934 (which we do now, actually). Do we give the user the option of saying e.g. "please use the standard LSM in Caracal", "please use the standard Caracal point source coefficients". Basically, we need to allow the following modes:

* Use a custom user-supplied file (ls

[2022-02-08 14:38] paoloserra commented on #1408
I agree on this list

[2022-02-08 14:51] KshitijT commented on #1316
Hmmm, no, the error I got was tile-size agnostic.

[2022-02-08 14:55] SpheMakh commented on #1316
I can't reproduce the error either, even on ilifu.

[2022-02-08 15:02] SpheMakh commented on #1316
Stimela also crashes when meqtrees does

[code]

[2022-02-08 15:22] KshitijT commented on #1316
Hmmm, then by consensus, let's call this a "feature" of my setup on Ilifu and close the issue. :)

[2022-02-08 15:22] #1316 closed

[2022-02-09 09:48] o-smirnov commented on #1408
OK, how about the following ``mode`` settings then:

* ``custom`` to auto-detect file format (with a separate ``filename`` option)

* ``custom-lsm``, ``custom-wsclean-cc`` to enforce a specific format

* ``custom-point-source``, with point source coefficients then specified in a subsection

* ``1jy`` for a 1 Jy point source

* ``auto`` (default) to auto-select preferred standard Caracal model

* `

[2022-02-09 09:58] bennahugo commented on #1408
Just to chip in on the lsm models specifically -- although there is
probably some scope for keeping meqtrees predict as a mechanism I strongly
recommend deleting the lsm files I provided back in 2017. The spectra on
all the off axis are wrong because a log spectrum cannot properly capture
the rolloff on the beams.

On Wed, Feb 9, 2022 at 11:48 AM Oleg Smirnov ***@***.***>
wrote:

--
--
Benjamin Hu

[2022-02-09 11:34] paoloserra commented on #1408
Not sure about `custom-lsm` and `custom-wsclean-cc` . With a `custom` mode the user gives their model file. Are you worried about situations in which CARACal does not recognise the format? But if CARACal does not recognise the format presumably the format is wrong and we don't want the user to tell us which predictor to use? Or maybe I'm missing something.

[2022-02-09 12:20] o-smirnov commented on #1408
Just pandering to the people who need more discipline. I.e., "I know my model is in this format, so in case I f*cked it up and gave you a different one by accident, please throw an error in my face."

[2022-02-09 12:22] paoloserra commented on #1408
I see. I wouldn't bother, but no big deal really.

[2022-02-10 06:42] paoloserra commented on #1403
This issue is now fixed in WSClean, see https://gitlab.com/aroffringa/wsclean/-/merge_requests/344 . To include that fix in CARACal we need to wait for the next WSClean release.

Re-opening this issue (with a more useful name) such that people using WSClean parallel deconvolution in CARACal have a reference.

[2022-02-10 06:49] KshitijT commented on #1403
Tagging this issue with `Stimela` label for bookkeeping.

[2022-02-16 14:47] Fil8 opened #1409 "wsclean updates and lost parameters"
when switching to higher versions of wsclean, I think that these parameters (that I am sure were available with wsclean 2.4, since we used for Fornax A) have not been made available anymore in  Caracal.

**local_rms**

**local_rms_window**

**multiscale_bias**

I suggest to put them back since for Fornax A (and maybe other extended sources that have been observed by MeerKAT) it would be useful to

[2022-02-22 08:57] paoloserra commented on #944
With Stimela 1.7.3 on Singularity we still do not print out the AOFlagger command.

[code]

[2022-02-22 09:23] SpheMakh commented on #1403
TODO (Sphe): Release a dev image from wslcean branch that has the fix

[2022-03-11 17:56] mpatir opened #1412 "OUT_OF_MEMORY - line worker"
The line worker complains that it is out of memory and dies after about 2 mins. This occurs on ilifu even with allocated mem requirements of (which is too much for the line worker):
#SBATCH --ntasks=1
#SBATCH --job-name='line'
#SBATCH --cpus-per-task=30
#SBATCH --mem=220
#SBATCH --time=48:00:00

The out of memory error seems to occur after calculating Doppler corrections. Is there a solution for t

[2022-03-14 10:54] paoloserra commented on #1412
Can you post your config (at the top of the caracal log, so we see all settings)?

How large is your MS?

[2022-03-14 12:30] SpaceMeerkat opened #1414 "Too many files open --Line worker"
Hi,

I encountered the following error when, running a line worker on my own machine.

Any help on why too many files would open would be greatly appreciated!

Note: The line worker section of the config file is copied at the bottom of this post in case it's useful.

Many thanks in advance

[code]

---------------------------------------------------------------------------------------

[code]

[2022-03-14 13:54] paoloserra commented on #1414
Can you check whether this is the same problem as in https://github.com/caracal-pipeline/caracal/issues/998 ? See `ulimit`.

[2022-03-14 14:06] SpaceMeerkat commented on #1414
Thanks for the link, just checking now to see if that solves the problem. The thread looks very promising..
________________________________
From: paoloserra ***@***.***>
Sent: 14 March 2022 15:54
To: caracal-pipeline/caracal ***@***.***>
Cc: James Dawson ***@***.***>; Author ***@***.***>
Subject: Re: [caracal-pipeline/caracal] Too many files open --Line worker (Issue #1414)

External email to Car

[2022-03-14 14:46] #1414 closed

[2022-03-14 15:48] paoloserra commented on #1414
great!

[2022-03-14 16:07] paoloserra commented on #1412
Can you post the settings as you see them in the log file, so we see all settings? Please use the "code" formatting as in my edits above, to make this easier to read. And which file is 516GB, the input one, the line file, before or after `mst`?

[2022-03-14 18:14] mpatir commented on #1412
Okay below is the entire log with input parameters. Excluding obsconfig things.
The 500GB is after transferring the model, before running transform in the line_worker. These data are from the 32k-mode so chanw ~ 5 km/s.

'''
2022-03-11 19:48:39 CARACal INFO: Version 1.0.5 installed at /scratch3/users/mpati/caracal_venv3/lib/python3.9/site-packages/caracal
2022-03-11 19:48:39 CARACal INFO:
2022-03-

[2022-03-14 19:55] paoloserra commented on #1412
The problem seems to be with saving the flag version `virgo_line_before`. It seems that the input MS (before running mstransform) is getting its flags saved to a new version. See this line in your log:
[code]

This should happen in the following bit of the `line` worker:

https://github.com/caracal-pipeline/caracal/blob/83d919cd84101939abf101aa5c36559a1ee0e76f/caracal/workers/line_worker.py#L377-L

[2022-03-14 20:10] mpatir commented on #1412
Here I am not sure why these flags are taking so much RAM.

I think I know why. I am running version 1.0.5 I think from December or Jan. I see we are now on 1.0.6 and it seems the flag version logic thing was fixed in Feb?. I will try 1.0.6 and see if this resolves the issue.

I will look into debugging to see what happened. Maybe getting 1.0.6 will solve this.

[2022-03-14 20:27] paoloserra commented on #1412
OK, 1.0.6 should do. It's probably still the same as master. Fingers crossed!

[2022-03-14 22:15] mpatir commented on #1412
Ok. I installed master which is basically 1.0.6.

It seems the issue is more systemic. It might be specific to this data set since this did not happen with all other pointing ms of the same observation.
It does not seem to matter where I start running the line worker it dies either way with this data set. E.g., I turned everything off except make cube and some other basic things (see below):

[cod

[2022-03-15 08:23] paoloserra commented on #1412
uh, ok, so now it died while imaging?? :(

[2022-03-15 12:14] mpatir commented on #1412
Yep. Well, it is not just imaging. The line worker dies at basically every starting step. For example, if I switch on subtract model it dies there too with the same "out of memory" error message. So wherever it has to start working it dies.

[2022-03-16 15:54] viralp opened #1415 "Noise diode pol calibration"
Hi. I want to know does caracal support the noise diode delay cal for polarisation calibration of MeerKAT data? I have obtained external delay cal data for MeerKAT observation, so wondering if caracal support this data to do polarisation calibration? Thanks.

[2022-03-17 13:29] IanHeywood commented on #1412
Coupling `#SBATCH --mem=220` with `-mem 100` in the wsclean call might be the problem. wsclean will look at the memory on the node, think it has access to 256 GB, try to use that amount and then will get promptly killed by the slurm controller. You can try dropping `-mem` to 220/256 = 85 and see if that fixes it.

[2022-03-17 18:48] mpatir commented on #1412
@paoloserra and @IanHeywood . Thank you both very much for looking into this issue.

I could kick myself right now. It appears I was asking for 220 bytes (see first text in the thread) and not 220GB in my sbatch settings. Simply changing this bit from ``` #SBATCH --mem=220 ``` to ``` #SBATCH --mem=220GB ``` solved the issue.

I have also lowered the memory requirement to 85*GB* so avoid running in

[2022-03-17 22:02] paoloserra commented on #1409
As far as I can see from https://caracal.readthedocs.io/en/latest/manual/workers/selfcal/index.html most of the parameters you mention are available in the selfcal worker.

A possible exception is the multiscale bias. Could you confirm?

[2022-03-17 22:05] #1374 closed

[2022-03-23 09:06] Sinenhlanhla opened #1416 "J0137+3309(3C48) as a standard polarization calibrator?"
I get the error below when I try to execute the polcal worker
2022-03-23 10:55:47 CARACal ERROR: Unable to determine pol_calib=xcal. Is your obsconf section configured properly?Your setting of pol_calib=xcal selects J0137+3309.
                                    Supported calibrators are 3C138, 3C286, J1130-1449, J1331+3030, J0521+1638.
                                    Alternatively, you can c

[2022-03-23 10:10] bennahugo commented on #1416
This for MeerKAT data? A note that 3C48 is essentially unpolarized below S-band subband 3. It has been removed from katconfig as HV phase calibrator

[2022-03-23 10:23] Sinenhlanhla commented on #1416
Yes, it is for MeerKAT data.

[2022-03-23 13:06] bennahugo commented on #1415
They are auto applied by the SP pipeline if you have done delaycal (I think it is a good bet for data taken after say 2019.06 @viralp

There is a offset missing that stems from just applying the delays without the dipole delays (~~~80ps) as the signal is injected before that point. You would also still be missing a constant offset as only the delays are applied solely as a course delay without pha

[2022-03-30 08:37] Sinenhlanhla commented on #1416
I've tried deriving the calibration tables by fitting the parallactic angle of J0137+3309, but I get the following error

# 2022-03-29 08:12:56	INFO	polfromgain::::+	##########################################
# 2022-03-29 08:12:56	INFO	polfromgain::::+	##### Begin Task: polfromgain        #####
# 2022-03-29 08:12:56	INFO	polfromgain::::	polfromgain(vis="/stimela_mount/msdir/cfp2020_4b-cal.ms",tabl

[2022-04-05 09:35] francescaLoi commented on #1416
can you show the elevation plot? It is created by CARACal at the beginning of the run and saved in the msdir

[2022-04-05 09:58] Sinenhlanhla commented on #1416
@francescaLoi I've attached the plot here
![cfp2020_4b-elevation-tracks](https://user-images.githubusercontent.com/20106975/161729414-adf31837-9d44-49c0-907e-3ac31b7a7004.png)

[2022-04-05 12:46] o-smirnov commented on #1354
Just had @SinahManaka trip over this one again. We are **still** using incorrect calibrator models when ``setjy()`` is used instead of the model predict. :(

[2022-04-22 08:03] SpaceMeerkat opened #1417 "Catching hidden bad antennas"
I'm reducing some MeerKAT data and I've noticed a regular problem appearing. In the post-crosscal diagnostic plots I'm seeing cases of almost zeroing out when correcting callibrator amplitudes (see example figure below)

<img src="https://user-images.githubusercontent.com/32263989/164639015-e4fe5d10-5594-43f1-b502-4ba7ea7868c0.png" width="500" height="300" />

Which is directly responsible for cre

[2022-04-22 08:10] paoloserra commented on #1417
Maybe you could try this? https://caracal.readthedocs.io/en/latest/manual/workers/flag/index.html#flag-autopowerspec

I haven't used it much myself but it might help. The description says:

[2022-04-22 08:12] SpaceMeerkat commented on #1417
I'll give this a try and report back, thanks!

[2022-04-22 08:12] paoloserra commented on #1417
Another thing to try is to produce diagnostic plots where you colour-code by antenna. That would confirm that this is a single-antenna problem indeed. Do you know how to do that?

[2022-04-22 08:26] SpaceMeerkat commented on #1417
I have colour coding per antenna for the plots above with the exception of the amplitude vs. frequency which is the real key one that would be very useful to colour-code by antenna. But I haven't explicity incuded a worker parameter for those so they must be wrapped up as default somewhere... so in short, unfortunately I don't. Is there a way to colour-code the amp vs freq plots by antenna? I feel

[2022-04-22 08:40] paoloserra commented on #1417
For highly flexible plotting you can use the `shadems` section of the `inspect` worker. This is a section of an example I got from @o-smirnov .

Let me know whether that works.

We need to improve the documentation of this...

[code]

[2022-04-22 11:39] SpaceMeerkat commented on #1417
Naive question, but does the `ANTENNA1` in `- "-x FREQ  -y amp  -c ANTENNA1"` indicate that this line would need repeating for all antennas in order to generate a plot for each antenna? Probably not but if so things could get tricky when not knowing if some antennas are autoflagged.

[2022-04-22 11:43] SpaceMeerkat commented on #1417
Just to report on this, unfortunately it still left in the troublesome antenna (assuming that it is just one bad antenna).

[2022-04-22 11:46] paoloserra commented on #1417
ANTENNA1 is a variable indicating the first antenna of each baseline. So the command is saying to please colour-code the visibilities according to that antenna.

[2022-04-22 14:50] SpaceMeerkat commented on #1417
Ah yes that would work too... I guess that's a nice solution if you're not sure if it's more than one antenna causing a problem! Whereas if you are sure it can only be one antenna then @pauloserra 's [solution above](https://github.com/caracal-pipeline/caracal/issues/1417#issuecomment-1106196481) saves a bit of disk space.

I assume from the default .yml you linked to, one can simply chop out the

[2022-04-22 14:59] bennahugo commented on #1417
The auto correlation checker should be able to autoflag these out before
calibrating.

However, I usually recommend a strategy to just quickly plot up the
autocorrelation amps in time and in frequency and look for cases of
saturation, rapid dropouts, etc before running things through a pipeline,
because the autocorr flagger only detects the largest of errors affecting
entire scans at a time. As it

[2022-04-22 15:13] SpaceMeerkat commented on #1417
I thought `flag_autocorr` was supposed to pick these things up too which why I was really interested in seeing the per-antenna plots after the crosscal itself because I assumed whatever problem existed was too subtle for the `flag_autocorr` to pick up. But it wouldn't be a bad idea to add a pre-calibration `inspect` to validate that prior statement about subtle problems prior to crosscal!

[2022-04-22 16:31] paoloserra commented on #1417
I think @bennahugo meant `flag_autopowerspec`, not `flag_autocorr`. The latter simply flags all auto-correlations.

[2022-04-26 03:16] AlecThomson opened #1418 "Making a continuum cube"
Hi there,

I'm interested in producing full-Stokes continuum cubes, and I'm wondering what the best setup would be to do this using Caracal. Would it be as 'simple' as enabling the `line` worker, but disabling some of spectral-line specific options (e.g. `mstransform`). Is there possibly an example configuration I could use as basis for this kind of application? Thanks!

[2022-05-03 09:33] francescaLoi commented on #1418
Hi @AlecThomson , you can use the `selfcal` worker to make N total intensity images with N being the number of output frequency channels. Concerning QUV, I am developing a new worker to image them. Hopefully, this will be merged into the master branch within June.

[2022-05-05 13:54] SpaceMeerkat commented on #1417
Just to update on this thread.

Using the suggested plotting routines above (thanks eveyone for that help!) I've found that the primary reason for these anomalous drops in phase/amplitude (leading to separate blobs in the real-imaginary plots) are from rogue scans rather than single antennas.

I found that plotting (per antenna) amp-vs-freq and real-vs-imag works very well for isolating these scan

[2022-05-09 09:01] Athanaseus commented on #1406
Now available in `stimela` master.

I'm renaming this issue to Add `image-analysis-worker`.

This worker may include (open for discussion):
- `Halo-FDCA`
- `aimfast` (plotting routines and online catalog comparisons)
- `breizorro` (masking tool)
- spi map generating tools (possibly `pfb-clean` which is also capable of convolving images to a user-specified resolution)
- even source finders (`sofia2

[2022-05-09 13:02] paoloserra commented on #1417
Maybe per-scan plots (no colour coding) would be useful in this case? Or amp vs scan number? Especially if the entire scan is bad (all times and antennas).

[2022-05-09 13:16] bennahugo commented on #1417
It is not part of this or my pipeline -- I open the data in plotms with the
following plotted before starting.
 - time vs amp on the GPS and GSM frequency bands. Look for saturation and
flag the scans associated to saturation events -- you will see the shape of
the primary beam being tracked out and the amplitude maxing out at around
4000Jy. When this happens the system is non linear and you need

[2022-05-09 13:16] SpaceMeerkat commented on #1417
Ah.. yes good point (feel a bit silly not seeing that myself now actually!). Amp vs scan number would work certainly pre-xcal for catching obvious dropout and saturation.. but if you wanted to look post-xcal, can you simply replace `iter_ant` with `iter_scan`?

e.g.

[code]

[2022-05-09 21:34] rubyvanrooyen opened #1419 "Adding 'BPOLY' option to bpcal"
Update CARACal to enable BPOLY option in crosscal worker

[2022-05-09 21:40] rubyvanrooyen commented on #1419
[code]

[2022-05-09 21:41] rubyvanrooyen commented on #1419
[code]

[2022-05-09 21:45] rubyvanrooyen commented on #1419
@SpheMakh, @o-smirnov the basics are in the workers and in essence the CASA command will now apply the 'P' solution.
Cleaning up some runtime errors

[2022-05-10 09:42] SpaceMeerkat commented on #1417
Just updating here that the code snippet above does indeed run fine, and that plotting by individual scan has helped identify these rogue scans. Many thanks all!

[2022-05-10 09:43] #1417 closed

[2022-05-10 09:58] SpaceMeerkat opened #1420 "Is it possible to flag by 'chan' rather than frequency range?"
In the documentation for `flag_spw` (see [here](https://caracal.readthedocs.io/en/latest/manual/workers/flag/index.html#flag-spw)), it specifies that:

...Does this mean that it's not possible to feed specific channel numbers for more rapid/chunked flagging?

I only ask because in the output diagnostic plots it can be hard to gestimate the location of rfi signals that slip through aoflagging (e.g.

[2022-05-10 11:43] o-smirnov commented on #1420
You can also use the ``flag_manual`` option for more elaborate and fine-tuned flagging. Something like

[code]

(where X and Y are starting and ending channel numbers) should do the trick for you.

Note also the HTML plots in the output directory, these are interactive so you may be able to look up more precise frequency information on them if you need to.

[2022-05-10 12:19] SpaceMeerkat commented on #1420
Ah yes that could work, thanks! In fact that also gives the flexibility to specify channels to flag only in specific scans if necessary.

On the HTML plots point, I've noticed only a few of the diagnostic plots are actually available as HTMLs, the rest being output as PNGs. Is there a way to force HTML outputs at all for say amp vs freq or chan plots?

[2022-05-11 07:18] rubyvanrooyen commented on #1419
To apply the added 'P' rule to the primary calibrator worker simply change the rime from 'KGBAKGB' to 'KGPAKGP', which will now create bandpass calibration tables with a `.P?` extension rather than a `.B?` extension
e.g. `J1939-1625501775_sdp_l0-1gc_primary.P0` and `J1939-1625501775_sdp_l0-1gc_primary.P1`

[2022-05-11 07:27] rubyvanrooyen commented on #1419
The biggest issue is that the BPOLY calibration table uses a different table layout than the other calibration tables. This cause a couple of things to fail. For the moment, these are addressed symptomatically and code added to "hack" out the issues and get the pipeline to run.

Expected calibration table schema:
![image](https://user-images.githubusercontent.com/1318643/167792942-84ec8e0e-7971-4a

[2022-05-11 07:35] rubyvanrooyen commented on #1419
This cause a Stimela exception
[code]

Fundamentally this can be addressed through a try/except block around the test, but it appears that only the BPOLY calibration table generated only populated the "FIELD_ID" column, with the "FIELD_NAME" column being empty.
Thus the test is not relevant for this calibration table and skipped

[code]

[2022-05-11 07:37] rubyvanrooyen commented on #1419
Another casualty of the differing calibration table schemas is the convenient `plotgains` option since this also causes Ragavi to fail. Thus the primary calibrator worker for 'P' currently requires `plotgains: false`

[2022-05-11 12:15] SpheMakh commented on #1419
@Mulan-94 this breaks the ragavi-gains plots, so could you please have a look at the new gain table format and make the required changes to ragavi.

[2022-05-11 19:34] rubyvanrooyen commented on #1419
ragavi gains plot error

[code]

[2022-05-12 10:25] rubyvanrooyen commented on #1419
@SpheMakh @Mulan-94 I did a test run with some WB and NB data, and it seems that even casa has issues plotting the cal table results.
Hold off a little with the investigation to add the bcal plots with bpoly to ragavi
I just want to see what is the error and if it would be worth while

As I understand it current -- when I say `plotgains: false` in the primary worker for crosscal, then no plots are

[2022-05-18 09:53] PeterKamphuis opened #1422 "Flag summary exits with error code 1"
Running the current master version on a GMRT data set results in an error  when producing the flag summary.
This is due to the two fake GMRT antennas that throw a NaN in 'output/diagnostic_plots/Original-cal-flag-flagging-summary-0.json' (See full traceback below).

This is is despite setting the inspect to false in the yaml file.

It is easily solveable by running an mstransform that exclude the

[2022-05-31 10:47] PeterKamphuis commented on #1422
Here is the [log](https://github.com/caracal-pipeline/caracal/files/8804399/log-caracal_flag_crash.txt)

disabling the summary works but then it has to be disabled every where, i.e. when disabled in the first flag it crashes in crosscal on the same issue. I'll try to add the antenna's to the transform worker.

[2022-05-31 11:02] paoloserra commented on #1422
cool, thanks!

[2022-05-31 11:02] o-smirnov commented on #1422
The solution is to check for NaNs in ``MSUtils/flag_stats.py`` and replace them with 0s. @Athanaseus you perhaps?

[2022-05-31 11:18] Athanaseus commented on #1422
@PeterKamphuis is it possible to share/email me a subset of the similar GMRT data.

[2022-05-31 17:24] PeterKamphuis commented on #1422
@SpheMakh  the cab/casa_mstransform does not have the antenna parameter while mstransform does. Is there a reason for this? Or am I missing something?

Also according to `stimela cabs -i casa_mstransform` the scan parameter is there twice. Maybe this is a stimela issue instead of caracal?

[2022-06-01 12:55] paoloserra opened #1423 "1 pixel edge error in 3D clean mask regridding"
The 3D clean mask produced by the line worker by regridding a user mask to the WCS of the cube has a small issue at the edge of the cube. The screenshot below shows that the mask ends abruptly 1 pixel short of the bottom of the cube. The same happens at the left edge of the cube. However, it does not seem to happen a the right and top edges...

![image](https://user-images.githubusercontent.com/65

[2022-06-02 08:24] PeterKamphuis commented on #1423
Is the whole mask shifted or just that edge missing? There is no emission in your image so it is difficult to tell.

It seems that the CRPIX in projected header (https://github.com/caracal-pipeline/caracal/blob/d0b9d985324f2f60205e3b2e05546c95d80987ff/caracal/workers/line_worker.py#L859) is integer based (If this is the correct location for reprojection) which would cause shifts if the axis is une

[2022-06-06 10:30] paoloserra commented on #1423
No @PeterKamphuis , I've looked closely and it is not an offset. It's really the edge missing. (The reason you see no emission within the mask is that you're far into the primary beam of that pointing, while the mask to be regridded came from a mosaic of many more pointings. So in this particular case the bug is not making any real damage.)

[2022-06-06 10:48] PeterKamphuis commented on #1423
Ok, then it is probably also not a problem in the header.

[2022-06-10 07:39] rubyvanrooyen commented on #1419
How to get gain plots with BPOLY calibration tables:

There seem to be a reference requirement for the BPOLY cal table. It keeps the polynomial fit only and needs to refer back to the input MS used to cal in order to calculate the fit for display.
The issue is overcome by adding a symbolic link to the MS in the `caltables` output dir.

Need to add a line to the `crosscal` worker to make the symlin

[2022-06-10 07:39] rubyvanrooyen commented on #1419
CASA `mstransform` does not currently support BPOLY calibration tables.

Do manual `applycal` before running `transform` worker on target and disable `otf` option

[2022-06-14 07:36] paoloserra commented on #997
For the record, with Stimela 1.7.3 we still get the ugly logging error messages when starting tricolour.

[2022-06-14 07:43] paoloserra commented on #999
Still getting this error in Stimela 1.7.3.

[2022-06-14 07:45] paoloserra commented on #1239
I no longer see this.

[2022-06-14 07:45] #1239 closed

[2022-06-14 08:16] paoloserra commented on #1284
Done in #1314 for RA,Dec regridding of the user clean mask. It assumes the clean mask and the cube are on the same spectral grid.

@healytwin1 is taking care of generalizing this to the spectral axis too, see #1411.

[2022-06-17 08:25] dane-kleiner commented on #1320
After a discussion with @paoloserra, @edeblok and @healytwin1, the parameters we will make available in caracal are:

pipeline.threads (to be hardcoded)
input.data (hardcoded)
input.mask check if it's in selfcal
input.noise
input.weights
flag.auto
flag.catalog
flag.radius
flag.region
flag.threshold
scaleNoise.enable
scaleNoise.fluxRange
scaleNoise.interpolate
scaleNoise.mode
scaleNoise.scfind
scal

[2022-06-30 08:16] gigjozsa opened #1429 "Adjust ddcal worker to accommodate new regions layout"
https://github.com/caracal-pipeline/caracal/blob/55737c6311f12c09a73db27c1557abe3f413c9a3/caracal/workers/ddcal_worker.py#L11

write_ds9 does not exist any more  in regions. Either one needs to specify the regions version in the system file or reprogram ddcal worker

[2022-07-01 10:34] healytwin1 opened #1430 "Plotting request for crosscal diagnostic plots"
Would it be possible to add lines connecting the points so that dodgy antenna stick out more clearly. It is particularly difficult to track how a particular antenna behaves in the phase vs time plot. This is for the in the crosscal diagnostic plots. In the attached figure it is very easy to see that the amplitude of an antenna (dark red) dips low in the second last scan, but even when only isolati

[2022-07-01 13:34] Mulan-94 commented on #1430
Hi @healytwin1, If I understand the problem correctly, it is possible to select a single antenna from these plots by clicking on it at the legends. Have you tried that yet?

[2022-07-05 15:49] rubyvanrooyen commented on #1419
Investigate possible options for adding BPOLY gaintable displays to Ragavi

The new table structure will have a ripple affect down the line of software packages and underlying libraries.
The major differences are summarised in the comments below.

At the moment it appears that even in the CASA implementation not all functionality supports this structure (such as `mstransform` task limitation). I a

[2022-07-05 15:52] rubyvanrooyen commented on #1419
More changes to `crosscal_worker` to allow applycal of target at the end for the `crosscal` worker to side step the fact that mstransform does not currently support the BPOLY table structure.

Inspection showed that when you have a BPOLY caltable, you have to specify the gainfields explicitly. So for if applycal for target, remove the nearest default and explicitly insert the gainfields.

[code]

[2022-07-05 15:55] rubyvanrooyen commented on #1419
You unfortunately have to calibrate the whole MS, but applycal now work for target. After which the corrected target data can be split out
[code]

[2022-07-06 13:44] Fil8 opened #1431 "debug sagvol"
when subtracting with a mask to exclude the emission, there were issues with zeros and np.nans,

i solved the problem changing these lines

https://github.com/caracal-pipeline/caracal/blob/165a4269556fd50ef32ecc6584396aa6753cd1ef/caracal/workers/utils/image_contsub.py#L175

into:

[code]

[2022-07-10 03:23] AlecThomson opened #1432 "Corrupt container?"
This may an upstream issue in [stimela](https://github.com/ratt-ru/Stimela), but I'm getting this same error repeatedly. I've tried purging the and rebuilding the Stimela containers (including the cache). But it seems like the ragavi container is corrupt.

Are there any other steps I should take to try to get around this?

Thanks!

Relevant error message:
[code]
[Full log and config](https://gist.

[2022-07-12 11:06] SpaceMeerkat opened #1434 "Selfcal model transfer requires very large memory size"
## Description of issue

I'm attempting to perform a selfcal model transfer, but cubical is saying that the total estimated memory usage is ~600 Gig (see error message below).

This is for a 32K MeerKAT observation using 3905 channels, but during the selfcal modelling I'm channel averaging with 100 channels per bin in the hopes of using less memory and keeping the compute speed as high as possible

[2022-07-12 11:26] KshitijT commented on #1434
@SpaceMeerkat, could you please share the full log of the selfcal?
From a cursory glance I would say that the `dist-max-chunks` parameter, which is by default 4, but is set to 8 in your config might be the issue here, but I'll take a closer look.

[2022-07-12 13:17] SpaceMeerkat commented on #1434
Hi @KshitijT
Many thanks for the help, I really appreciate it, and sorry for my slow reply... loadshedding! I'll attach all of the logs for the full selfcal run to this reply in case one of them is hiding something potentially useful.

[log-transform__avg-save-caracal_legacy-ms0-20220630-153442.txt](https://github.com/caracal-pipeline/caracal/files/9093219/log-transform__avg-save-caracal_legacy-ms

[2022-07-20 13:10] rstofi opened #1436 "Non-standard flux calibrators"
Hi, I am working with some unusual MS in which I have only a single calibrator source that I use as a primary (and secondary) calibrator

[2022-07-20 16:56] o-smirnov commented on #1436
Come to think of it, 3C273 is a pretty shitty calibrator for MeerKAT since we should resolve it nicely. But still, if it's in the standard CASA list, Caracal should pick it up and use it without complaint. @paoloserra @gigjozsa any ideas?

[2022-07-27 08:46] o-smirnov commented on #1432
Hmm odd, never seen that error. "Corrupted: wrong partition size"?? @SpheMakh any comments?

Maybe @Athanaseus should try rolling a 1.7.4 ragavi image in stimela to see if this goes away.

[2022-07-27 09:46] Athanaseus commented on #1432
I can't reproduce this. Before building `1.7.4` (which has no changes) can you run the following recipe using `stimela`.

`mkdir test`
`cd test/`
`mkdir output input msdir`
`cp /path/to/gain/table/mypipelinerun-1603319074-1kgb_primary.K0 output/`
`vi ragavi_cab.py`

[code]

`(stimela) $ python ragavi_cab.py`

[2022-07-28 07:28] AlecThomson commented on #1432
Thanks @o-smirnov  and @Athanaseus!

Some quick updates - I was able to 'workaround' this issue by manually running singularity pull outside of Stimela. All seemed to run fine after that.

Here is the result of running the above script:
[code]
One particular pain is that my python envs were recenly zapped by a disk purge on my HPC, so this from a new build of caracal etc. - which makes reproductio

[2022-07-28 16:13] KshitijT commented on #1436
@rstofi , I couldn't find 3C273 in the CASA flux calibrator database; it's definitely possible that while it's good enough for a gain calibrator, the flux density of 3C273 is variable at higher frequencies at least and thus it does not figure in the CASA flux calibrator database? Please correct me if I am wrong.

So to get around that, what I have done is the following: I have added a custom model

[2022-07-28 17:07] rstofi commented on #1436
@KshitijT thanks for the quick fix, I will test it and get back to you if I have any issues!

[2022-07-29 14:20] rstofi commented on #1436
@KshitijT  I managed to run the installation of the custom branch, and I ran into the following error:
[code]

[2022-07-29 14:24] KshitijT commented on #1436
Hmmmm, weird, let me take a look. It's probably some tab or something.

[2022-07-29 16:38] KshitijT commented on #1436
@rstofi , I think I have fixed the issue; could you please re-pull the branch?

[2022-07-30 20:43] rstofi commented on #1436
It is working, but when I make a dirty image of the calibrator, I measure ~3235 Jy peak flux, and my target field images are messed up too. I wonder if the two are related...  I will do some double-checking of my imaging parameters and get back to you!

[2022-07-30 22:33] KshitijT commented on #1436
@rstofi I have fixed the 3k Jy flux issue, I think - please repull from the branch and see if you get the correct flux (just re-running crosscal should do it, I think). About the target images being messed up - I am not sure they are related, but please do check if that improves too.

[2022-08-01 07:09] ianjarog opened #1437 "wscl_user_clean_mask not used by CARACal"
Hi all,

So I gave a mask to CARACAl using wscl_user_clean_mask: reprojected_extended_fixhed_int.fits in the make_cube line worker but apparently, the mask was not used at all since my resulting clean component model is all over the place. I attached the resulting clean component model at one channel and the mask at the corresponding channel. The clean component model is present even in the channe

[2022-08-01 07:12] paoloserra commented on #1437
Could you attach the full list of `make_cube` options as they are printed out in the caracal log?

[2022-08-01 07:20] ianjarog commented on #1437
@paoloserra
[log-caracal.txt](https://github.com/caracal-pipeline/caracal/files/9231753/log-caracal.txt)

[2022-08-01 07:28] paoloserra commented on #1437
The problem is `wscl_sofia_niter: 3`.

If you want to clean with your own clean mask only, what is the reason to have multiple imaging steps and asking SoFiA to make a clean mask?

As explained at https://caracal.readthedocs.io/en/latest/manual/workers/line/index.html#make-cube , the user clean mask is only used for the first imaging step.

If the user requests multiple imaging steps (as in your c

[2022-08-01 07:32] ianjarog commented on #1437
@paoloserra I see it now, Thanks a lot. I will close this for now.

[2022-08-01 11:20] kendak333 opened #1438 "update of regions package breaking ddcal worker"
Fresh install of stable caracal release has an ImportError with the ddcal worker due to an update to the regions package to version 0.6:

`Traceback (most recent call last):`
  `
File "/home/knowles/caracal-venv/lib/python3.8/site-packages/caracal/workers/worker_administrator.py", line 115, in __init__
    wkr = __import__(_worker)
`
  `
File "/home/knowles/caracal-venv/lib/python3.8/site-packages

[2022-08-01 11:29] KshitijT commented on #1438
@kendak333 , thanks for posting the solution. :)

The issue you faced is the same one documented by @gigjozsa in #1429 , I think. i'll try to implement an internal solution soon.

[2022-08-01 13:27] kendak333 commented on #1438
@KshitijT ah ok, I did try search for existing issues but didn't come up with any, possibly the spotty internet connection here.

[2022-08-01 13:53] Athanaseus commented on #1432
@AlecThomson glad it works for you, this should be good.
I'll close this, and feel free to open it if you experience a similar issue.

[2022-08-01 13:53] #1432 closed

[2022-08-15 07:43] ktrehaeven opened #1440 "QuartiCal to replace CubiCal?"
Hi @JSKenyon and others

Are there any plans to replace CubiCal with QuartiCal? If so, I thought I'd just open an issue for discussion.

[2022-08-24 14:16] gigjozsa commented on #1431
Thank you, this is now in branch imcontsub. Testing implementation in CARACal itself.

[2022-09-13 08:50] Sinenhlanhla opened #1444 "multiple spws in selfcal?"
Is it possible to have multiple spws in the selfcal worker or do I have to concatenate to one spw?
I am currently getting the error below:
(venv) root@oem-Precision-5820-Tower:/mnt/12tb/merghers/epoch1# caracal -ct singularity -c epoch1.yml -sid /mnt/12tb/stimela_images/
2022-09-13 10:40:32 CARACal INFO: Invoked as /home/oem/venv/bin/caracal -ct singularity -c epoch1.yml -sid /mnt/12tb/stimela_ima

[2022-09-13 08:56] KshitijT commented on #1444
@Sinenhlanhla , please try the spwid parameter as explained here: https://github.com/caracal-pipeline/caracal/blob/master/caracal/schema/selfcal_schema.yml#L53 .

[2022-09-13 09:01] KshitijT commented on #1444
Hmmm, I thought this was fixed, apparently not. Could you please share your selfcal config, @Sinenhlanhla ?

[2022-09-13 09:40] Sinenhlanhla commented on #1444
@KshitijT I've tried using brackets/quotations for the different spwids but I still got the same error.
[epoch1-selfcal.txt](https://github.com/caracal-pipeline/caracal/files/9555666/epoch1-selfcal.txt)

[2022-09-19 09:44] paoloserra opened #1445 "u=0 flagging error"
#1425 implements Filippo's u=0 flagging into CARACal.

I've made some tests and code edits for that PR and everything seemed OK, but I'm now getting some differences between the CARACal implementation and a previous, stand-alone script with the same algorithm. The latter is correct, so something is not right in CARACal.

I'm getting these differences on large Mk datasets, which are not the same I

[2022-09-19 17:55] #1445 closed

[2022-09-29 12:47] kendak333 opened #1447 "ddcal worker not accepting target name"
The ddcal worker is replacing the point in a field name with a dash, and then throwing a KeyError (presumably because 'J2023-3..' is not the field name, 'J2023.3..' is. Output from the logfile:
[code]

Here's the yaml input for the worker
[code]

[2022-10-04 09:07] healytwin1 commented on #1430
Ah, I hadn't tried that, but that is good to know and is certainly useful. Sorry for the delayed response, this got lost in my github notifications.

[2022-10-18 09:52] phetogoportia opened #1449 "Calibrating uGMRT: plotting error"
@Athanaseus

I am trying to calibrate uGMRT data with caracal; however, it fails with an error instead:

# MSUtils.flag_stats - 2022-10-15 20:18:51,926 INFO - Computing correlation flag stats data...
# MSUtils.flag_stats - 2022-10-15 20:18:51,926 INFO - Correlation Names: ['RR', 'LL']
# MSUtils.flag_stats - 2022-10-15 20:18:58,439 INFO - Output json file: /stimela_mount/output/3c105-cal-flag-flagg

[2022-10-19 08:09] Athanaseus commented on #1449
Duplicate of #1422

[2022-10-19 08:55] #1422 closed

[2022-10-19 09:48] kendak333 opened #1450 "secondary gaincal failing"
Got some weird CASA behaviour when I run crosscal after populating primary model via crystalball. gaincal fails when searching for MODEL_DATA, but it shouldn't be looking as smodel is set. Log output below (lines 9507 to 9541)

[log-caracal.txt](https://github.com/caracal-pipeline/caracal/files/9819258/log-caracal.txt)

[2022-10-19 13:36] KshitijT commented on #1450
@kendak333 , how was the primary model populated via crystalball ? Was it done within the pipeline or manually?

[2022-10-19 16:37] kendak333 commented on #1450
@KshitijT manually - ran the yaml up to end of flag__rfi, then ran
`
crystalball -sm ~/mkatmodels/fitted.PKS0407.UBand.wsclean.cat.txt -f <fieldID> <path-to-cal.ms>`

and then restarted the yaml from crosscal

[2022-10-19 19:07] KshitijT commented on #1450
Ah, I see now why the error seemed so familiar, this is the same one encountered a while ago by @o-smirnov : https://github.com/caracal-pipeline/caracal/issues/1408#issuecomment-1031385295 .
It's been a while since I looked at the code; but I think creating the scratch column (maybe via running clearcal with addmodel? ) would work. Alternatively, you could try the inbuilt UHF primary models, but I

[2022-10-20 08:05] kendak333 commented on #1450
I'm specifically trying to run it with the model from Ben, so not the inbuilt models.  Had a look at the thread you referenced - the smodel parameter is included, but CASA is still looking for the MODEL_DATA anyway. Unless the syntax for the smodel is wrong? e.g. the Stokes parameters as strings, not numbers?

[2022-10-20 08:13] KshitijT commented on #1450
--> I'm specifically trying to run it with the model from Ben, so not the inbuilt models.

The "in-built" models are from Ben too ! :)

--> - the smodel parameter is included, but CASA is still looking for the MODEL_DATA anyway. Unless the syntax for the smodel is wrong? e.g. the Stokes parameters as strings, not numbers?

I am not sure the smodel parameter fills in the MODEL_DATA, but I'll take a

[2022-10-20 08:21] kendak333 commented on #1450
From [here](https://github.com/ratt-ru/vermeerkat/tree/master/vermeerkat/data/input)?

[2022-10-20 08:47] kendak333 commented on #1450
I've checked with Ben and caracal is still using the old LSM models, so at the moment crystalball is the way to go for me. He's given the suggestion to run clearcal with usescratch=True before doing the crystalball step in order to populate the MODEL_DATA for the secondary. @KshitijT My question then is how do I do that in the yaml, or do I need to do it outside of caracal?

[2022-10-20 08:56] KshitijT commented on #1450
@kendak333, you can do it offline as per Ben's suggestion.

Fyi CARACal does have access to the crystalball models: https://github.com/caracal-pipeline/caracal/blob/master/caracal/schema/crosscal_schema.yml#L72 ; but I just had a chat with @bennahugo  so I'll first confirm if I need to update the models.

[2022-10-24 11:33] henedler opened #1451 "crosscal: delay calibration fails"
Hi,
I want to calibrate a recent MeerKAT observation, however, I get the following error during the step 'delay_cal-kgb-0-0-primary:: K calibration':
[code]

This looks a lot like #1356, but my data is not fully flagged - the field of J1939-6342 is flagged at ~58%. Also I tried different flag starts (aoflagger/firstpass_QUV.rfis & tfcrop) and different models.

Any idea what could cause this error

[2022-10-28 17:09] viralp opened #1452 "Error in line worker"
Hi,

I am getting following error in ``wsclean`` run in the ``line`` worker
[code]
It's working with only few 100 channels but failing when using all channels.
[log-caracal.txt](https://github.com/caracal-pipeline/caracal/files/9890534/log-caracal.txt)

[2022-10-28 17:11] paoloserra commented on #1452
Can you check whether this is the same problem as in #998? See `ulimit`.

See also #1414

[2022-11-01 17:14] viralp opened #1453 "Error in Sofia"
Hi

I am getting the following error in Sofia

[code]
The slice (```mypipelinerun_NGC1512_HI_1-0039-image.fits```) where it complaining has all zero values. How to avoid this slice in the pipeline run?
[log-caracal.txt](https://github.com/caracal-pipeline/caracal/files/9911914/log-caracal.txt)

[2022-11-02 17:41] paoloserra commented on #1453
Not sure how we can help here (relevant error below). If it is a bug, it is a bug in SoFiA-1, which is no longer maintained -- see https://github.com/SoFiA-Admin/SoFiA .

We're currently in the process of switching to SoFiA-2 within CARACal. In the meantime, maybe you could consider running SoFiA-2 stand-alone outside CARACal?

[code]

[2022-11-02 17:41] paoloserra commented on #1452
Did this work?

[2022-11-03 14:35] paoloserra commented on #1451
@henedler thanks for continuing looking into this. Just adding a link to https://github.com/caracal-pipeline/caracal/issues/1392 in case it is relevant.

[2022-11-08 22:59] paoloserra opened #1454 "OTF applycal not working with multiple targets"
_Originally posted by @francescaLoi in https://github.com/caracal-pipeline/caracal/issues/1280#issuecomment-726142966_

Since this we have been adding the field in the callib txt file. That works when you've got one field only. It does not when you have more than one, because we only write the first field.

[2022-11-09 07:55] paoloserra commented on #1454
The relevant lines in the transform worker are:

https://github.com/caracal-pipeline/caracal/blob/63019ef007277d8dea245b4070ef3950c6169684/caracal/workers/transform_worker.py#L113

and then

https://github.com/caracal-pipeline/caracal/blob/63019ef007277d8dea245b4070ef3950c6169684/caracal/workers/transform_worker.py#L133

Everything non-pol works if the latter is replaced with

[code]

But I suppos

[2022-11-09 07:59] paoloserra commented on #1454
Alternatively, I suppose there is a callib-friendly way of changing L113 above to include all targets of the MS in `output_fields` instead of just the first one?

[2022-11-09 08:46] o-smirnov commented on #1454
It might be as simple as moving the ``resolve_calibration_library`` call into this loop here:

https://github.com/caracal-pipeline/caracal/blob/63019ef007277d8dea245b4070ef3950c6169684/caracal/workers/transform_worker.py#L156

where we already have a single target.

[2022-11-09 08:51] paoloserra commented on #1454
Indeed, I considered that, but I have no good understanding of what's needed for polcal. For regular calibration the solution above works fine, too, and it's simpler.

[2022-11-09 09:27] henedler commented on #1454
I have been puzzling about exactly this for the last day. I'll give the workaround suggested by Paolo a try.

[2022-11-09 10:42] o-smirnov commented on #1454
@Athanaseus you also want to take a look at this.

Simpler doesn't always mean more correct. :) Setting ``output_fields=['']`` means "return cal tables appropriate for default targets". This should be the same as specifying a target by name. However, the point of the ``resolve_calibration_library()`` interface is to let that function decide what tables are most appropriate for a particular field.

[2022-11-09 10:48] paoloserra commented on #1454
understood

[2022-11-09 21:48] henedler commented on #1454
Hm, this did not work for me I fear. I replaced in line 133 as suggested by Paolo: output_fields=['']. Then I deleted the corrected target field measurement sets and I continued caracal from the transform-target step on. Is this not sufficient and I need to re-run the whole thing?

This is what the transform-step logs for the otf-applycal:
[code]

Should I be able to see if things are going wrong

[2022-11-10 08:47] paoloserra commented on #1454
Can you post the full log?

[2022-11-10 09:30] henedler commented on #1454
Sure, here you go:
[log-caracal.txt](https://github.com/caracal-pipeline/caracal/files/9979308/log-caracal.txt)

[2022-11-10 09:32] o-smirnov commented on #1454
Also, if you can post the calibration libraries please, i.e. the .txt and .yml files under ``caltables`` in your output directory.

[2022-11-10 09:36] henedler commented on #1454
Ah damn, I deleted those in the meantime, sorry. I'll post them once I am at the step again.

[2022-11-10 09:52] paoloserra commented on #1454
Shame.

That is fine. You don't need to re-run crosscal. In fact, you don't even need to delete the corrected MS, CARACal will take care of that.

I'm a little confused by your log. The initial transform and crosscal are enabled but are not running?

Anyway, the OTFcal part of the log looks fine. Have you looked at the first continuum image? Does that still show those scrambled phases?

BTW, in ca

[2022-11-10 09:59] henedler commented on #1454
Yes, I used the flag `--sw transform__2` to continue running from the troublesome step on after doing the change to the code.

Yes, it looks like the phases are crazy, like before.

[2022-11-10 10:04] paoloserra commented on #1454
OK.

The problem I was having should show as in the example below:

Here's the OTF applycal log for the first target in the MS, where the calibration is applied alright and the phases look fine.

[code]

And here is the case of the second target, where you see that OTF applycal fails because of the mismatch in the field.

[code]

If you don't see the warning above then OTF applycal is fine, at lea

[2022-11-10 10:18] henedler commented on #1454
Ok, indeed this warning I did not encounter before. Here the calibration libraries now:
[callib-mcvs-1662797070_sdp_l0-kgb.yml.txt](https://github.com/caracal-pipeline/caracal/files/9979725/callib-mcvs-1662797070_sdp_l0-kgb.yml.txt)
[callib-mcvs-1662797070_sdp_l0-kgb-transform__2.txt](https://github.com/caracal-pipeline/caracal/files/9979724/callib-mcvs-1662797070_sdp_l0-kgb-transform__2.txt)

[2022-11-10 10:22] paoloserra commented on #1454
I don't think so either.

<img width="736" alt="Screenshot 2022-11-10 at 11 20 58" src="https://user-images.githubusercontent.com/6591265/201065417-bdd8359a-72d4-4467-94dc-338c9e4ef0be.png">

Do you see something like this for virgo048? (It's the dirty image.)

[2022-11-10 10:30] henedler commented on #1454
This is what I get as virgo048_0-MFS-image, you can see the artifacts of M87 but not really the source itself (FoV: 1.5x1.5deg). This is, as expected, very similar to imaging the data-column of the virgo048-corrected.MS directly after the transform__2 step. Similar results I also get for the other field I tried.
![grafik](https://user-images.githubusercontent.com/56255383/201065991-f4166aa7-8839-4

[2022-11-10 10:34] paoloserra commented on #1454
Could you please try field 113? It's an easier field.

[2022-11-14 11:37] henedler commented on #1454
This is for field 129, most distant from M87, still the same problem.
<img width="485" alt="grafik" src="https://user-images.githubusercontent.com/56255383/201069417-75557fbf-7a02-4f0f-b0e0-d71fa82d09b2.png">
I also tried virgo065 from the second pilot, again with the same messed up phases. After a few iterations, sources indeed start to appear, so the data is probably fine but the initial phases

[2022-11-14 11:49] paoloserra commented on #1454
There's definitely something wrong there.

This is what I get for field 129 in the freq range 1395 - 1437 MHz:

after cross-cal

<img width="784" alt="Screenshot 2022-11-14 at 12 45 26" src="https://user-images.githubusercontent.com/6591265/201652044-757f3680-9af5-47f6-aee8-330b266ab34d.png">

after self-cal

<img width="784" alt="Screenshot 2022-11-14 at 12 46 46" src="https://user-images.githubu

[2022-11-14 12:25] henedler commented on #1454
Indeed ever so slightly better than what I am getting ;). Would you mind sharing your parameter set with me so I can compare them? And you are using the current master (except for the one change you described above)?

[2022-11-14 12:44] paoloserra commented on #1454
I'm on this branch: https://github.com/caracal-pipeline/caracal/tree/callib-multitarget (but yes, it's just that one change compared to master)

.yml files attached. I run them in the order:

- xcal
- calflag
- cont

[configs.tar.gz](https://github.com/caracal-pipeline/caracal/files/10003048/configs.tar.gz)

[2022-11-15 20:27] #1431 closed

[2022-11-16 09:42] henedler commented on #1454
I ran a test where I just applied the K and B solutions, and not the gaincal. Indeed, there I get a reasonable image (below: dirty/restored). So the point where things go wrong for me should be quite constrained. One thing I was wondering - for the gaincal solutions, I always see a "fldmap" that looks like this: `fldmap=[0, 0, 0, 0, 0, 0, 0, 1]`. I wonder what that means, shouldn't this all be the

[2022-11-16 09:43] paoloserra commented on #1454
I'm not sure about fldmap. Have you looked at the gain plots? (G and F)

[2022-11-16 14:18] o-smirnov commented on #1454
I think the last entry in ``fldmap`` corresponds to what is used for the bpcal, so it uses itself rather than the gaincal.

[2022-11-21 07:37] paoloserra opened #1455 "imcontsub crashing"
The error looks like this

[code]

@gigjozsa rings a bell?

Currently investigating the cause ...

[2022-11-21 10:34] paoloserra commented on #1455
@gigjozsa

This is what I think is happening. Channels masked in at least 1 LOS of the cube are excluded from the polynomial fit of all LOS's. Only channels with no masked LOS's at all are included in the fit of each and every LOS. Those channels are used to build the independent variable of the fit `x` mentioned in the error message above.

In the case of my error, all channels are masked in at l

[2022-11-22 07:28] kendak333 commented on #1447
Hi @KshitijT has there been any progress on this?

[2022-11-22 09:15] o-smirnov opened #1456 "Error merging spw=0's meta info"
As reported by Savannah. I've never seen this error before, this happens at the G1 stage of the secondary. Why is ``append=True``, can some cognoscenti remind me?
[code]

[2022-11-22 09:22] SavannahStanbury commented on #1456
here's the logfile:
[log-caracal.docx](https://github.com/caracal-pipeline/caracal/files/10065921/log-caracal.docx)

[2022-11-22 13:27] KshitijT commented on #1447
@kendak333 , it's a bit weird because the ddcal worker should not replace a "." in the name of the target. If possible, could you please share the full log?

[2022-11-22 22:44] henedler commented on #1454
For the record: I pinned down the issue, it was not related to caracal. I assumed the data set I had at hand was the raw data, when actually the calibrator solutions were already applied by the observatory (only to the target field, not to the cals, so the solutions appeared normal). So basically I was "corrupting" the already corrected data by correcting them a second time...

I re-downloaded the

[2022-11-23 06:28] paoloserra commented on #1454
phew!

[2022-11-23 08:33] o-smirnov commented on #1454
Awesome! Now I wish someone would solve https://github.com/caracal-pipeline/caracal/issues/1456 :)

[2022-11-23 08:35] paoloserra commented on #1454
Well, we still need to solve #1454 too!!!! :)

[2022-11-23 08:44] paoloserra commented on #1456
I think that `append=True` because we're appending the secondary G's to the primary G's. This is useful to later run `fluxscale` on the table `abell141-1617605022_sdp_l0-1gc1_primary_append-0.G1` in order to scale the secondary G's to the correct flux scale.

[2022-11-23 08:47] paoloserra commented on #1456
BTW, the table `...primary_append-0.G1` exists because

https://github.com/caracal-pipeline/caracal/blob/4f716f7c7f16ff5b7face76af053fb459a06bd77/caracal/workers/crosscal_worker.py#L193