[2020-01-09 11:55] #758 closed, assigned to nobody

[2020-01-09 13:37] gigjozsa opened #759 "Avoid appending to an existing log-meerkathi.txt file when re-running MeerKATHI"
There are two options:

- Code finds existing log and renames it to a name with a time tag drawn from the creation time.
- Code finds existing log and overwrites it. (in which the user has to care for tracking iterations)

[2020-01-09 14:08] o-smirnov opened #760 "proposed modifications to flagversion logic"
At the moment, #712 and #609 are not properly fixed, #711 is unclear, and my all-conquering madmax-based strategy can't be implemented easily. I propose a single solution for all these niggles:

1.  Any worker that changes the state of flags should use flagmanager to save a ``before_``*workername* flagversion as the first thing it does, and an ``after_``*workername* flagversion as the last thing i

[2020-01-09 14:22] gigjozsa opened #761 "transfer_model failing when operating on a mosaic?"
[c_02.yml.txt](https://github.com/ska-sa/meerkathi/files/4040805/c_02.yml.txt)
[transfer_model_failing.log.txt](https://github.com/ska-sa/meerkathi/files/4040824/transfer_model_failing.log.txt)

See the attached files
I have a mosaic with pointings p1, p2, p3 in three obervations:

1524929477 p1, p2
1524947605 p1, p2
1532022061 p3

Calibration runs through but split_target fails because it cannot

[2020-01-13 14:38] gigjozsa opened #762 "Solid release strategy (fix dependencies to exact release of Stimela and co-ordinate. (Josh + Sphe)"
@gigjozsa

[2020-01-13 14:40] gigjozsa opened #763 "DDE in selfcal worker (pending on status), if working, great."
Instead of complicated, automated tagging, give the user the opportunity to include some directions and fields, for which a model is created using Crystalball, calibrated, and subtracted. (Kshitij)

[2020-01-13 14:41] gigjozsa opened #764 "Confirm that gain transfer for transfer-model works (Kshiij, Paolo, Simon)"

[2020-01-13 14:44] gigjozsa opened #765 "Self-cal: simple calibration should work (not including PyBDSM model), everything else declared beta (Josh, together with Docker + Singularity tests)"
(not including PyBDSM model), everything else declared beta (Josh, together with Docker + Singularity tests)

[2020-01-13 14:45] gigjozsa opened #766 "Fix crosscal+on-the-fly calibration in current workflow and default settings (Paolo + Cagliari)"

[2020-01-13 14:46] gigjozsa opened #767 "Optimize workflow for big data sets: split target and calibrators, crosscal, then on-the-fly calibration (Paolo + Cagliari)"

[2020-01-13 14:46] gigjozsa opened #768 "Flux scale calibration for MeerKAT (generally wide-band) to be issued and fixed (Oleg, Ian)"

[2020-01-13 14:48] gigjozsa opened #769 "Include Crosscal2 (Oleg, Paolo to test)"

[2020-01-13 14:51] gigjozsa opened #770 "uDocker and Podman declared beta"
Towards release it needs to be made sure that this is documented everywhere public.

[2020-01-13 14:52] gigjozsa opened #771 "Resolve all Singularity issues"

[2020-01-13 14:53] gigjozsa opened #772 "Resolve all Docker issues"
Seems there are none. Tested for docker using mosaic observation. Using default config and complex config.

[2020-01-13 14:57] gigjozsa opened #773 "Resolve all bugs"
#746
#772
#771
#761
#746

[2020-01-13 15:02] #773 closed, assigned to nobody

[2020-01-13 15:17] #762 closed, assigned to sphemakh, gigjozsa

[2020-01-13 15:40] #442 closed, assigned to bennahugo

[2020-01-13 15:42] gigjozsa opened #774 "Enable delay selfcal"
This would enable us to correct for #442, which is a telescope issue, not a pipeline issue.

[2020-01-13 15:43] #536 closed, assigned to sphemakh

[2020-01-14 05:42] gigjozsa opened #775 "Prepare renaming to CARACal"
Change reporting, repository, etc. names

[2020-01-15 06:51] #739 closed, assigned to nobody

[2020-01-15 08:02] #761 closed, assigned to gigjozsa

[2020-01-15 15:22] #746 closed, assigned to gigjozsa

[2020-01-15 15:23] #745 closed, assigned to sphemakh

[2020-01-15 15:35] #71 closed, assigned to nobody

[2020-01-15 15:37] #100 closed, assigned to nobody

[2020-01-15 15:49] #86 closed, assigned to sphemakh, bennahugo

[2020-01-15 16:03] #433 closed, assigned to nobody

[2020-01-15 16:04] #438 closed, assigned to nobody

[2020-01-15 16:15] gigjozsa opened #779 "Add option to convolve all generated images/cubes to the same resolution"
If the images/cubes do not have the same resolution mosaicing is problematic (which is sortafn understatement). So we need an option to convolve all cubes or images to the same resolution posteriori in the selfcal and image_line workers. Alternatively, this could be done in the mosaic worker, but my preference would be imaging.

[2020-01-15 19:05] #728 closed, assigned to KshitijT, PeterKamphuis

[2020-01-16 06:07] #392 closed, assigned to nobody

[2020-01-16 06:10] gigjozsa opened #780 "Improve flagging strategies"
We did not investigate flagging strategies systematically (individuals might have done). This is a reminder to do so (not part of PR1). @bennahugo suggested this:
https://github.com/ska-sa/vermeerkat/blob/master/vermeerkat/plugins/BAT/crosscal.py#L257

[2020-01-16 06:14] #49 closed, assigned to sphemakh, bennahugo

[2020-01-16 06:31] #199 closed, assigned to nobody

[2020-01-16 06:43] #321 closed, assigned to sphemakh, KshitijT, Fil8

[2020-01-16 06:47] #378 closed, assigned to nobody

[2020-01-16 07:02] #491 closed, assigned to sphemakh

[2020-01-16 07:07] #759 closed, assigned to o-smirnov, paoloserra, sphemakh, KshitijT

[2020-01-16 07:21] #552 closed, assigned to KshitijT

[2020-01-16 07:23] gigjozsa opened #781 "Recognizing calibrators by coordinates and allow for model to be entered"
Currently, calibrators have to be in the calibrator list to be identified. But one should use co-ordinates instead because they are unique. Also, one should be able to use their own calibrator model.

[2020-01-16 07:36] gigjozsa opened #782 "Automatically correct faulty calibrator positions for MeerKAT"
Perhaps we want to include a mechanism to correct for this:
(sent by Vasaant Krishnan from SARAO commissioning team on 15 Jan 2020 )

Dear PI,

Late last year we updated the coordinates in our calibrator list.

The attached file contains a list of the gaincals which we used for your recent open time observations along with the separation between those coordinates and the updated ones in our catalo

[2020-01-16 07:56] #641 closed, assigned to KshitijT

[2020-01-16 08:09] #764 closed, assigned to sjperkins, paoloserra, KshitijT

[2020-01-16 08:16] #667 closed, assigned to KshitijT

[2020-01-16 09:09] #723 closed, assigned to gigjozsa, bnamumba

[2020-01-16 09:25] #130 closed, assigned to sphemakh

[2020-01-16 10:42] gigjozsa opened #783 "Pipeline crashes in default mode because of new spectral weights handling"
These are two errors actually. Firstly, exception handling should not be called in default mode (minimal config should be corrected and potentially prepare_data schema), secondly the variable specwts should be defined. I'll have a quick look if I can fix it.

[code]

[2020-01-16 11:48] PeterKamphuis opened #784 "How does wsclean determine clean beam in the Pipeline?/Error in clean beam determination."
So I noticed that my clean beam was becoming oddly elliptical  in my continuum images and I did not understand why that would happen? I looked at the output dirty beam in the -psf images and now I'm even more mystified as the clean beam seem rather unrelated to the dirty beam.  Here is the image of the dirty beam and the fitted clean beam ellipse ( 6.7" x23.4").
![Small_Pixels](https://user-images

[2020-01-16 13:53] #783 closed, assigned to gigjozsa

[2020-01-18 09:50] gigjozsa opened #786 "Taking square root first and then applying power of two seems slightly ineffective"
Not sure if this is true, but just to keep in mind for the future. These lines may be ineffective.

https://github.com/ska-sa/meerkathi/blob/7f136d489e4ffaf3bfbafd5271930560292955b6/meerkathi/workers/image_line_worker.py#L138-L147

[2020-01-20 09:31] healytwin1 opened #787 "Sync readthedocs to master/release version"
I am trying to image my cube, but apparently there is an issue with my config file (see below). I have updated meerkathi to the most recent version, and I have double checked that the keys match the documentation. Can anyone shed any light on this?

[code]

[2020-01-20 12:59] #784 closed, assigned to nobody

[2020-01-20 12:59] #769 closed, assigned to o-smirnov, paoloserra

[2020-01-20 16:06] gigjozsa opened #788 "Primary beam calculation needs to be reviewed in line worker"
https://github.com/ska-sa/meerkathi/blob/7f136d489e4ffaf3bfbafd5271930560292955b6/meerkathi/workers/image_line_worker.py#L143-L144

Could someone check this? I do not understand where the 17.52 are coming from. This should be sigma_pb = 180 * 1.02 * c / (D*nu*sqrt(log(256))*pi), so the 17.52 should be identical to 180 * 1.02 / pi, which is, however, 58.4 .

Or is this part not used any more?

[2020-01-20 16:11] #788 closed, assigned to paoloserra, mpatir

[2020-01-21 07:47] gigjozsa opened #789 "Primary beam correction"
This is a small thing, but I believe we do not have a primary beam correction for single pointings. Three possibilities:

1. Make it an option in the selfcal and image_line workers
2. Make it a worker of its own
3. Include it in the mosaic worker

Option 3. is the most logical and traditional way (it is a linear mosaic with one pointing), but we might discuss this later on, when we have nothing le

[2020-01-21 13:09] mpatir opened #790 "Obsinfo only in the split_worker -- error"
I am trying to only run obsinfo in the split_worker -- no actual splitting. I get the error below,?

## config settings

split_target__2:
  enable: true
  label_in: corr
  label_out: corravgtime
  split_target:
    enable: false
    time_average: '64s'
    column: data
    correlation: ''
    spw: ''
    otfcal:
      enable: false
  obsinfo:
    enable: true
    listobs: true
  init_legacy_flagse

[2020-01-21 13:52] #772 closed, assigned to nobody

[2020-01-21 16:01] ianjarog opened #791 "stripes in line-contained channels mstransform"
While selecting line-free channels using fitspw of mstransform, I get stripes in line-contained channels ..See image below. Any idea?
fitspw: '*:1400.7~1402.7MHz,*:1403.8~1413.0MHz,*:1414.2~1416.5MHz,*:1418.8~1419.5MHz,*:1421.6~1434.7MHz'

![issue1](https://user-images.githubusercontent.com/32450493/72820576-d45f1f80-3c77-11ea-94f0-7f5e864afe34.png)

![issue2](https://user-images.githubusercontent

[2020-01-21 17:07] gigjozsa opened #792 "ruamel.yaml==0.15.22 in requirements.txt causes installation to stop"
https://github.com/ska-sa/meerkathi/blob/7f136d489e4ffaf3bfbafd5271930560292955b6/requirements.txt#L1

Testing if higher version works.

[2020-01-22 02:37] gigjozsa opened #793 "Clean up requirements"
https://github.com/ska-sa/meerkathi/blob/7f136d489e4ffaf3bfbafd5271930560292955b6/requirements.txt#L1-L15
has to be minimized, all < or > be replaced by ==

and

https://github.com/ska-sa/meerkathi/blob/7f136d489e4ffaf3bfbafd5271930560292955b6/setup.py#L10-L34
has to be minimized, all < or > be replaced by ==

Remove extra_diagnostics.

Determine which of these are declared stable standard require

[2020-01-22 02:41] #792 closed, assigned to nobody

[2020-01-22 02:52] #311 closed, assigned to gigjozsa, MosesPythoner

[2020-01-22 02:57] #404 closed, assigned to sphemakh

[2020-01-22 11:05] healytwin1 opened #795 "Second run of image_line fails at mstransform"
So I have successfully run image_line on this data set, but now want to change some parameters and create a new cube, however it is crashing (see below). The parameters I changed are the size of the cube, and I have specified channels in fitspw ('0:10~55;0:480~580')

[code]

[2020-01-22 12:54] #795 closed, assigned to nobody

[2020-01-22 17:56] gigjozsa opened #797 "Singularity installation crashes in my standard test on my laptop in observation_config_worker"
[code]

[2020-01-23 12:58] PeterKamphuis opened #798 "plot_elevation_tracks should go under obsinfo?"
I was just running the master and noticed that the elevation tracks are always plotted even when obsinfo= False. I think it is somewhat counter intuitive to have this plotting not grouped under the obsinfo mapping. Should we move it such that when obsinfo = False the plots are not made?

[2020-01-23 22:28] #591 closed, assigned to PeterKamphuis

[2020-01-24 11:07] PeterKamphuis opened #801 "clear_static_flagging is unstable"
I was working in the flagging_worker to fix some issues with the timerange and noted that after a change in some the part there would also be a change in how often a flagset_clear_static_flagging_ cab would be added to the recipe.

I first thought I might have accidentally messed with one of the parameters used for setting the clearing but testing with just the addition/removal of a simple print c

[2020-01-26 18:06] gigjozsa opened #802 "Pipeline crashes at report generation"
This happens at the end of a test run with the most recent pipeline version. Obviously, this can be ignored, but then the pipeline output must still be 0.

[code]

[2020-01-28 10:59] gigjozsa opened #804 "Pipeline crashes when tricolour is switched on (missing file)"
[code]

[2020-01-30 18:07] gigjozsa opened #806 "Pipeline crashes because it cannot find notebook"
[code]

[2020-01-31 09:20] #798 closed, assigned to nobody

[2020-01-31 12:33] #806 closed, assigned to gigjozsa

[2020-01-31 12:43] gigjozsa opened #807 "Not possible to select target fields if they are not contained in all mss"
The pipeline crashes if a list of target fields is explicitly specified but there is an input ms which does not contain all specified target fields.

[2020-01-31 12:46] gigjozsa opened #808 "Virtual concat fails"
Virtual concatenation fails because it requires the input (or definition) of "vmsname" in the combine section of the get_data worker. But that does not exist any more. Does virtualconcat still make sense anyway?

[2020-02-04 09:18] #771 closed, assigned to nobody

[2020-02-04 09:55] KshitijT opened #810 "Why open pull requests if at "DO NOT MERGE" stage"
What it is says in the title.

[2020-02-07 08:44] paoloserra opened #811 "meerkat-defaults need an update"
Unless I got things wrong it seems that usage of the MeerKAT LSM for the calibrator is disabled by default (OK, since the default pipeline should not be tied to MeerKAT) but also in meerkat-defaults.yml . I'd have thought you'd want to enable that in meerkat-defaults.yml.

[2020-02-07 09:50] bennahugo opened #812 "API change in cubical"
As discussed with @KshitijT
model-list is now dtype file. If you are using MODEL_DATA only you need to wrap it in a pathformatter object:
https://github.com/ratt-ru/Stimela/blob/master/stimela/pathformatter.py#L24

Example implementation is here:
https://github.com/bennahugo/VermeerKAT/blob/master/vermeerkat/plugins/INTROSPECT/image.py#L517

Cheers,

[2020-02-07 20:16] o-smirnov opened #813 ""auto" selection falling over"
So this MS is dead simple:

![Uploading image.png…]()

However, running it with ``auto``  for the various calibrators in observation_config results in:

[code]

[2020-02-07 21:50] o-smirnov opened #814 "clearcal step falls over"
The one step nobody thought would be a problem, is:
[code]

Columns not disjoint, really, CASA? And WTF am I supposed to do with that error message? I want them to be disjoint. This is a MeerKAT MS straight out of the archive. Please help me do better!

[2020-02-08 14:11] #813 closed, assigned to nobody

[2020-02-09 09:53] gigjozsa opened #815 "Pipeline crashes with default config at calibrate_cubical_1_0: wrong file reference"
Re-installed everything, generated standard config file, edited only targets:

[default.yml.txt](https://github.com/ska-sa/meerkathi/files/4176697/default.yml.txt)

and got:

[log-meerkathi.txt](https://github.com/ska-sa/meerkathi/files/4176692/log-meerkathi.txt)

The default pipeline used to run with these data sets.

Seems like a naming issue.

[2020-02-09 10:03] gigjozsa opened #816 "Why are suddenly all logs again in the main directory?"
In addition to #815 all logs appear to be copied to the main (top level) directory. This must have been introduced in #800 or #805. @Athanaseus, could you check and if this was not your pull-request, re-assign to @PeterKamphuis?

[2020-02-10 08:13] #814 closed, assigned to nobody

[2020-02-10 10:06] dane-kleiner opened #817 "Remove BMIN, BMAJ and BPA per channel"
Having a BMIN, BMAJ and BPA per channel in the header is really annoying. Especially if a cube as 10^2 channels, which is easy to do with the current velocity resolution.

I suggest having the median or the mean of these in the header and no more.

[2020-02-10 20:23] KshitijT opened #820 "Combine_models is broken"
Due to path issues (a relic from when we changed the output directory structure ?) is that `combine_models` (which combines LSMs) is broken. E.g. for a model of '1+2' it tries to combine:
`continuum/image_3/mypipelinerun_IC5264_1-pybdsm.lsm.html:output`  and `continuum/image_3/mypipelinerun_IC5264_2-pybdsm.lsm.html:output`, which is what causes the pipeline to crash when running in `pybdsf_only` m

[2020-02-12 15:45] #815 closed, assigned to KshitijT, Athanaseus

[2020-02-12 15:46] #820 closed, assigned to nobody

[2020-02-14 11:11] Sinenhlanhla opened #821 "Error when running inspect_data"
I get this error when running inspect_data, it seems to be related to plotting gain solutions:
[code]

[2020-02-18 13:26] gigjozsa opened #824 "Tricolour flagging strategies are not copied when starting without input directory"
What it says. Using tricolour does not work because
``input/mk_rfi_flagging_target_fields_firstpass.yaml``
does not exist.

[code]

[2020-02-18 13:34] #824 closed, assigned to nobody

[2020-02-18 14:36] healytwin1 opened #825 "Self-cal worker error"
See error below, meerkathi doesn't even pass the first step beyond reading the config file.
(I updated both meerkathi and stimela prior to attempting to run the pipeline)

[code]

[2020-02-19 21:11] bnamumba opened #826 "updated meerkathi today --cross calibration error"
0-02-19 23:07:58,374 CRITICAL - 2020-02-19 21:07:58      INFO    listobs::::     ##### End Task: listobs              #####
meerkathi - 2020-02-19 23:07:58,375 CRITICAL - 2020-02-19 21:07:58      INFO    listobs::::+    ##########################################
Stopping virtual X frame buffer: Xvfbstart-stop-daemon: warning: failed to kill 7: No such process
.
meerkathi - 2020-02-19 23:07:59,402

[2020-02-19 21:27] #826 closed, assigned to nobody

[2020-02-20 02:42] #804 closed, assigned to KshitijT

[2020-02-20 02:43] gigjozsa opened #827 "Pipeline crashes when tricolour is switched on: too aggressive default flagging strategy for tricolour"
See above and #823

[2020-02-21 11:19] #816 closed, assigned to Athanaseus

[2020-02-24 09:04] SpheMakh opened #829 "Check if previuos versions of mstransform worked properly"
Related to #791

[2020-02-25 10:01] #821 closed, assigned to sphemakh

[2020-02-25 10:03] #585 closed, assigned to sphemakh

[2020-02-25 10:04] #567 closed, assigned to sphemakh

[2020-02-25 10:04] #548 closed, assigned to hrkloeck

[2020-02-25 12:49] #812 closed, assigned to nobody

[2020-02-27 06:36] paoloserra opened #831 "transfer_model (crystalball) runs out of memory"
I've made a fresh install of MeerKATHI on a new machine with 250 GB RAM, 56 threads following the instructions at https://github.com/ska-sa/meerkathi/blob/master/README.md .

The transfer_model step using crystalball consistently crashes because of memory issues when I use all threads, auto chunking of the data, and `--memory-fraction` anywhere from 0.05 to 0.5.

For `--memory-fraction 0.5` the de

[2020-03-04 12:47] #810 closed, assigned to o-smirnov, KshitijT

[2020-03-08 19:42] gigjozsa opened #833 "inspect_data_worker/Cubical errors using Singularity installation"
Used current master [f8d87db](https://github.com/ska-sa/meerkathi/commit/f8d87db36d93dbbd1d31f6fc9c075574930af36b) with Stimela as per requirements.txt and got the results attached using the attached config:
[log-meerkathi.txt](https://github.com/ska-sa/meerkathi/files/4303780/log-meerkathi.txt)
[minimalConfig_singularity.yml.txt](https://github.com/ska-sa/meerkathi/files/4303775/minimalConfig_sin

[2020-03-08 19:50] gigjozsa opened #834 "Logfiles look differently for different containerisation techniques"
It would be great if the output using different containerization techniques would produce similar logfiles. In particular, Docker mostly produces the report 'xxx ended successfully', which is missing for Singularity. This would be mostly useful for monitoring and analysis purposes.

[2020-03-09 10:04] Sinenhlanhla opened #836 "flagging__2 error"
When I run flagging__2 autoflag_rfi: true I get the following error, this error does not appear in my initial flag:

meerkathi - 2020-03-09 11:17:57,967 CRITICAL - INFO:STIMELA-9:Saving pipeline information in .last_pre-calibration_flagging.json

meerkathi - 2020-03-09 11:17:57,968 CRITICAL - Stopping container [ac0]. The container ID is printed below.

meerkathi - 2020-03-09 11:17:57,969 INFO - R

[2020-03-09 11:26] #827 closed, assigned to gigjozsa, KshitijT

[2020-03-09 11:27] #825 closed, assigned to sphemakh

[2020-03-09 11:45] gigjozsa opened #837 "Get Stimela into sync with MeerKATHI"
The current master branch of Stimela does not support the master branch of MeerKATHI. Only when installing MeerKATHI using the requirements.txt pointing to Stimela commit [2c5fea1](https://github.com/ratt-ru/Stimela/commit/2c5fea1aaf237117266fcf3f7342348d15ff3260) we manage to run a Docker test (Singularity still missing). Older releases of Stimela are out of sync with MeerKATHI. But we need to ge

[2020-03-11 10:48] #73 closed, assigned to sphemakh

[2020-03-16 09:54] gigjozsa opened #838 "Generate report"
As it says. Currently the final report is not generated. To be discussed if this is a milestone.

[2020-03-17 09:36] #829 closed, assigned to paoloserra, sphemakh

[2020-03-17 09:38] #801 closed, assigned to sphemakh, PeterKamphuis

[2020-03-17 09:44] SpheMakh opened #839 "numpy and scipy versions not known to pypi"
[code]

The latest versions are

[code]

[2020-03-17 09:45] #790 closed, assigned to mpatir

[2020-03-17 09:48] #709 closed, assigned to o-smirnov

[2020-03-17 10:59] viralp opened #840 "Cleaning stuck with multiscale"
Hello,

In MeerKATHI I am using the multi_scale option with multi_scale_scales. I only used 3 scales 10,25,50, but the wsclean stuck at a particular position and not progressing further. Any thoughts? The problem is the same with using mask also.

....
Iteration 16017, scale 10 px : -1.32 mJy at 3766,2447
Iteration 16017, scale 10 px : -1.32 mJy at 3766,2447
Iteration 16017, scale 10 px : -1.32 mJ

[2020-03-17 15:50] gigjozsa opened #841 "Retire archive interface"
Retire the archive interface and remove dependencies pysolr and progressbar2 from requirements in setup.py

[2020-03-18 11:35] #839 closed, assigned to gigjozsa

[2020-03-18 16:25] #802 closed, assigned to o-smirnov, sphemakh, gigjozsa, Athanaseus

[2020-03-18 19:58] #563 closed, assigned to KshitijT

[2020-03-19 09:19] viralp opened #844 "Cubical error"
Hello,

I got an error in Cubical. Is it the same that is under the discussion? I am running meerkathi with singularity. Just want to state that there are two target sources in the measurement set.

Running: singularity instance.stop 36a
INFO:STIMELA-11:Running job calibrate_cubical_1_0
INFO:STIMELA-11:STEP 2 :: calibrate_cubical_1_0:: Calibrate step 1 ms=field1_fixvis-ABELL2631_corr.ms
INFO:root:

[2020-03-20 06:44] #789 closed, assigned to nobody

[2020-03-20 09:36] paoloserra opened #846 "primary: enable and secondary: enable ignored -- remove them?"
The cross_cal worker seems to ignore `primary_cal: enable` and `secondary_cal: enable`. In the example below, I set both parameters to False. Indeed, the `primary_cal` and `secondary_cal` section do not appear in the list  of enabled sections. However, several containers belonging  to those sections are added and run following the calibration strategy in the config file `primary_cal: order: KGBAKG

[2020-03-20 12:08] #444 closed, assigned to KshitijT

[2020-03-20 12:58] #844 closed, assigned to nobody

[2020-03-21 05:45] gigjozsa opened #847 "Use a pull request to make changes to MeerKATHI"
If you want to make an exception, please discuss with colleagues first.

[2020-03-22 11:46] #791 closed, assigned to nobody

[2020-03-22 11:54] SpheMakh opened #848 "listobs step throws a code 126"
As reported by @gigjozsa and @KshitijT

[code]

OS: Ubuntu 16.04.5
pip: 20.02
Python: 3.5.2
Docker:
Client:
Version: 18.09.6
API version: 1.39
Go version: go1.10.8
Git commit: 481bc77
Built: Sat May 4 02:35:27 2019
OS/Arch: linux/amd64
Experimental: false

Server: Docker Engine - Community
Engine:
Version: 18.09.6
API version: 1.39 (minimum version 1.12)
Go version: go1.10.8
Git commit: 481bc77
Bu

[2020-03-22 11:57] SpheMakh opened #849 "Shadems throws IOError permission denied in singularity"
**NOTE**: Upgrading the cab to use python3 fixed this issue. But keeping it open here for logistical reasons

[code]

[2020-03-22 12:15] SpheMakh opened #850 "selfcal worker crashes at cubical step when using singularity"
The container fails before cubical is invoked, so this either a problem with the singularity installation or stimela.

[code]

**OS**
Description:	Ubuntu 16.04.5 LTS
Release:	16.04
Codename:	xenial

**Container tech**
Singularity 2.4-dist

[2020-03-22 12:19] #833 closed, assigned to sphemakh, KshitijT

[2020-03-22 13:44] #849 closed, assigned to sphemakh

[2020-03-22 15:28] gigjozsa opened #851 "Define standard output of analysis script carate.sh"
carate.sh is the analysis script provided with MeerKATHI. It basically re-installs a virtualenv, MeerKATHI/CARACal, Stimela with Docker and/or Singularity, runs MeerKATHI on a data set and reports success or failure. To be able to provide a quick feedback on failure I would like to include the possibility to create some files in a report directory:

- a bash script repeating the installation/run s

[2020-03-22 15:35] #847 closed, assigned to nobody

[2020-03-23 12:39] #851 closed, assigned to o-smirnov, paoloserra, sphemakh, bennahugo

[2020-03-23 20:17] SpheMakh opened #852 "The pythons, they are changing"
Getting meerkathi installed in python 3.5 is a bit annoying because the latest versions of matplotlib and astropy do not support it. We have two options here:

### Fine running

Fine-tune the dependencies to work for a specific release.

[code]

### Containerization [the better way]

Create a general-purpose python container from which we can do the tasks that have blown up the package dependencie

[2020-03-24 09:39] paoloserra opened #854 "clean masks for self_cal worker"
In the self-cal worker it is possible to clean the (N+1)-th image with a SoFiA clean mask built from the N-th image. SoFiA clean masks are especially useful in the presence of faint, diffuse emission.

At the moment, to use this cleaning mode users must necessarily provide a clean mask for cleaning the 1st  image, too. That mask needs to be made a priori. One option is to make it with masking work

[2020-03-25 17:36] gigjozsa opened #857 "Installation of MeerKATHI using caratekit"
To newly install MeerKATHI usig caratekit, download [caratekit.sh](https://github.com/ska-sa/meerkathi/raw/master/meerkathi/utils/caratekit.sh) (after #856 is merged into master) and make it executable:
[code]
Then select a parent directory ``$parent`` (e.g. ``/home/pete``) to the installation and a name $installation_name (e.g. ``caracal``) for the installation. Then do:
[code]
for a docker insta

[2020-03-25 20:32] KshitijT opened #858 "Move transfer_model to image_line worker"
The transfer_model is used only if the user wants to do a spectral line analysis and as far as I can tell, does no extra favours to purely continuum imaging. Users who are just interested in the continuum images need not spend their time running crystalball (which can be a considerable amount of time for sources with lot of components and large datasets). Therefore, the natural place for it is in

[2020-03-25 20:36] #848 closed, assigned to sphemakh

[2020-03-26 09:22] gigjozsa opened #859 "Caratekit use cases including instructions for creating and approving a pull request"
Caratekit is currently located at https://github.com/ska-sa/caracal/blob/master/caratekit.sh.

Caratekit requires the bash shell to be installed on your system. There are no other requirements (obviously it would fail to execute if python is not installed but that would be a failed test).

In the following I assume that ``caratekit.sh`` is executable and in your path, and you are using bash.

Docu

[2020-03-26 11:06] molnard89 opened #860 "Healpix version changed to 0.5"
As noticed by @paoloserra , the current version of meerkathi comes with healpix 0.5 instead of 0.4 which was needed until yesterday. This breaks installation if the user has python 3.5, since healpix 0.5 needs python 3.6.  Is there a particular reason for this change?  (If yes, users should be notified in the installation guide at least.)

[2020-03-26 14:05] #850 closed, assigned to sphemakh

[2020-03-26 15:45] gigjozsa opened #861 "Define minimal requirements for MeerKATHI as inherited from Stimela and other packages"
Singularity > 2.6.0-dist

[2020-03-26 17:07] gigjozsa opened #862 "Generate uniform beams in mosaic worker before mosaicing"
Mosaicing cubes/images with different resolutions, which is a standard situation, is problematic. Each channel in each cube/image has a different solution, which first has to be brought to the same resolution.

What would be required to mosaic correctly would be to guarantee that in each channel all cubes have the same resolution before mosaicing them. This is in a way connected to the issue of ho

[2020-03-26 22:39] gigjozsa opened #863 "listobs step throws error when using singularity"
No luck testing singularity on my laptop. Now I get a listobs error, see the following files:
[carateConfig_singularity.yml.txt](https://github.com/ska-sa/meerkathi/files/4390373/carateConfig_singularity.yml.txt)
[log-meerkathi_test_carateConfig_singularity.txt](https://github.com/ska-sa/meerkathi/files/4390374/log-meerkathi_test_carateConfig_singularity.txt)
[master.sh.txt](https://github.com/ska

[2020-03-27 17:02] #863 closed, assigned to sphemakh

[2020-03-30 08:58] PeterKamphuis opened #864 "Cubical solution chunks should be multiple of solution intervals."
When using cubical one should define the size, in time and frequency, of the chunks that are loaded into the memory. When doing this we should ensure that these chunks are multiples  of the solution intervals. The pipeline should check for this.

The minimal application would be to load chunks the size of the intervals.

Proposed change to the self-cal worker are:
Default when chunks are not user

[2020-03-30 09:58] #609 closed, assigned to nobody

[2020-03-30 11:43] #858 closed, assigned to nobody

[2020-03-31 01:31] gigjozsa opened #869 "Transfer_model crashes pipeline again"
This has nothing to do with the memory error. It crashes right at the start. Tested the master installation with master stimela (full info see below):
[code]
[control.sh.txt](https://github.com/ska-sa/meerkathi/files/4406229/control.sh.txt)
[control_sysinfo.txt](https://github.com/ska-sa/meerkathi/files/4406230/control_sysinfo.txt)
[log-meerkathi_test_minimalConfig_docker.txt](https://github.com/s

[2020-03-31 01:44] gigjozsa opened #870 "Can we keep specific Stimela commits in requirements.txt?"
MeerKATHI is currently broken because of Stimela, see #869. While we are developing we need to keep track of the latest Stimela that works with MeerKATHI recorded in requirements.txt.

[2020-03-31 07:36] gigjozsa opened #871 "Please run a test before creating a pull request"
What is says.

[2020-03-31 07:58] gigjozsa opened #872 "Please run a test before approving a pull request"
What it says.

Before approving a pull request follow [these instructions](https://github.com/ska-sa/meerkathi/issues/859#issuecomment-606463880).

[2020-03-31 08:17] #872 closed, assigned to nobody

[2020-03-31 08:17] #871 closed, assigned to nobody

[2020-03-31 09:11] #860 closed, assigned to nobody

[2020-03-31 09:50] #870 closed, assigned to paoloserra, sphemakh

[2020-03-31 19:06] #787 closed, assigned to paoloserra, sphemakh

[2020-03-31 19:17] #423 closed, assigned to paoloserra

[2020-04-01 07:02] #685 closed, assigned to sphemakh, dane-kleiner

[2020-04-01 07:04] #413 closed, assigned to Athanaseus

[2020-04-01 07:06] #869 closed, assigned to paoloserra, sphemakh

[2020-04-01 07:11] #841 closed, assigned to gigjozsa

[2020-04-01 07:12] #766 closed, assigned to paoloserra, molnard89

[2020-04-01 07:15] #770 closed, assigned to nobody

[2020-04-01 07:16] #624 closed, assigned to paoloserra

[2020-04-01 08:12] #793 closed, assigned to gigjozsa

[2020-04-01 08:49] gigjozsa opened #879 "Restricting memory usage of SoFIA"
SoFIA grabs all available memory until the cube is loaded into memory. Could be a problem on small and shared systems.

[2020-04-01 10:46] #797 closed, assigned to sphemakh, Athanaseus

[2020-04-01 14:05] KshitijT opened #880 "I don't know if I know enough carate"
I get the following complaint from caratekit:
[code]
To add insult to injury:

[code]
This happens despite the log for elevation plots looking like this:

[code]
caratekit was run as:

[code]
I am probably missing a trick here. Mr. Miyagi..errm.. I mean @gigjozsa , please teach.

I promise to learn.

[2020-04-01 15:48] #837 closed, assigned to sphemakh

[2020-04-02 07:07] #765 closed, assigned to gigjozsa

[2020-04-02 08:11] gigjozsa opened #883 "Globally limit computing resources used by CARACal"
Globally limit memory and thread use by CARACal, remove the options to control them from single workers.

[2020-04-02 08:12] #879 closed, assigned to gigjozsa

[2020-04-03 08:10] #782 closed, assigned to gigjozsa

[2020-04-03 08:34] #572 closed, assigned to sphemakh, bennahugo, KshitijT

[2020-04-03 08:35] #381 closed, assigned to sphemakh

[2020-04-03 08:36] #300 closed, assigned to PeterKamphuis

[2020-04-03 08:36] #249 closed, assigned to sphemakh, PeterKamphuis

[2020-04-03 17:50] KshitijT opened #891 "Caratekit standard config fails at modelsub step in image_line"
It does so with this message:

[code]

The relevant bit of carateconfig is :
[code]

I suspect this happens because even with `column: 'all'`, mstransform does not copy over the `MODEL_DATA` column, modelsub tries to subtract the nonexistent `MODEL_DATA` column from the `CORRECTED_DATA` and crashes.  See:

[code]

Of course this does not happen with `stanard' usage of the pipeline, since there is

[2020-04-04 11:03] #891 closed, assigned to paoloserra, gigjozsa

[2020-04-04 14:40] o-smirnov opened #893 "running meerkathi with no arguments results in a screenful of exception"
This is not the best way to be friendly to new users:
[code]
It looks like the interactive option editor is broken. Does anyone ever use it? If not, we must just disable it, and print an error message insisting on a configuration file.

[2020-04-05 12:12] #880 closed, assigned to gigjozsa

[2020-04-05 15:21] o-smirnov opened #895 "CASA errors not propagated outwards"
Stuff like this:
[code]
...really needs to stop the pipeline with an error message. And yet it ploughs on.

Can't be that hard -- @SpheMakh is already raising the exception in Crasa?

[2020-04-05 15:53] #807 closed, assigned to paoloserra

[2020-04-05 15:54] #831 closed, assigned to paoloserra

[2020-04-05 15:55] #767 closed, assigned to paoloserra, sphemakh, molnard89

[2020-04-05 18:10] #895 closed, assigned to sphemakh

[2020-04-06 08:03] PeterKamphuis opened #896 "How to exit on input error?"
Currently the preferred way to exit the pipeline when something is wrong with the input, i.e. not crashing but deliberately stopping, appears to be the the sys.exit(1)

However, this results in the message:
[code]

But these are not bugs but cases where there is something missing in the ms, yml input errors or some divergence in the pipeline. People should be advised to carefully check their logs

[2020-04-06 09:10] #834 closed, assigned to sphemakh

[2020-04-06 09:46] PeterKamphuis opened #897 "Pipeline is now broken for mss without intents."
The current master does not set the proper values for the fields when there are no intents in the the measurement set.  Even when the values are set in the yml, i.e. no use of auto.

The conflicting line appears to be this:
https://github.com/ska-sa/meerkathi/blob/83775e633a1066eef816690977071aca2089dc98/meerkathi/workers/observation_config_worker.py#L217

which uses the intents but I'm not sure.

[2020-04-06 12:03] SpheMakh opened #899 "self_cal/cal_time_chunk not defined in schema"
[code]

https://github.com/ska-sa/meerkathi/blob/83775e633a1066eef816690977071aca2089dc98/meerkathi/sample_configurations/minimalConfig.yml#L83

[2020-04-06 12:05] SpheMakh opened #900 "self_cal/cal_time_chunk not defined in schema"
[code]

https://github.com/ska-sa/meerkathi/blob/83775e633a1066eef816690977071aca2089dc98/meerkathi/sample_configurations/minimalConfig.yml#L83

[2020-04-06 12:09] #899 closed, assigned to nobody

[2020-04-06 15:15] #900 closed, assigned to PeterKamphuis

[2020-04-06 15:15] #897 closed, assigned to molnard89

[2020-04-06 16:34] #854 closed, assigned to Fil8

[2020-04-06 19:50] o-smirnov opened #908 "config validation errors should not produce a screenful of stack dump"
Bad config is probably the most common end-user error we'll encounter, so the message needs to be more friendly.

I volunteer to fix this, since I've been on an error-reporting-streamlining rampage anyway.

[code]

[2020-04-06 21:44] viralp opened #909 "Clip mode flagging"
Hello,

Is clip mode flagging in crosscal is depreciated in the newer version of meerkathi?

To check clipminmax option, I copied crosscal all options to the default configuration file, but getting the following error

Traceback (most recent call last):
  File "/home/parekh/menv3/bin/meerkathi", line 7, in <module>
    exec(compile(f.read(), __file__, 'exec'))
  File "/home/parekh/meerkathi/bin/me

[2020-04-07 01:46] gigjozsa opened #910 "Correct all sample configurations before accepting any pull request"
All sample configurations have to adjusted to newly introduced schemata. Please, who submitted new schemata without correcting all sample configurations, check those and correct those! @PeterKamphuis thank you for starting this. May I ask you to follow up on this?

[2020-04-07 11:16] paoloserra opened #914 "Consequences of new workflow for calibrators' flags"
The new workflow implemented in https://github.com/ska-sa/meerkathi/pull/892 allows users to run the pipeline without ever modifying the input .MS. Among other things, the calibrators are first split off the input .MS, then flagged. This is different from the old workflow, where the calibrators were flagged from within the input .MS. (Note that the old workflow can still be used -- more below.)

T

[2020-04-07 19:15] #893 closed, assigned to o-smirnov

[2020-04-07 19:15] #527 closed, assigned to sphemakh, dane-kleiner

[2020-04-07 19:42] #707 closed, assigned to o-smirnov, Mulan-94

[2020-04-08 06:32] #864 closed, assigned to PeterKamphuis

[2020-04-08 07:05] #298 closed, assigned to nobody

[2020-04-08 08:05] PeterKamphuis opened #918 "xvfb-run: error: Xvfb failed to start with singularity on Stills"
Today I tried the current master on Stills with:
`caratekit.sh -sm -ls /home/kamphuis/Github/meerkathi/ -ct test1 -f`

and it failed with:
[code]

The list obs log gives:
[code]

A docker version runs fine on my home system but I do not know whether the problem is singularity or being remote. To test my X-connection to stills I started tigger and that runs fine.

[2020-04-08 08:16] PeterKamphuis opened #919 "Crosscal fails on plot gains in current master"
Running the current master with minimal config with carate on my home system with:
`caratekit.sh -dm -os -ls /Pipelines/Caracal/meerkathi/ -ct test1 -f`

results in:
[code]

with the log message:

[code]

[2020-04-08 08:30] gigjozsa opened #920 "Error message std-progress-report.ipynb does not exist"
Output on the standard test contains:
[code]
And ignores the message.

[2020-04-08 08:44] paoloserra opened #921 "Thoughts on caratekit installation"
@gigjozsa Thank you for your hard work on caratekit. I've used to install and it worked easily and beautifully. Thanks thanks thanks.

I think a few aspects could be improved slightly, so here's some ideas.

1) After running caratekit.sh I find two meerkathi directories on disc. The first one was created by me with `git clone https://github.com/ska-sa/meerkathi`. That is the directory where I got

[2020-04-08 09:35] #919 closed, assigned to nobody

[2020-04-08 10:25] o-smirnov opened #924 "need separate tool/mode to list flagversions"
As noted here: https://github.com/ska-sa/meerkathi/issues/896#issuecomment-610595326

Listing flag versions is useful, but it's a little odd to have to fiddle with the config file to get it.

How about a command-line switch instead which, instead of running the pipeline, lists the flag versions in the MSs specified in the config file?

(We already have a "print calibrators and exit" switch, so thi

[2020-04-08 10:28] #920 closed, assigned to o-smirnov, sphemakh, Athanaseus

[2020-04-08 14:32] PeterKamphuis opened #925 "Logs for transform_data are named split_target"
Maybe I missed the memo on this but the logs for the transform_data section are still called `log-split-target-####` instead of `log-sausage-factory-###` as they should be.

This might be a bit confusing for someone looking for the logs of the transform_data worker.

[2020-04-08 16:45] o-smirnov opened #927 "updating the schema minor version numbers"
Something we discussed on Tuesday:  we need to make sure that any changes to any individual schema results in a corresponding increment to the point version number. (The third number in ``0.3.0``) We agreed that the version is global and common to all schemas. (Sorry @gigjozsa, I know you prefer "schemata", but that just puts me to mind of Easter too much).

I will add a warning message in the val

[2020-04-08 16:53] paoloserra opened #928 "set_model with meerkathi_model: true writes a core dump"
So that's from meqtrees. The core dump is in the output directory.

[2020-04-09 09:17] #908 closed, assigned to o-smirnov

[2020-04-09 13:37] SpheMakh opened #934 "Further changes to flag management logic"
_[updated by Paolo]_

- [x] propagate the field selection to flag_time and flag_scan @paoloserra
- [x] better name of containers, step etc @paoloserra
- [x] add prefix to flag version name @paoloserra
- [x] implement consistency check between AOFlagger strategy and available correlations @paoloserra
- [ ] propagate the field selection to static_mask @SpheMakh
- [ ] option to list all available fla

[2020-04-09 15:31] #763 closed, assigned to KshitijT

[2020-04-09 22:50] gigjozsa opened #936 "Return error code please"
Please notice this hack to avoid a bad exit of the pipeline:

https://github.com/ska-sa/caracal/blob/fd5082e8e5d9b54b2f091b09569a84723f0d2196/caracal/main.py#L333-L341

I have added it to be able to merge the caracal branch into master. I tried to find the issue where exceptions are discussed by @o-smirnov and @PeterKamphuis and could not find it. They will know how to fix this quickly.

[2020-04-10 04:32] #775 closed, assigned to nobody

[2020-04-10 04:37] #910 closed, assigned to paoloserra

[2020-04-10 04:43] #861 closed, assigned to gigjozsa

[2020-04-10 05:08] gigjozsa opened #937 "Update README.md"
What it says.

[2020-04-10 07:43] PeterKamphuis opened #939 "Caratekit tries to install caracal in non-exiting directory carate"
Trying to use caratekit with `caratekit.sh -dm -ls /Pipelines/Caracal/caracal/ -ct test1 -f` results in the following error:
[code]

Indeed the carate directory does not exit. Only a caracal directory

[2020-04-10 07:53] paoloserra opened #940 "local_rms in self_cal worker"
It turns out that this wasn't such a great idea. Having made this change, if one uses local_rms when making a SoFiA clean mask they are forced to use it also when cleaning with WSclean within that clean mask. We need more control, i.e., separate local_rms parameters for WSclean and SoFiA.

[2020-04-10 08:35] #939 closed, assigned to nobody

[2020-04-10 09:28] viralp opened #942 "Desired column (CORRECTED_DATA) not found in the input MS"
Hi,

I am getting the following error with the latest configuration file. I don't know how crosscal applied the calibration to the target.
[default.txt](https://github.com/ska-sa/caracal/files/4460891/default.txt)

2020-04-10 09:13:09	INFO	mstransform::::+	##########################################
2020-04-10 09:13:09	INFO	mstransform::::+	##### Begin Task: mstransform        #####
2020-04-10 09:1

[2020-04-10 10:27] #942 closed, assigned to nobody

[2020-04-10 14:31] KshitijT opened #943 "Stimela output path issue"
For all caracal devs / users on com08 (or where similar username conventions are followed, see below):

Stimela output path seems to be set incorrectly for a particular setting for usernames. Some the stimela issue (https://github.com/ratt-ru/Stimela/issues/550) for details. In brief:

Stimela settings mean that the output path is set to:
[code]
on com08 where :

[code]
Since the cubical `modellis

[2020-04-10 16:14] paoloserra opened #944 "full commands missing from log files"
I no longer see the full command of the task in the corresponding log file.

E.g., log-self_cal-image_field0_iter0-20200410-155056.txt (which runs WSclean) reads as follows, and I do not see the full WSclean command in there.

Unless I'm doing something wrong, can we please get the full commands back. They're very. useful for debugging.

[code]

[2020-04-11 11:49] o-smirnov opened #947 "do not support py2 more brutally"
I just remade a Python2 virtualenv by mistake. I know we don't support it, but that's what virtualenv makes when you don't give it any arguments.

Both Stimela and Caracal installed without any complaints, but of course crashed in spectacular (if somewhat puzzling) fashion when I tried to run them. They should not install.

There's an option that can be given in ``setup.py`` that prevents installa

[2020-04-12 17:10] #947 closed, assigned to Athanaseus

[2020-04-13 12:42] gigjozsa opened #949 "Check switches and deactivate obsolete switches"
The CARACal switches have to be checked. Switches that might be obsolete should be removed.

[2020-04-14 07:09] viralp opened #952 "Error in cubical run"
I got this error in the first round of calibration in the cubical.

ImportError: /home/parekh/meerkathi-venv/lib/python3.6/site-packages/casacore/tables/_tables.cpython-36m-x86_64-linux-gnu.so: undefined symbol: _ZN8casacore13StorageOptionC1ENS0_6OptionEi

[log-self_cal-calibrate_cubical_field0_iter1_ms0-20200413-174858.txt](https://github.com/ska-sa/caracal/files/4473656/log-self_cal-calibrate_cu

[2020-04-14 09:32] o-smirnov opened #953 "clean up job names within recipes, and go easy on the underscores"
This is a nerdy and somewhat OCD and cosmetic point, but I feel it's important. Maybe I can find an ally in @gigjozsa.

Our log-worker-task.txt filenames are getting pretty long and are very hard to render neatly. See e.g. below:

![image](https://user-images.githubusercontent.com/6470079/79207532-16e06480-7e41-11ea-9639-89fdc46ded44.png)

This is because the browser allows itself to wrap long fil

[2020-04-14 12:34] #940 closed, assigned to nobody

[2020-04-14 12:42] #595 closed, assigned to PeterKamphuis, Athanaseus, dane-kleiner

[2020-04-15 10:13] #924 closed, assigned to sphemakh

[2020-04-15 17:35] gigjozsa opened #955 "Why does a caracal clone require 56 MB?"
We are apparently accumulating a lot of MB when committing over and over again. How can we deal with that?

[2020-04-15 17:58] #955 closed, assigned to o-smirnov, paoloserra

[2020-04-16 08:37] HaoChen-ast opened #957 "Manual Installation error"
Manual installation does not work.

[code]

Current development branch successed
[code]

[2020-04-16 09:17] HaoChen-ast opened #958 "listobs_0 Errors in observation_config worker (singularity is used):"
listobs_0 Errors in observation_config worker  (singularity is used):
while mounting /idia/projects/vela/CARACal_all/CARACal-venv-16Apr2020/lib/python3.7/site-packages/stimela: destination /scratch/stimela doesn't exist in container.

[code]

[2020-04-16 10:31] #957 closed, assigned to nobody

[2020-04-16 11:03] HaoChen-ast opened #960 "caratekit.sh syntax error"
There is an extra "if" at line 767 or one more "else" and "fi" are needed from line 765 to 781.

https://github.com/ska-sa/caracal/blob/70cbece5031851b007b24f60c46bfe6467583b49/caratekit.sh#L765-L785

[2020-04-17 18:17] #949 closed, assigned to gigjozsa

[2020-04-18 12:00] o-smirnov opened #963 "transform_data worker crashes splitting target with OTF cal"
New workflow ain't flowing for me. The error is baffling:
[code]
I gotta say, the offending line looks like a Fearsome Hack to me. Poking around in the guts of stimela like that is asking for trouble. What is this line trying to accomplish?
[code]

[2020-04-19 11:21] o-smirnov opened #965 "Set --log-memory 1 in cubical invocation"
My selfcal worker (I'm running selfcasl at last @paoloserra!!!) fell over with:

[code]

Probably out of memory. But it would be easier to diagnose if we just always ran cubical with ``--log-memory 1``. It costs nothing and it makes for a more informative log.

[2020-04-20 09:59] dprokhorov opened #967 "Error caused by a logfile (MeerKATHI with singularity version)"
The MeerKATHI stopped with an error while trying to write to the logfile.

Error:
File "/home/dmitry/Stimela/stimela/recipe.py", line 1095, in run
    with open(job.job.logfile, 'a') as stda:
AttributeError: 'dict' object has no attribute 'logfile'

If the four corresponding lines (around the line N 1095) are removed from recipy.py,
no warning occurs.

  if job.jtype == 'singularity' and job.creat

[2020-04-20 10:54] Sinenhlanhla opened #968 "Caracal listobs error"
I've recently updated meerkathi and now running the caracal version. This is the error I get when trying to run `mstranform`:
[code]

[2020-04-21 06:46] #918 closed, assigned to nobody

[2020-04-21 08:15] PeterKamphuis opened #971 "Having a model list shorter than cal_niter leads to errors in aimfast."
As discovered in #959 having more iterations in the self_cal than the length of the model array leads to problems when extract_sources is on.

The current master will crash on line  https://github.com/ska-sa/caracal/blob/f51946751efa484da3ffd9b5cfb5bba337ed526b/caracal/workers/self_cal_worker.py#L1561 because model is only set when the model input array has more elements than cal_niter
See line:
h

[2020-04-21 09:16] #960 closed, assigned to nobody

[2020-04-21 09:18] #937 closed, assigned to paoloserra, gigjozsa

[2020-04-21 09:22] #921 closed, assigned to nobody

[2020-04-21 09:34] o-smirnov opened #972 "Make inspect_data colourful again"
Now that ``--colour-by`` is accepted by shadeMS.

[2020-04-21 11:13] #968 closed, assigned to sphemakh

[2020-04-21 19:36] #958 closed, assigned to sphemakh, KshitijT

[2020-04-22 06:56] #934 closed, assigned to paoloserra, sphemakh, mpatir

[2020-04-22 06:57] #760 closed, assigned to sphemakh, mpatir

[2020-04-22 07:01] #672 closed, assigned to sphemakh

[2020-04-22 07:17] gigjozsa opened #975 "Reinstate Jenkinstest"
Using caratekit, a Jenkinstest should be a one-liner. There are several possibilities to implement it.
We need to discuss (or not) when and how to do it.

[2020-04-22 09:55] 3rico opened #976 "new install installs caracal contents in -rp folder"
After setting the workspace and caracal_dir variables and running

`caratekit.sh -ws ${workspace} -cr -si -ct ${caracal_testdir} -rp install -f -kh`

`source ${workspace}/${caracal_dir}/caracal_venv/bin/activate `

Doesn't work. I found Caracal is installed inside a folder called "-rp" which I figure is from the install options.

Is this normal?

[2020-04-22 11:55] #857 closed, assigned to paoloserra, gigjozsa

[2020-04-22 13:29] o-smirnov opened #977 "possibly generate report at every worker?"
As discussed with @Athanaseus and @SpheMakh, but I'm changing my mind. :)

So:

* We need a piece of Python that takes @Athanaseus's "final report" notebook and renders it into HTML

* The "final report" needs to check the underlying output directories, and generate only the sections for which outputs are available (@Athanaseus I changed my mind about that as well. Never mind templates -- easier t

[2020-04-22 15:08] o-smirnov opened #978 "bad target_to_msfiles call in image_line_worker"
Here: https://github.com/ska-sa/caracal/blob/master/caracal/workers/image_line_worker.py#L902

I assume it should be ``utils.image_line_worker``, but the True argument is extra -- should I just remove it?

[2020-04-22 15:14] o-smirnov opened #979 "available_flagversions not defined in transform_data_worker"
At this point: https://github.com/ska-sa/caracal/blob/master/caracal/workers/transform_data_worker.py#L175

[2020-04-22 15:17] o-smirnov opened #980 "Undefined 'key' in selfcal_worker"
https://github.com/ska-sa/caracal/blob/master/caracal/workers/self_cal_worker.py#L101

[2020-04-22 15:28] o-smirnov opened #981 "Undefined symbol montage in masking_worker"
https://github.com/ska-sa/caracal/blob/master/caracal/workers/masking_worker.py#L267

[2020-04-22 15:44] #979 closed, assigned to nobody

[2020-04-22 15:45] #980 closed, assigned to nobody

[2020-04-22 15:55] #978 closed, assigned to paoloserra

[2020-04-22 17:30] o-smirnov opened #984 "Test errors with some combinations of caratekit test settings and test MSs"
@paoloserra, the good news is that I'm running the selfcal worker! The bad news, it's only the caratekit test. The even worse news is, it crashes inside cubical, in an utterly incomprehensible manner:

[code]
My question is, how the hell does this work for anyone? Is anyone running the caratekit tests successfully? Can someone else please try, with Caracal master?

@gigjozsa, my command line was:

[2020-04-22 17:43] #976 closed, assigned to nobody

[2020-04-22 19:50] gigjozsa opened #985 "Add caracal logos for download"
I am not sure where these should go, but we should provide them for people to show. We will (should) add a part asking a CARACal logo to be shown on talk slides and posters, so we should provide them somewhere easy to download.

[2020-04-23 08:13] PeterKamphuis opened #986 "Pipeline Crashes after changing prefix"
If I only change the prefix in the config and nothing else the Pipeline crashes currently with

[code]

Besides that this is terribly inconvenient for debugging and improving  It will also cause problems when a user wants to rerun a stage with different setting without a wholly new directory structure.

To make matters even worse in the new workflow you can not split of your targets a new with you

[2020-04-23 09:20] o-smirnov opened #987 "mosaic worker crashes with Stimela error"
This is with the caratekit ``-dm`` test.

Assigning to @SpheMakh since it just may be a trivial error in the cab:

[code]

[2020-04-23 09:57] #986 closed, assigned to nobody

[2020-04-23 10:00] PeterKamphuis opened #988 "Should SelfCal gain table names take prefix into account?"
Currently the gaintable names are produced without the prefix in SelfCal, In the crosscal however they are used. Should the prefix also be added the selfcal table names?

[2020-04-23 10:39] #967 closed, assigned to KshitijT

[2020-04-23 10:41] #963 closed, assigned to paoloserra, sphemakh

[2020-04-23 10:43] #943 closed, assigned to nobody

[2020-04-23 11:24] #965 closed, assigned to PeterKamphuis

[2020-04-23 11:35] gigjozsa opened #989 "Strange behaviour in crosscal worker"
Please see attached files with info, the error seems to be:
[code]
[ic1459-sysinfo.txt](https://github.com/ska-sa/caracal/files/4522152/ic1459-sysinfo.txt)
[ic1459-ic1459_00.yml.txt](https://github.com/ska-sa/caracal/files/4522150/ic1459-ic1459_00.yml.txt)
[ic1459-ic1459_00-log-caracal.txt](https://github.com/ska-sa/caracal/files/4522151/ic1459-ic1459_00-log-caracal.txt)
[ic1459.sh.txt](https://gi

[2020-04-23 12:24] #988 closed, assigned to nobody

[2020-04-24 08:19] #989 closed, assigned to paoloserra, KshitijT, PeterKamphuis

[2020-04-24 09:26] #928 closed, assigned to o-smirnov

[2020-04-24 09:27] #248 closed, assigned to sphemakh

[2020-04-24 11:34] SpheMakh opened #993 "save observation information in an obsinfo sub-directory"
This info includes
 - obsinfo files (listobs and msutils  summary)
 - elevation plots
 - rfinder plots?

[2020-04-24 13:20] gigjozsa opened #994 "Schema validation fails for list of float: accepts list of strings"
I am getting
[code]
using a config file like this:
[ic1459-01-ic1459_01.yml.txt](https://github.com/ska-sa/caracal/files/4529057/ic1459-01-ic1459_01.yml.txt)
but the offending lines seem right to me:
https://github.com/ska-sa/caracal/blob/698edf7e5d7ec1a1881c039ee2b5fd040ba9f9a8/caracal/workers/self_cal_worker.py#L1350-L1368

[2020-04-24 13:38] healytwin1 opened #995 "flag antenna crashes"
I am trying to flag specific baselines by using:
[code]

but I get the following error:
[code]

[2020-04-24 21:06] paoloserra opened #997 "tricolour welcome message"
If you run tricolour you get this welcome. It ain't pretty. No crash, no  big deal, but maybe we can fix that.

[code]

[2020-04-24 23:07] gigjozsa opened #998 "WSClean stumbles over 'too many open files'"
Tried to make a cube with 1149 planes, which failed because of "too many open files" on com06. The offending line in the logfile is
[code]
Full information here:
[ic1459-01-sysinfo.txt](https://github.com/ska-sa/caracal/files/4531918/ic1459-01-sysinfo.txt)
[ic1459-01-ic1459_01.yml.txt](https://github.com/ska-sa/caracal/files/4531920/ic1459-01-ic1459_01.yml.txt)
[ic1459-01-ic1459_01-log-caracal.txt

[2020-04-25 07:41] paoloserra opened #999 "MEQTREES_CATTERY_PATH warning"
see messages below, nothing fatal but it would be good to get rid of them

[code]

[2020-04-25 07:44] #925 closed, assigned to o-smirnov

[2020-04-25 07:44] #995 closed, assigned to sphemakh, gigjozsa, KshitijT

[2020-04-25 07:54] #953 closed, assigned to o-smirnov

[2020-04-25 10:38] gigjozsa opened #1000 "perl UTF-8 locale settings warning"
On com06, using singularity I frequently get:
[code]
in the logfile.
It doesn't do anything, but it's not pretty, either.

[2020-04-25 10:43] gigjozsa opened #1001 "DEBUG messages in logfile"
In my logfile on com06 I frequently get messages like:
[code]
This might be connected to #1000

[2020-04-25 11:18] #985 closed, assigned to nobody

[2020-04-25 20:35] #817 closed, assigned to mpatir, dane-kleiner

[2020-04-25 21:54] #781 closed, assigned to nobody

[2020-04-26 08:29] #971 closed, assigned to Athanaseus

[2020-04-26 13:16] gigjozsa opened #1003 "Automatically choose optimal reference antenna"
This obviously requires a discussion, which we already had to some extent.

[2020-04-26 16:57] #1003 closed, assigned to nobody

[2020-04-26 17:47] gigjozsa opened #1004 "Using a sky model for primary calibrators regardless"
Primary-beam correct MeerKAT LSM, store that as LSM.
Un-primary-beam correct LSM each time CARACal is invoked.

[2020-04-26 18:09] #994 closed, assigned to gigjozsa

[2020-04-26 18:09] #981 closed, assigned to Fil8

[2020-04-26 19:33] gigjozsa opened #1005 "Remove branch fix-595"
Is for some reason still present...

[2020-04-26 19:38] #1005 closed, assigned to KshitijT

[2020-04-26 19:45] #660 closed, assigned to nobody

[2020-04-27 09:46] paoloserra opened #1006 "improve worker names"
as per https://github.com/ska-sa/caracal/issues/925#issuecomment-617830002 and  following comments, the workers should be renamed as:

general, getdata, obsconf, prep, transform, flag, crosscal, inspect, polcal,  polcal, mask, selfcal, ddcal, line, mosaic

[2020-04-27 11:10] paoloserra opened #1007 "'primary: flag' and secondary: flag' should have an 'enable' option"
in the `cross_cal` worker

[2020-04-27 12:11] #984 closed, assigned to nobody

[2020-04-27 14:22] paoloserra opened #1008 "multiscale clean in zero-th imaging run"
When `clean_mask_method[0] = sofia`, Caracal makes an initial "hidden" image_0 with `local_rms = true` & `auto_mask = 6` (both hardcoded); then makes a SoFiA clean mask from it; and uses the clean mask when making `image_1`. The  clean components of `image_1` are used to self-calibrate. So far so good.

My question  is whether `image_0` should use the same `multi_scale` settings as the rest of the

[2020-04-27 14:51] gigjozsa opened #1009 "No gain in selfcal worker"
There is no gain parameter in the selfcal worker. Should we have one?

[2020-04-27 15:18] gigjozsa opened #1010 "Implement new workflow in all configs"
See above.

[2020-04-27 15:19] #1007 closed, assigned to nobody

[2020-04-27 15:27] gigjozsa opened #1011 "Add label_in and field to prepare_data worker"

[2020-04-27 15:40] #706 closed, assigned to o-smirnov

[2020-04-27 16:27] gigjozsa opened #1012 "Reconsider all parameter names before the final release"
See above

[2020-04-27 17:53] #859 closed, assigned to o-smirnov, paoloserra

[2020-04-27 21:42] paoloserra opened #1013 "applycal options in 'transform_data' should be the same as in 'cross_cal'"
The applycal options in `transform_data` used to be the  same as in `cross_cal`. However, this is not longer the case since `cross_cal` was changed and improved.

It would be good to change `transform_data` to reflect the current `cross_cal` applycal options. To be discussed whether this is for R1.

[2020-04-28 09:01] healytwin1 opened #1017 "cubical falling over because of memory issues on idia"
I have been trying to run the self-cal worker, but it is failing at the cubical step on the first selfcal loop. I have tried this on both my desktop (running podman) and on ilifu (with singularity), the errors are not the same, but the fail at the same point. I have used the same config file and the same dataset.

The podman error:
[code]

and the singularity error:
[code]

[2020-04-28 09:43] #952 closed, assigned to KshitijT

[2020-04-28 10:37] o-smirnov opened #1018 "move flag stats plot from report notebook to flagging worker/worker_utils"
@Athanaseus has a very nice bit of code for reading the logs from flagmanager summary, and converting them into HTML plots. This currently resides in the report notebook, but it should be useful in the pipeline generally, whenever a new flagging summary is generated.

Proposal:

* create a function in worker_utils that reads a flagsummary and converts it into a dict of per-scan, per-antenna, per-f

[2020-04-28 14:36] #936 closed, assigned to sphemakh, PeterKamphuis

[2020-04-28 14:55] #846 closed, assigned to sphemakh

[2020-04-28 18:52] #1011 closed, assigned to molnard89

[2020-04-28 20:49] o-smirnov opened #1021 "```"

[2020-04-28 20:49] #1021 closed, assigned to nobody

[2020-04-28 20:52] o-smirnov opened #1022 "caratekit throws Docker error"
Doing this:
[code]
I get this:
[code]
...which leaves me stumped. What am I missing?

[2020-04-29 09:44] #1022 closed, assigned to gigjozsa

[2020-04-29 09:51] o-smirnov opened #1025 "misplaced selfcal logic (!?) in observation_config"
I saw this message at startup which piqued my interest (and annoyed me with its capitalization style not consistent with anything else in the pipeline):
[code]
Upon rummaging, I found this chunk of code: https://github.com/ska-sa/caracal/blob/master/caracal/workers/observation_config_worker.py#L27

This IMHO is absolutely the wrong place for this (I guess it just got stuck there for lack of a bett

[2020-04-29 11:48] PeterKamphuis opened #1027 "Crosscal worker fails on error 'not specified an MS folder'"
`caratekit.sh -lc /home/peter/Pipelines/Caracal/caracal/ -ct test2  -dm -or -f -os`

results in

[code]

[2020-04-29 17:29] #1027 closed, assigned to o-smirnov, Athanaseus

[2020-04-29 17:44] gigjozsa opened #1028 "CARACal.Stimela.plotgains-K-0-0 ERROR"
The error is:
[code]
This occurs in the latest master and a few commits before that. See these documentation files:
[minimalConfig-docker.sh.txt](https://github.com/ska-sa/caracal/files/4553356/minimalConfig-docker.sh.txt)
[minimalConfig-docker.yml.txt](https://github.com/ska-sa/caracal/files/4553357/minimalConfig-docker.yml.txt)
[minimalConfig-docker-log-caracal.txt](https://github.com/ska-sa/car

[2020-04-29 20:13] #1006 closed, assigned to paoloserra

[2020-04-29 20:13] #1008 closed, assigned to nobody

[2020-04-29 20:13] #1009 closed, assigned to paoloserra

[2020-04-30 17:21] gigjozsa opened #1030 "Typo in crosscal schema"
https://github.com/ska-sa/caracal/blob/b8a276868b62e0bd8cdfc719a17d52ab977a30ec/caracal/schema/crosscal_schema.yml#L119

should be 'a','ap','p'

[2020-05-01 06:31] #987 closed, assigned to sphemakh

[2020-05-01 06:31] #993 closed, assigned to sphemakh

[2020-05-01 06:32] #852 closed, assigned to sphemakh

[2020-05-01 11:11] #1030 closed, assigned to nobody

[2020-05-01 11:24] edeblok opened #1032 "non-fatal pyregion error in caratekit install"
Installing a completely new version with caratekit.sh gives a pyregion complaint:
[code]
Numpy had been installed previously and was not missing from the system.
Rerunning the script gave the same error.

Going into the virtual environment manually and running
[code]
from the manual installation instructions does not have this issue. After this the script can be run to completion as well.

This is

[2020-05-01 14:55] KshitijT opened #1035 "AOFlagger strategies"
Two minor points:
1. We use the same strategy by default to flag both calibrators and the target field. Probably best to use optimised strategies like tricolour.
2. This probably needs input from @bennahugo : the 'OR' operation with the original flags should be done after all the flags are decided by aoflagger, not before (e.g. before stuff like time_selection and expansion of flags with statistic

[2020-05-01 15:06] #1032 closed, assigned to gigjozsa

[2020-05-01 15:26] #1025 closed, assigned to nobody

[2020-05-01 18:03] gigjozsa opened #1037 "Inspect fails because of type error"
This:
[code]

[2020-05-01 19:08] #1028 closed, assigned to sphemakh

[2020-05-01 20:01] KshitijT opened #1038 "New workflow or the old?"
This bit of code:
[code]
(https://github.com/ska-sa/caracal/blob/master/caracal/workers/crosscal_worker.py#L356), I feel is specific to the new workflow, in which the crosscal label corresponds to the split measurement sets comprising of the calibrator fields and carrying the label 'cal'. If one uses, say, the meerkat defaults configs, in which the new workflow is not default and the crosscal labe

[2020-05-02 06:42] #1038 closed, assigned to nobody

[2020-05-02 14:03] o-smirnov opened #1040 "Null-ish visibilities in full test data"
Not sure if this is a bug or a feature, but I want to make sure I'm not the only one seeing this... I'm running the official full caratekit test and studying the plots carefully, and I see stuff like this in the initial data (AFTER flagging but BEFORE 1GC):

This is for gcal:

![image](https://user-images.githubusercontent.com/6470079/80866156-91a4de80-8c8d-11ea-90da-9cc7ace17104.png)

And this is

[2020-05-03 17:10] KshitijT opened #1041 "Ragavi plotting woes"
When the plotter is set to 'ragavi_vis', I get the following error:
[code]

The options are given by the lines (as above, so below):
[code]

Just as a curiosity, is 1GB memory enough for this? Putting at defcon-0, lower if @o-smirnov and @Mulan-94 think it is not that dire.

[2020-05-05 09:27] SpheMakh opened #1043 "`flag` worker mixing up fields when there are multiple targets"
[code]

The field it's looking for is in the other MS from the `transform` worker

[2020-05-05 09:39] #768 closed, assigned to o-smirnov, IanHeywood

[2020-05-05 09:55] #1037 closed, assigned to o-smirnov, sphemakh, Mulan-94, Athanaseus

[2020-05-05 10:56] #1018 closed, assigned to sphemakh, Athanaseus

[2020-05-05 17:07] gigjozsa opened #1044 "Selfcal worker trips over empty source list"
This is using the standard suite of test data sets. Using the carateConfig.yml:
[carateConfig-docker.yml.txt](https://github.com/ska-sa/caracal/files/4582397/carateConfig-docker.yml.txt)
I get the following report:
[carateConfig-docker-log-caracal.txt](https://github.com/ska-sa/caracal/files/4582398/carateConfig-docker-log-caracal.txt)
The selfcal worker tries to transfer the model and suddenly fa

[2020-05-05 19:40] #774 closed, assigned to KshitijT

[2020-05-05 19:40] paoloserra opened #1046 "tricolour hanging -- try dask-ms#113"
Tricolour  is giving me some grief. Sometimes it completes in a short time, sometimes it hangs for hours with no sign of progress (same .MS, same settings).

The more recent example is with current Caracal master, Stimela 1.4.3. I'm running it on a 15GB .MS on my 8-cores, 64GB RAM desktop with the tricolour strategy https://github.com/ska-sa/caracal/blob/master/caracal/data/meerkat_files/calibrato

[2020-05-05 19:56] o-smirnov opened #1047 "Make default "rewind_flags: version" = "auto""
I enabled ``flag: rewind_flags``, and got the above message. Reading carefully, looks like I forgot to include the version to rewind to.

But @paoloserra, wouldn't a sensible default be, in the absence of any version specified, to rewind to the "before" version associated with that worker?

As it is, I now have to specify ``prefix_flag_before`` explicitly. Which now means ``prefix`` is now specifi

[2020-05-06 07:40] paoloserra opened #1049 "offsets in some MeerKAT open time data lead to horrible phaseballs"
Here's two phase-uvw plots of the primary. One is ok-ish (though I find the range of phases too large). The other one is horrible.

![gps-1547499081-1gc1-J0408-6545-phase_uvwave-bpcal-_Corr_XX](https://user-images.githubusercontent.com/6591265/81148307-53a10680-8f7c-11ea-9215-66c48682df7a.png)

![gps-1547499081-1gc1-J0408-6545-phase_uvwave-bpcal-_Corr_XX](https://user-images.githubusercontent.com/

[2020-05-06 14:55] #1043 closed, assigned to nobody

[2020-05-06 18:20] #1013 closed, assigned to nobody

[2020-05-06 18:30] #786 closed, assigned to gigjozsa

[2020-05-06 18:44] #972 closed, assigned to o-smirnov

[2020-05-06 19:51] svw26 opened #1050 "Minor, low-priority things from scrutinising schema"
Opening an issue to keep track, so these items don't get forgotten.

Already raised on Slack: 'label' to have a consistent meaning for all workers, with the plan to rename/check all parameters before release anyway... x

[2020-05-07 06:51] paoloserra opened #1051 "selfcal crashes with gain_matrix_type = GainDiagPhase"
After adding delay selfcal the following lines crash the code with `gain_matrix_type = GainDiagPhase`:

https://github.com/ska-sa/caracal/blob/80c59edc5db2c6c4e600a04211d63ba03a3b8fbb/caracal/workers/selfcal_worker.py#L1276-L1292

With `gain_matrix_type = GainDiagPhase` the first `if` is True. Then none of the other `if` is True, and the RuntimeError is raised.

This is now fixed in https://github

[2020-05-07 11:47] #1047 closed, assigned to paoloserra

[2020-05-07 12:44] #1051 closed, assigned to nobody

[2020-05-07 16:31] #1044 closed, assigned to PeterKamphuis

[2020-05-07 17:02] #836 closed, assigned to nobody

[2020-05-08 09:51] #977 closed, assigned to o-smirnov

[2020-05-08 13:40] #1000 closed, assigned to o-smirnov, sphemakh

[2020-05-09 14:09] svw26 opened #1056 "Extra parameter needed for tfcrop"
Under 'tfcrop' in flag_schema.yml there is ‘combinescans’ with “desc: Accumulate data across scans depending on the value of ntime.”

‘ntime’ is a parameter in CASA FLAGDATA but doesn’t appear in the schema.  x

[2020-05-09 16:27] KshitijT opened #1057 "Use shutil.move with care"
Because for example, if you try to move aimfast plots around and if you already have one lying around:

[code]

Forgive the wildcard characters, just an attempt at masking inappropriate output folder names.

[2020-05-09 18:04] #1057 closed, assigned to Athanaseus

[2020-05-09 18:20] #927 closed, assigned to o-smirnov

[2020-05-09 20:35] paoloserra opened #1060 "updated README when ready for R1"

[2020-05-09 22:03] KshitijT opened #1062 "Fix `dd_out_data_column` parameter in ddcal."
Currently hardcoded, needs to be a proper parameter. Post R1.

Many thanks, @svw26 !

[2020-05-10 05:10] #1010 closed, assigned to gigjozsa

[2020-05-10 07:29] gigjozsa opened #1067 "Jenkins Singularity run fails"
For all the details please see (whoever can):
https://jenkins.meqtrees.net/job/PR_meerkathi/43/console

Notice this does not happen on my own laptop

[code]

[2020-05-10 09:44] paoloserra opened #1068 "run-radiopadre: error: unrecognized arguments: --non-interactive"
[code]

[2020-05-10 14:21] gigjozsa opened #1069 "dd worker has hardcoded variables"
Found shared_memory="400gb" etc.

[2020-05-10 19:38] #1060 closed, assigned to nobody

[2020-05-10 20:14] #1068 closed, assigned to nobody

[2020-05-10 21:29] #1012 closed

[2020-05-10 21:29] #702 closed

[2020-05-10 21:30] #838 closed

[2020-05-10 21:41] paoloserra commented on #633
still not pretty

[code]

[2020-05-10 22:17] o-smirnov commented on #633
Yah that's pretty ugly. Try the ``issue-633`` version. Not perfect but better.

The trouble is that this is not the only exception possible from YAML parsing, and it hasn't got any identifying marks. So I can catch it and print it, but not much else.

[2020-05-11 13:19] gigjozsa opened #1079 "Excited oranges"
They are too excited about the release. How can I calm them down?

![joshs_oranges](https://user-images.githubusercontent.com/8706644/81566089-a888b680-939a-11ea-8c83-8b73511147bb.jpg)

[2020-05-11 13:21] gigjozsa commented on #1041
@o-smirnov Do we close this or do we only remove the milestone tag?

[2020-05-11 13:21] KshitijT commented on #1079
Use DDcal to peel them - that should sort them out.

[2020-05-11 14:36] o-smirnov commented on #1041
Woebegone.

[2020-05-11 16:44] healytwin1 commented on #1017
So we step past the initial memory allocation error on the HighMem node, but it fails a little later on because it cannot allocate 1.85gb for an array... (see the attached log:
[caracal_E1-1274714-stdout.log](https://github.com/caracal-pipeline/caracal/files/4610896/caracal_E1-1274714-stdout.log) )

I am currently running a test on one of the normal nodes that has had `ulimit -l` set to be unlimit

[2020-05-11 16:49] o-smirnov commented on #1017
Does the HighMem node have a ``ulimit -l`` in place?

[2020-05-11 17:40] Jordatious commented on #1017
No, the nodes from the HighMem partition have the same locked memory configuration as the nodes from the Main partition. Btw, that is the default locked memory configuration, so it was not changed either way. We've made a node available to @healytwin1 within a reservation where there is no limit on locked memory, to see if that changes anything. If the test is successful, we should be able to chan

[2020-05-12 07:51] gigjozsa opened #1080 "Remove caratekit from caracal"
and create an own repository for caratekit

The merit is that it can be used and installed independently from caracal.

[2020-05-12 08:07] bennahugo commented on #1080
note that this is not supported on the jenkins setup. The only way to do it correctly is to include the new repository as a submodule within meerkathi

[2020-05-12 08:12] gigjozsa opened #1082 "Reinstate Jenkins test"
For some reasons we lost it...

[2020-05-12 08:17] gigjozsa commented on #1082
See #1081, no Jenkins test is invoked. Tried to figure out myself how to reinstate, but this requires either knowledge or time. Requesting from @o-smirnov @bennahugo , or  @SpheMakh to reinstate the Jenkins test in branch testest.

[2020-05-12 08:22] bennahugo commented on #1082
Not sure what you mean by lost it. The machine simply asked for permission to start testing. It is running at present.

[2020-05-12 08:22] gigjozsa commented on #1080
@bennahugo thanks will discuss this further with you in the near future.

[2020-05-12 08:23] KshitijT commented on #1079
For some reason this issue has not received much attention - can't figure out why. @gigjozsa , did my suggestion above work for you?

The alternative is to mention every new post-release issue in this one; that should calm down the oranges pretty well, I think.

[2020-05-12 08:26] gigjozsa commented on #1082
@bennahugo could you elaborate? I just submitted a PR (basically the current release) to see what happens in github and no Jenkins test started, which is why I raised the issue.

What do I need to do if this happens?

[2020-05-12 08:30] gigjozsa commented on #1079
The oranges were a bit sad about not more people commenting here. But I told them who you actually are, @KshitijT , and now they are pretty proud and happy again.

I also tested your suggestion and indeed it works.

[2020-05-12 08:30] #1079 closed

[2020-05-12 08:32] gigjozsa commented on #1082
Where would this show if it happens again? Is it the "could one of the operators verify this patch" ? To which I reply "ok to test" ?

[2020-05-12 08:39] gigjozsa commented on #1041
Not really nice to reopen this again, but on my laptop running since 20 mins:
[code]

At this stage we should at least put out a warning...

[2020-05-12 08:41] gigjozsa commented on #1041
[code]

[2020-05-12 08:42] gigjozsa commented on #1041
I see that the release version is wrong.

[2020-05-12 08:44] gigjozsa commented on #1041
@SpheMakh could you update the release number in Stimela/setup.py ?

[2020-05-12 08:48] bennahugo commented on #1082
Either Oleg or myself has to say ok to test. We are admin on the box

[2020-05-12 08:52] gigjozsa commented on #1041
This is slightly urgent I guess...
I issued a PR on Stimela, which might fix this: https://github.com/ratt-ru/Stimela/pull/612

[2020-05-12 08:58] o-smirnov commented on #1041
It is urgent, but another PR has to go in for a true fix. Give it an hour.

[2020-05-12 08:59] gigjozsa commented on #1041
@o-smirnov @SpheMakh ok let me know when I can test again.

[2020-05-12 10:21] KshitijT opened #1083 "Fix Meerkat Config defaults for the new workflow"
This line:
https://github.com/caracal-pipeline/caracal/blob/master/caracal/sample_configurations/meerkat-defaults.yml#L80

is wrong.

The label needs to be 'cal', not 1GC.

[2020-05-12 10:50] #1083 closed

[2020-05-12 10:56] paoloserra commented on #1041
Docker or Singularity? I've had no problems with ragavi-gains on Docker since Caracal release, but maybe I've been lucky so far?

[2020-05-12 10:57] gigjozsa commented on #1082
@bennahugo can this be opened at least to admins on caracal?

[2020-05-12 10:59] edeblok commented on #1041
ragavi-gains has been working well for me since yesterday as well on two different measument sets (docker version).

[2020-05-12 10:59] o-smirnov commented on #1082
ok to test
 :)

[2020-05-12 11:01] o-smirnov commented on #1082
Actually I never understood this Jenkins magic. Where exactly do the permissions for who are "admins" reside? In any case people like @gigjozsa, @SpheMakh and @paoloserra should be on it too.

[2020-05-12 11:02] gigjozsa commented on #1082
Yes, and before the shift to the new repo, I did have the ability to (re-)start it...

[2020-05-12 11:03] o-smirnov commented on #1041
Well the fix we figured out yesterday actually didn't make it into a Stimela release until now... ooops... so you have been a couple of very lucky boys.

But yes, now that Stimela 1.5.1 is out, another round of hard testing will be good (running for me fine so far...)

[2020-05-12 11:04] gigjozsa commented on #1082
Also on caracal we have the develper team with admin rights.

[2020-05-12 11:05] gigjozsa commented on #1082
Sorry, correction, this is not true, it's only a few people.

[2020-05-12 11:11] gigjozsa commented on #1082
Anyway, this should be open to people with write access actually.

[2020-05-12 11:15] o-smirnov commented on #1082
Yeah ok so I reorganized teams a little. We have an admin team and a developers team now. Someone less lazy than me can invite everyone else to the developers team.

Can Jenkins be made to honour these team privileges, or must something there be configured separately @bennahugo?

[2020-05-12 11:54] viralp opened #1085 "Cubical memory error"
I am getting a memory error on the ray machine during the cubical run.

INFO      23:02:06 - data_handler       [0.9/0.9 6.3/6.3 0.0Gb]   generated 24 row chunks based on time and DDID
INFO      23:02:06 - data_handler       [0.9/0.9 6.3/6.3 0.0Gb]   row chunks yield 24 potential tiles
INFO      23:02:06 - data_handler       [1.0/1.0 6.4/6.5 0.0Gb]   coarsening this to 6 tiles (max 4 chunks per ti

[2020-05-12 12:08] o-smirnov commented on #1085
Could you please attach your Caracal config file.

[2020-05-12 12:43] viralp commented on #1085
[log-self_cal-calibrate-cubical-field0-iter1-20200508-113254.txt](https://github.com/caracal-pipeline/caracal/files/4615614/log-self_cal-calibrate-cubical-field0-iter1-20200508-113254.txt)

[2020-05-12 12:48] paoloserra opened #1086 "Support processing of shared, read-only input .MS files"
Caracal supports a workflow where the input .MS is treated as read-only. However, that workflow still requires the input .MS to be in the `general: msdir` directory.

That's a pity on shared machines. Multiple users may want to work on the same, large, input .MS with the read-only Caracal workflow, but they are all required to move the input .MS to their own `general: msdir`. That is a waste of di

[2020-05-12 12:49] o-smirnov commented on #1085
Ah yes, beat me to it, log file is even better. But also give us your current ``.yml`` config please.

(@caracal-pipeline/admins, should we not set up issue reporting templates where we always ask people to include the config and the logfile?)

[2020-05-12 13:27] IanHeywood commented on #1086
Wouldn't a symbolic link work? I do this all the time on IDIA, run mstransform on a symlinked MS which is in an area that I do not have write permissions for.

Multiple users reading from the same MS I cannot vouch for.

[2020-05-12 13:28] ianjarog opened #1087 "Installation error on Ilifu"
I just tried to install the latest version of Caracal on Ilifu (pip install -U caracal) and got the following errors after pulling images. caracal installation succeeded but stimela image pulling failed

singularity = 3.5.2
stimela = 1.5.1

(caracal-venv-phissc) ianja@slwrk-103:/scratch/users/ianja/caracal_phisscc$ stimela pull -s
Traceback (most recent call last):
  File "/scratch/users/ianja/car

[2020-05-12 13:31] paoloserra commented on #1086
I'm not too concerned about multiple users splitting simultaneously from the same read-only .MS.

Sym-linking might be a solution -- I just would like us to implement something in Caracal rather than asking users to create the symlink before running Caracal.

[2020-05-12 13:32] KshitijT commented on #1087
@ianjarog , could you please try running the pipeline without stimela pull and let us know if you get the same error?

[2020-05-12 13:54] KshitijT commented on #1087
P.S. `stimela pull -s` seems to work fine for me on ILIFU.

[2020-05-12 13:56] edeblok opened #1088 "aoflagger "auto-read" overrules "indirect-read""
aoflagger is currently run with both  `-indirect-read` and `-autoread-mode` options. The first one re-arranges the data in a temporary disk file and flags from there. The second one chooses between reading everything into memory (needs a lot of memory) or flagging directly from the MS (is slow).  For large MS (>memory) the indirect mode is best (according to aoflagger wiki).

Running caracal with

[2020-05-12 14:02] KshitijT commented on #1088
We can add a parameter in the flagging worker to do correspond with the `auto-read-mode` of stimela.

[2020-05-12 14:05] SpheMakh commented on #1041
Fixed in stimela 1.5.1

[2020-05-12 14:05] #1041 closed

[2020-05-12 14:05] o-smirnov commented on #1086
Since msdir is mounted inside the container, a simple symlink to some other filesystem is not going to work directly (or is it?)

Rather just have the path to the read-only "data source" as an explicit parameter? Then ``msdir`` is just our private sandbox for splitting out calibrators and targets.

[2020-05-12 14:10] paoloserra commented on #1086
We kind of have that already. It's `general: rawdatadir`. Normally that was meant to be the location of data to be converted to .MS. But it could work also as the location of the read-only shared .MS.

[2020-05-12 14:24] edeblok opened #1089 "flagging steps missing in target flagging in workflow_new"
`workflow_new.yml` currently only contains the `flag_rfi` step for the target in `flag__2`. This means that other flagging steps that are used for the calibrators in `flag` (such as `flag_spw`, `flag_mask`, etc) may be inadvertently skipped by the user. For consistency they should be added to `flag__2` so target gets same flagging treatment as calibrators.

[2020-05-12 14:29] edeblok opened #1090 "new workflow has RFinder run by default for target"
in `workflow_new.yml` the `flag__2` step has `inspect: enable: true`. This means that RFinder is always run for the target. This takes a looong time (longer than aoflagger). For the calibrator flagging this is defined as false, so probably should be false here as well (saves a lot of time).

[2020-05-12 14:33] edeblok opened #1091 ""inspect" schema has some plots that are always produced"
In the `workflow_new.yml` file, the "inspect" part defines a number of plots. In addition to these, the schema also has `amp_chan` and `phase_chan` with default `enable: True`, so that these are always made, despite not being in the yml file (also the `avgtime` there is only 10s instead of the 60s from the yml file). These take a while to produce.

[2020-05-12 14:34] KshitijT commented on #1090
The defaults are a matter for general discussion to tagging the issue as such. The user can always switch off RFinder, but note that for really big data, if you want to check out the state of RFI , tools like plotms and rfigui are not going to do the trick.

[2020-05-12 14:51] paoloserra commented on #1088
I think the most transparent solution would be to add CARACal parameter `flag: flag_rfi: aoflagger: readmode` which can take the values `indirect-read`, `memory-read` or `auto-read` (where the latter lets AOflagger choose between `memory-read` and `direct-read`).

Based on this single CARACal parameter `flag: flag_rfi: aoflagger: readmode` we would set the 3 Stimela boolean parameters `indirect-re

[2020-05-12 14:52] SpheMakh commented on #1067
This is now fixed

[2020-05-12 14:52] #1067 closed

[2020-05-12 15:03] gigjozsa commented on #1082
@bennahugo could this perhaps be done?

[2020-05-12 15:06] gigjozsa opened #1092 "Make Jenkins test startable by people with write access and higher to caracal"
@bennahugo picking this up from #1082 . As you see from #1081  I can scream as loudly as I want and Jenkins does not react. But it worked before. See remark https://github.com/caracal-pipeline/caracal/issues/1082#issuecomment-627276996 by @o-smirnov ...

[2020-05-12 15:08] gigjozsa commented on #1067
@SpheMakh how can I test this?

[2020-05-12 15:29] o-smirnov commented on #1091
I propose to copy over the inspect sections from ``carateConfig.yml``. There quite a few shadems plots in there which I find very nice (as well as the two people who bothered to vote on @svw26's poll! :laughing:), and fast, and ought to be complementary to ragavi's per-scan plots.

[2020-05-12 15:44] healytwin1 commented on #1017
So I have been running caracal on the unlimited memory lock node. (@Jordatious there is nothing in `/dev/shm`).

I ran a first test with ncpu = 5, but it failed because the max memory was going to exceed system memory (see attached log:
[caracal-test1.txt](https://github.com/caracal-pipeline/caracal/files/4616650/caracal-test1.txt)
 )

The second test with ncpu = 4 was within the max memory limits

[2020-05-12 15:47] svw26 commented on #1091
Yes, I noticed 😛But where are your votes, @o-smirnov ? You don't get points for just filling in your name! x

[2020-05-12 16:03] o-smirnov commented on #1091
I vote for everything, clearly! The more, the merrier! And they really don't take _that_ long (well not the new ones anyway).

But it always becomes a philosophical conversation about defaults. I think the sample config file should have all reasonable plots explicitly listed and enabled -- let the user go in and comment them out if they want to save some time. After all, if the user doesn't see al

[2020-05-12 16:37] SpheMakh commented on #1017
Looking at this

[code]

This must be an error in cubical, or it's memory are way off.

[2020-05-12 16:41] o-smirnov commented on #1017
Right, so no ``ulimit -l`` on that node, and we get the same problem, sigh...

@healytwin1, could you please try something else for us, run with an experimental branch. This is not likely to solve the problem, but it will give more informative logs:

* In your virtualenv, ``pip install git+https://github.com/ratt-ru/Stimela@cubical_ddf``.

* Run caracal with ``-debug``. You can use ``-sw selfcal``

[2020-05-12 16:43] o-smirnov commented on #1017
Why? Do you find it too low? There's only 600-odd channels in this MS, so it doesn't look unreasonable to me. This is for a single worker, remember.

[2020-05-12 16:46] SpheMakh commented on #1017
It's not too low, but failing to allocate 17% of memory when you can use all of it sounds like a bug.

[2020-05-12 16:58] o-smirnov commented on #1017
The estimation is just that, an estimation, to give a warning up front. If you look at the actual memory use (inside the square brackets), the estimation is doing a reasonable job. It's being run with fairly conservative parameters, so the memory usage is low.

And it's not even failing to allocate 17%. It's failing to allocate a measly 5.43 GB!!!

But let's not be too hasty in calling it "a cubic

[2020-05-12 17:06] SpheMakh commented on #1017
I was referring to the first crash

[2020-05-12 17:06] o-smirnov commented on #1017
One more time please (I pushed a small change). Unless you haven't done it yet.

[2020-05-12 17:08] paoloserra commented on #1001
DEBUG messages are back, as far as I can see only when rendering the reports.

[2020-05-12 17:08] o-smirnov commented on #1017
Ah but if you read two lines down, it says "Total peak memory usage estimated at 241.15GiB: 102.11% of total system memory."

You're looking at per-worker usage which is always smaller.

[2020-05-12 17:13] o-smirnov commented on #1017
It's debatable what a reasonable "bomb out" threshold for peak memory use should be. I would go for 120% if there is swap space, 100% if there isn't, but that's a matter of discussion. And there's always ``--dist-safe 0`` to disable this entirely.

Be that as it may, at the moment it's doing exactly what it says on the box. There's just some real weirdness with the overall memory subsystem which w

[2020-05-12 17:14] o-smirnov commented on #1001
Can you post a log? Rendering the reports involves no Stimela at all, so I'm confused.

[2020-05-12 17:18] paoloserra commented on #1001
In log-caracal.txt, after the `inspect` worker, which was the last worker for this run, I see:

[code]

[2020-05-12 17:31] o-smirnov commented on #1001
Ah I see. Looks like log-caracal.txt was set to DEBUG level all along, but then we have this line:
[code]
...which shut up Stimela.

The report rendering uses the main log. I don't see any other sources of debug-level messages in caracal. So I set the level to INFO, and I'm assuming this will not change anything else.

[2020-05-12 17:44] healytwin1 commented on #1017
I'm running this now.

[2020-05-12 17:56] JSKenyon commented on #1017
From my side, if @healytwin1's latest test fails, I would appreciate it if we can make some attempt to isolate this. This would require running CubiCal in isolation on whatever the pipeline has produced at the previous step. Currently, it is dying in CubiCal but the problem may not be in CubiCal itself - I believe that this is what both Oleg and I suspect as I do not believe this problem has been

[2020-05-12 18:06] o-smirnov commented on #1017
Yeah actually @Jordatious is there a way for me to log into the same node, so I can poke around the smoking ruins of @healytwin1's pipeline runs?

[2020-05-12 18:41] gigjozsa commented on #1092
OK, this has to be done manually.

@bennahugo, which security issues are connected to making all caracal developers administrators of the PR_meerkathi Jenkins item? If it is that they can start tests, I would say we take the risk and I put them there.

[2020-05-12 18:41] #1082 closed

[2020-05-12 20:28] bennahugo commented on #1082
Will configure it tomorrow. I need to manually whitelist them only for this
job

On Tue, 12 May 2020, 20:41 Gyula Jozsa (Josh), <notifications@github.com>
wrote:

[2020-05-13 07:52] healytwin1 commented on #1017
So that test failed:
[caracal-test3.txt](https://github.com/caracal-pipeline/caracal/files/4620525/caracal-test3.txt)

[2020-05-13 09:14] viralp commented on #1085
[test.txt](https://github.com/caracal-pipeline/caracal/files/4620931/test.txt)

[2020-05-13 11:13] shilparanchod opened #1094 "Issue installing caracal on whiplash node"
I'm getting the following error when pulling stimela images on whiplash:

Traceback (most recent call last):
  File "/scratch/users/shilpa/caracal-venv/bin/stimela", line 7, in <module>
    exec(compile(f.read(), __file__, 'exec'))
  File "/scratch/users/shilpa/Stimela/bin/stimela", line 14, in <module>
    main.main([a for a in sys.argv[1:]])
  File "/scratch/users/shilpa/Stimela/stimela/main.py"

[2020-05-13 11:18] KshitijT commented on #1094
Thanks for raising this issue, @shilparanchod .

I confirm I get the same error. This occurs with the version of Stimela installed by CARACal and the Stimela master branch.

Moreover, the same procedure was working yesterday, so I don't know what changed overnight.  @SpheMakh , @Jordatious any clues?

[2020-05-13 11:33] o-smirnov commented on #1094
Werid. Are you just running ``stimela pull`` on the command line and getting this failure? Or via caratekit or something? What is your ``SINGULARITY_PULLFOLDER`` variable set to, if anything?

[2020-05-13 11:34] SpheMakh commented on #1094
@shilparanchod @KshitijT can you post the command you used when you got this error?

[2020-05-13 11:36] shilparanchod commented on #1094
command is `stimela pull -s` and I have `export SINGULARITY_PULLFOLDER=${WORKSPACE_ROOT}/singularity_images`

[2020-05-13 11:43] SpheMakh commented on #1094
I have a feeling that `${WORKSPACE_ROOT}` is empty, and you do not have permissions to write to `/`

what do you get when you run

[code]

[2020-05-13 11:48] shilparanchod commented on #1094
Yeah, looks like it is empty. Weird, because it was working for me yesterday

[2020-05-13 11:52] KshitijT commented on #1094
On the other hand, I have NOT specified singularity pullfolder variable and I get the same error. Also, it was working fine yesterday until I decided to be _smart_ and update.

[2020-05-13 11:56] o-smirnov commented on #1094
Ah yes, I had a feeling this way of documenting things was going to confuse people. Not everyone's brain works like @gigjozsa's. Maybe we should simplify the documentation. But when you see something like this:
[code]
...what it means is that you have your own "workspace" directory where you plan to run things (this could even just be your home, or some project directory you make under your home),

[2020-05-13 11:57] o-smirnov commented on #1094
Tut-tut, an old hand like you, falling for the oldest trick in the book! Well what's **your** SINGULARITY_PULLFOLDER set to?

[2020-05-13 12:00] KshitijT commented on #1094
It isn't, that's the funny thing. I used to make a folder, cd to it and stimela pull -s and specify path in CARACal run. Was working fine. :)

I got the notion somehow that if you don't specify it and run the pipeline, it defaults to the working folder - and that was working fine till yesterday. Today, nope.

[2020-05-13 12:01] KshitijT commented on #1094
In the new - fangled Stimela way, of course.

[2020-05-13 12:02] o-smirnov commented on #1094
It's supposed to. So if you don't have an explicit pullfolder set and it tries to go to ``/``, that's a new bug.

[2020-05-13 12:02] gigjozsa commented on #1094
And @paoloserra 's actually who had the last word here.

[2020-05-13 12:02] KshitijT commented on #1094
Git blame?

[2020-05-13 12:03] o-smirnov commented on #1094
No blame, but let's add a note to the docs to clarify this?

[2020-05-13 12:04] o-smirnov commented on #1094
Sorry @gigjozsa, I first saw this way of referencing the workspace dir in the caratekit help, so I assumed it was your invention. :)

[2020-05-13 12:07] gigjozsa commented on #1094
It probably is, but does it not really really make sense? Apparently not. We should not use names like that but just like A B, I guess.

[2020-05-13 12:11] KshitijT commented on #1094
To recap, @shilparanchod , please set the correct path to your stimela pullfolder in the bashrc file and try re-pulling.  Could you please comment here if that works for you?

[2020-05-13 12:13] KshitijT commented on #1094
The error I get on the other hand is because of the damned .singularity folder, stored right in my home directory, where I have limited storage (and rightly so). @o-smirnov , do you know any solution to that other than nuking .singularity ?

[2020-05-13 12:19] gigjozsa commented on #1094
Symbolic link. Or use caratekit (which does the same).

[2020-05-13 12:29] Jordatious commented on #1017
Hey @o-smirnov, the smoking ruins will be on the filesystem across all ilifu nodes, including the login node, so @healytwin1 should be able to give you read access to those without the need to access this specific node or reservation.

[2020-05-13 12:36] SpheMakh commented on #1017
You welcome @o-smirnov

[code]

[2020-05-13 12:40] o-smirnov commented on #1094
Yeah. I also recommend symlinking things like ``~/.docker`` and ``~/.local`` and ``~/.cache`` while you're at it, these things tend to sneakily grow and grow until you suddenly hit your quota and you don't know why...

[2020-05-13 12:44] paoloserra commented on #1094
Hey there, just catching up, please feel free to change our README as you see fit.

[2020-05-13 12:46] o-smirnov commented on #1094
Well, personally, I think like a programmer, so things like
[code]
...make perfect sense to me, I see a "mental variable" that could also well be a shell variable. But I can also see that to a new user, it may convey the impression that WORKSPACE_ROOT has some special meaning to the pipeline, when actually it doesn't. So just a tiny clarification will eliminate the potential confusion.

[2020-05-13 12:49] o-smirnov commented on #1017
Yeah I've already looked at this, I see no smoking gun. Memory is free at the start.

(Bit of a mystery why the Python print() statements which are interspersed with those os.system() calls are not printing!... do you understand? I sure don't.)

As I said, I smell a similar rat in the shadems "no space left on device" problem, so let's focus on understanding that.

[2020-05-13 12:53] gigjozsa commented on #1094
Maybe we should not use this notation.

[2020-05-13 12:59] o-smirnov commented on #1094
The notation is fine, we just need to add a sentence at the start explaining it.

[2020-05-13 13:01] SpheMakh commented on #1094
Let's just keep it simple.

----
Add this line to your ~/.bashrc

[code]

or this line if you are using a cshell

[code]

[2020-05-13 13:03] KshitijT commented on #1094
I already modified the line on GitHub, can someone take a look?

[2020-05-13 13:04] shilparanchod commented on #1094
Even with changing the line to ~/.bashrc, I still get the following:

(caracal-venv) shilpa@whiplash:~/singularity_pull_folder$ stimela pull -s

Traceback (most recent call last):
  File "/scratch/users/shilpa/caracal-venv/bin/stimela", line 7, in <module>
    exec(compile(f.read(), __file__, 'exec'))
  File "/scratch/users/shilpa/Stimela/bin/stimela", line 14, in <module>
    main.main([a for a i

[2020-05-13 13:05] KshitijT commented on #1094
@shilparanchod , could you please post the line in the bashrc?

[2020-05-13 13:06] shilparanchod commented on #1094
`export SINGULARITY_PULLFOLDER=${WORKSPACE_ROOT}/singularity_pull_folder`

[2020-05-13 13:07] KshitijT commented on #1094
To confirm,
`export SINGULARITY_PULLFOLDER=<folder to save stimela singularity images>` is also set?

[2020-05-13 13:08] gigjozsa commented on #1094
I just edited the README...

[2020-05-13 13:09] paoloserra commented on #1094
@KshitijT -- all -- please do not edit the caracal-docs files directly. You should edit the README of the caracal repository, and the caracal-docs will be updated accordingly with a script.

[2020-05-13 13:11] KshitijT commented on #1094
Sorry about that, my bad.

[2020-05-13 13:12] shilparanchod commented on #1094
Okay, its working for me. Thanks, all!

[2020-05-13 13:13] o-smirnov opened #1095 "add 'xcal' when transform.fields == 'calibrators'"
This currently splits off 'fcal','bpcal','gcal'. Add 'xcal' to the list.

[2020-05-13 13:13] #1094 closed

[2020-05-13 13:14] o-smirnov opened #1096 "allow inspect.fields = 'calibrators'"
Recognize this setting, for consistency with ``transform`` and ``flag``.

[2020-05-13 13:17] paoloserra commented on #1095
but we've done away with polcal for now -- what are you going to do with it?

ok, maybe none of my business! :)

[2020-05-13 13:18] KshitijT commented on #1095
Only if xcal is different from fcal/bpcal/gcal?

[2020-05-13 14:15] svw26 commented on #1095
The 'calfields' setting in flag_schema.yml suggests that it can be treated as a separate field... x

[2020-05-13 14:52] svw26 commented on #1089
I'd agree about ```flag_mask``` being added for ```flag__2```. For ```flag_spw``` I'm not sure... Is there redundancy between this (with ```chans: '*:856~880MHz , *:1658~1800MHz, *:1419.8~1421.3MHz'```) and the static mask being applied for MeerKAT data? It depends on what science you want to do, so it might be good to inspect the targets, with minimal flagging, before applying any more.

As for o

[2020-05-13 14:55] o-smirnov commented on #1095
I dunno, @SpheMakh put me up to it lol! But I like consistency, and I'd rather fix it than forget about it and have it bite me later. (Also, now that we've done away with polcal, it's high time to bring it back, but that's a separate discussion...)

...which by the way is mistakenly referred to as "calibrator_fields" in the "fields" docstring.

[2020-05-13 15:02] paoloserra commented on #1095
There's a fair bit that can be made more consistent there.

Another one is that, unless I'm mistaken, we make the implicit assumption primary = bpcal = fcal. so why having separate bpcal and fcal throughout the pipeline? It might be because of an earlier, more general approach, but we may want to change that now.

[2020-05-13 15:05] PeterKamphuis commented on #1095
I greatly appreciate the option to use the secondary as an additional bpcal though. Is that no longer possible in the newest cross_cal?

[2020-05-13 15:06] o-smirnov commented on #1095
Hmmm, maybe @gigjozsa can start a "Consistency aspirations" project and start collecting such issues and remarks there. We need a bit of an organizing hand to keep track.

[2020-05-13 15:07] paoloserra commented on #1095
It should still be possible, see https://caracal.readthedocs.io/en/latest/manual/workers/crosscal/index.html#secondary

[2020-05-13 15:09] paoloserra commented on #1095
But @PeterKamphuis's comment is yet another good reason to do away with the bpcal etc terms. What matter is what is the primary. and what. the secondary. Then how you use them is set by the settings of the crosscal worker. If i had a twisted mind I could solve for K only on the primary, and BG on the secondary -- so who's bpcal then?

[2020-05-13 15:10] svw26 commented on #1095
It was "calibrator_fields" when I looked at it :)  I guess @SpheMakh and @paoloserra changed the parameter name to "calfields" then forget to search the schema file for references of the old name. Noted for a future fix. x

[2020-05-13 15:12] o-smirnov commented on #1095
How is that even a hypothetical, Mr DD-Amplitude?

[2020-05-13 15:15] PeterKamphuis commented on #1095
So then you only implicitly assume/demand the primary is the flux calibrator. I guess actually calling them primary and secondary instead of bpcal, facal, gcal makes it  easier to understand the crosscal worker as well.

[2020-05-13 15:16] paoloserra commented on #1095
Believe me, that's a trick I'd be very proud of if only I could claim it for myself! Unfortunately, it's somebody else's trick.

[2020-05-13 15:38] gigjozsa commented on #1095
You mean TAO?

[2020-05-13 15:41] gigjozsa commented on #1095
Reading the above I indeed start to shiver. You know, we committed ourselves to some downwards compatibility...

[2020-05-13 15:43] gigjozsa commented on #1095
... although it's not explicitly written down anywhere. But it would look odd if v1.0.0 would immediately followed by v2.0.0

[2020-05-13 16:40] PeterKamphuis commented on #1095
Well you always have bug fixes and such when moving out of Beta Testing.

[2020-05-13 16:44] o-smirnov commented on #1095
This is where alternative worker names come in. Freeze the crosscal worker as it is and only do bug fixes on it. Create a new worker for new and improved cross-calibration, with its own schema. Maybe then we can finally use an exciting name like "mendel". :P

[2020-05-13 16:47] paoloserra commented on #1095
geee, and I was the one with a twisted mind -- two workers doing the same thing with different parameter names!

[2020-05-13 16:54] o-smirnov commented on #1095
If only I could claim it for myself! Doesn't even AIPS have tasks with overlapping functionality? CASA has ``clean`` and ``tclean``. Unix has software packages with, gasp, different names that do the same thing. Why not workers?

[2020-05-13 16:55] o-smirnov commented on #1095
It's just giving the user ropes in different colours!

[2020-05-13 18:06] gigjozsa commented on #1095
@all Please keep our mission in sight!

[2020-05-13 18:28] gigjozsa commented on #1095
Why doesn't anyone ask what the mission is?

[2020-05-13 18:32] svw26 commented on #1095
I was about to, then though I might regret it ;) x

[2020-05-13 18:37] svw26 commented on #1095
Sorry, @gigjozsa  -- please remind us what The Mission is :) x

[2020-05-13 19:13] paoloserra opened #1097 "line flag-rewinding crashes on non-existing _mst.ms file"
In the line worker, if one does not run mstransform for Doppler correction and/or UVLIN continuum subtraction. the _mst.ms file is not created. Yet, the worker will attempt to reset/rewind its flags, and crash.

[2020-05-13 19:26] gigjozsa commented on #1095
We don't have one yet!

[2020-05-13 19:27] gigjozsa commented on #1095
But I suggest to find one in a democratic process, like the name.

[2020-05-13 19:41] PeterKamphuis commented on #1095
I thought the mission was to make CARACal a true python package by having lots of slightly differently named tasks that do the same thing but cause horrible crashes when you mix them in the wrong order? So for the new `crosscal` task I propose `set_crosscals`.

[2020-05-13 20:08] paoloserra commented on #1090
I think I agree with @edeblok . Let's leave the rfinder line in the config, but disabled, so a user sees there's such an option but does not necessarily get stuck for a long time if running on a large file.

[2020-05-13 20:11] paoloserra opened #1099 "polcal worker"
So here's the separate discussion :)

[2020-05-13 20:13] paoloserra commented on #1099
The current plan is that @francescaLoi will take care of bringing the polcal worker back into the pipeline. When she does that, she will surely also take care of #1095 .

[2020-05-13 20:37] bennahugo commented on #1099
I've just checked that all the ingredients are still there to make this work. My pipeline tests end to end with the current stimela master. So you can just take my fleetingpol pipeline and reimplement it.

The way I do my work is to phase selfcal and then apply X and D jones matricies afterwards because the OMT is super stable with time (few ps stability). This works quite well in the sense that y

[2020-05-13 20:40] bennahugo commented on #1099
I would strongly recommend implementing all of this with casa 4.7 as per our slack discussion

[2020-05-13 20:40] paoloserra commented on #1099
Many thanks @bennahugo . I'm sure that @francescaLoi will get in touch with questions once she's found her way through it all. And thanks for the important casa 4.7 reminder!

[2020-05-13 21:13] paoloserra opened #1100 "flag_spw: ensure_valid bug"
I wanted to flag `spw = *:5~6` in a freq-averaged .MS with 7 channels and `flag_spw: ensure_valid` claimed that this was going to crash CASA FLAGDATA.

I disabled the check and, as expected, the flagging went through with no problems.

So there are situations in which `flag_spw: ensure_valid` gets to the wrong conclusion about the validity of a user's channel selection.

[2020-05-13 21:53] o-smirnov commented on #1095
``set_crosseyes``?

[2020-05-13 22:08] o-smirnov commented on #1085
[code]
Those aren't defaults (and actually these are old parameter names), and they're set way too high. Memory use goes proportional to the product of those two. Try using the defaults and see how the memory use goes.

[2020-05-14 05:56] paoloserra commented on #1085
@viralp note that you can use `cal_timeslots_chunk: -1` to set it to the smallest useful chunk size = the largest time solution interval `gsols_timeslots` in your pipeline run. See https://caracal.readthedocs.io/en/latest/manual/workers/selfcal/index.html#cal-timeslots-chunk . That should be the most conservative setting.

I'm not sure whether we have a sensible default for `ncpu`. This really dep

[2020-05-14 06:47] PeterKamphuis commented on #1099
@paoloserra @francescaLoi As this was my original task and my two scale calibration has finally merged I would be happy to help in re-development and testing where I can.

[2020-05-14 07:20] paoloserra commented on #1099
Thanks for the offer @PeterKamphuis . Let's let @francescaLoi coordinate this.

[2020-05-14 07:42] paoloserra commented on #944
Full commands still missing from the. log for some tasks. I've noticed AOFlagger and WSclean. The former was confirmed by @edeblok in https://github.com/caracal-pipeline/caracal/pull/1098#issuecomment-628420270 .

[2020-05-14 13:14] o-smirnov commented on #1017
An excellent point @Jordatious, thanks! @healytwin1, could you please give me read permissions on where you're running this? ``/scratch/users/juliahealy/allthree2`` or something like that? I'm going to attempt to copy and reproduce...

(And thanks **a lot** for all the testing and the patience BTW...)

[2020-05-14 13:19] healytwin1 commented on #1017
sure, but how do I give permissions to a single user?

[2020-05-14 13:25] o-smirnov commented on #1017
@Jordatious, I don't think you support ACLs on the filesystem, do you? I get an "Operation not supported".

@healytwin1, I don't think you can do a single user. Do you mind making the MS and config file world-readable for a bit so I can nab a copy?

[2020-05-14 13:41] healytwin1 commented on #1017
@o-smirnov I think it should be readable:
`drwxr-xr-x   8 juliahealy idia-group     33 May 12 23:13 allthree2`
The path is `/scratch/users/juliahealy/allthree2/`. There is only one config in the directory, and the msdir directory has the MS

[2020-05-14 13:46] o-smirnov commented on #1017
I think you need to do a chmod a+x on the parent dir as well:
[code]

[2020-05-14 13:47] healytwin1 commented on #1017
done

[2020-05-14 14:46] o-smirnov commented on #1017
OK I got my copy, let's see if I can run it...

[2020-05-14 15:04] #1088 closed

[2020-05-14 15:04] #1089 closed

[2020-05-14 15:04] #1090 closed

[2020-05-14 15:04] #1091 closed

[2020-05-14 15:04] #1097 closed

[2020-05-14 15:18] o-smirnov commented on #1087
@SpheMakh look at this please.

[2020-05-14 15:19] o-smirnov opened #1102 "stimela pull -s failure on ilifu"
Flagging it up here for completeness, but see https://github.com/ratt-ru/Stimela/issues/620.

[2020-05-14 16:34] o-smirnov opened #1103 "Why is inspect: label_cal called that?"
Used to be ``label_out``, but seems to be ``label_cal`` now. https://github.com/caracal-pipeline/caracal/blob/master/caracal/schema/inspect_schema.yml#L17

But what does it have to do with "cal"?

[2020-05-14 16:53] o-smirnov commented on #1017
@healytwin1 could you give me access again please, I need something from your ``input`` and ``output`` folders.

But I think I see the problem though. Or a combination of problems:

* Your selfcal time chunk and time solution intervals are way too high. I recommend a time chunk of -1 (i.e. let it choose automatically) and a time interval of... well... 240 timeslots is way too long to be useful any

[2020-05-14 17:03] Jordatious commented on #1017
Looks like you've got permissions sorted. I've seen ACLs used on lifu before, but perhaps that was for CephFS, not BeeGFS.

[2020-05-14 17:04] paoloserra commented on #1103
Since you're asking, until recently we had only ever thought of running `inspect` to check the result of `crosscal`, so linking the plot names (that comes from `inspect: label_cal`) to `crosscal: label_cal` seemed like a good idea.

Then some clever person decided to run `inspect` *before* `crosscal`, and that beautiful construction collapsed.

Yeah, it should go back to `label_out` or, even bette

[2020-05-14 17:07] o-smirnov opened #1104 "add caracal --pull option to pull down the internets"
We currently recommend stimela pull to pre-pull the containers. Radiopadre also needs a pull-the-image option.

There are other things the pipeline may attempt to download (catalogs in the mask worker?) This causes problems on CHPC, where compute nodes are cut off from the internet.

I suggest adding a ``caracal --pull`` command, which basically means "download everything needed". This would invok

[2020-05-14 17:09] healytwin1 commented on #1017
Eish, okay. I have adjusted the parameters and am re-running now.

I have opened the permissions again

[2020-05-14 17:14] o-smirnov commented on #1103
It was @SpheMakh's idea to inspect the raw data! :)

I hear secret rumours of ~perv~ users that want to run ``inspect`` on target data, too... I, for one, could not possibly imagine such a twisted scenario, but my rope-maker tells me such strange thoughts exist. Forsooth!

[2020-05-14 17:16] o-smirnov commented on #1017
Cool, I grabbed what I needed. Happy testing!

[2020-05-15 08:46] o-smirnov commented on #1017
OK, with lower chunk and interval settings, it ran fine for me on a 256GB node. So I assume this problem is solved. I will improve the memory use reporting (https://github.com/ratt-ru/CubiCal/issues/376), and add a more informative MemoryError handler.

[2020-05-15 09:55] bnamumba opened #1105 "ddcal error"
2020-05-15 11:26:02 CARACal INFO: obsconf: running
2020-05-15 11:26:02 CARACal.Stimela.obsconf INFO: Saving pipeline information in .last_obsconf.json
2020-05-15 11:26:02 CARACal.Stimela.obsconf INFO: Recipe executed successfully
2020-05-15 11:26:02 CARACal INFO: obsconf: finished
2020-05-15 11:26:02 CARACal.Stimela.ddcal INFO: ---------------------------------
2020-05-15 11:26:02 CARACal.Stimela.

[2020-05-15 10:32] KshitijT commented on #1105
@bnamumba , please copy your configuration (the ddcal section) here?

[2020-05-15 10:39] o-smirnov opened #1106 "WARNING: The shadems section is enabled, but doesn't specify any plot_by_field or plot_by_corr"
This is what happens with the default schema.

Either ignore the warning, or change the default to enable=False.

(Not that I'm a big fan of redundant enable keys, when plot_by_field=plot_by_corr=[] has the same meaning is enable=False, so maybe I should just take out the warning.)

[2020-05-15 10:40] KshitijT commented on #1106
Or change all the default configs?

[2020-05-15 10:42] o-smirnov commented on #1106
Well in any case, an inspect section that doesn't mention shadems should not result in a warning. Which it currently does. Or change the default to a small, reasonable set of plots. Or something.

[2020-05-15 10:44] KshitijT commented on #1106
Which plots would those be?

A certain spreadsheet comes to mind. :)

[2020-05-15 10:47] bnamumba commented on #1105
basically used default settings..

ddcal:
  enable: true
  label_in: 'corr'
  use_pb: true
  calibrate_dd:
    enable: True
    de_sources_mode: manual
  copy_data:
    enable: true
  image_wsclean:
    enable: true
  transfer_model_dd:
    enable: true

[2020-05-15 10:49] KshitijT commented on #1105
Right, you need to specify the coordinates of the schema manually, since you have set the de_sources_mode to 'manual'.

[2020-05-15 10:59] bnamumba commented on #1105
Thanks. I will auto first then specify the coordinates and try again.

[2020-05-15 12:02] o-smirnov commented on #944
There's a Stimela PR open that will address this, just pester @SpheMakh to get it in: https://github.com/ratt-ru/Stimela/pull/622.

[2020-05-15 15:28] healytwin1 commented on #1017
Yeah, mine now runs fine with the lower chunk settings.

[2020-05-15 15:29] #1017 closed

[2020-05-15 15:37] paoloserra opened #1107 "meqtrees+visonly bug"
When `selfcal: calibrate_with: meqtrees` and `selfcal: cal_model_mode: vis_only`, the pipeline creates an empty sky model in the `input` directory, see

https://github.com/caracal-pipeline/caracal/blob/1afa8b0d4407ba9aacbdd88921f9e21b058c7350/caracal/workers/selfcal_worker.py#L1054-L1062

but then looks for it in `output/continuum/image_N/`, see

https://github.com/caracal-pipeline/caracal/blob/1a

[2020-05-15 15:45] KshitijT commented on #1107
Sheesh, sorry, this is my fault. Writing the sky model in the output directory should solve it. The change was made in an attempt to make meqtrees conform to the output directory struture, I completely forgot about the empty sky model.

[2020-05-15 16:00] paoloserra commented on #1107
@KshitijT are you ok with me replacing the line https://github.com/caracal-pipeline/caracal/blob/1afa8b0d4407ba9aacbdd88921f9e21b058c7350/caracal/workers/selfcal_worker.py#L1162

with `model_cal = model_cal.split(":output")[0]` ?

I'm finding that, for the case of this issue, the current line transforms `model_cal` from `<something>.txt` to `<something>.tx` -- which BTW I don't understand.

The pr

[2020-05-15 16:07] KshitijT commented on #1107
Yes, that should work, though I also don't get why it removes the "t". Weird.

[2020-05-15 16:22] paoloserra commented on #1107
I swear, try it in Python! :). Even when there's a trailing ":output" ...?

[code]

[2020-05-15 16:46] o-smirnov commented on #1107
Because strip treats its argument as a *set* to be stripped, not a sequence. So it strips the longest consecutive sequence of characters in the given set. Hence the extra ``t``.

[2020-05-15 16:48] o-smirnov commented on #1107
I recommend searching the code for other instances of unintended stripping...

[2020-05-15 16:53] o-smirnov commented on #1017
@JSKenyon, in the interest of posterity, I changed the memory counting code to do sums. With a chunk size of 120 (i.e. half of what it was), @healytwin1's job now prints:
[code]
The numbers now have the meaning "this worker/all workers" (RSS USS PSS SHM). Multiply this by 2, you can see how the old run was hitting the buffers.

This also shows that the wisdom module slightly under-estimates the pe

[2020-05-15 17:15] paoloserra commented on #1107
that was the only one in selfcal

[2020-05-15 19:58] paoloserra opened #1109 "Possible bug in Cubical -- better selfcalibrate XX,YY data with MeqTrees"
I'm having troubles reproducing some nice continuum images made a few weeks ago with CARACal. A few controlled experiments show that, of all the moving parts (imaging settings, clean masks, calibration software and settings), the one giving troubles is Cubical. The calibration does not seem to be able to converge -- while it used to.

This is for XX,YY-only data. Not sure whether the problem exist

[2020-05-15 20:11] bennahugo commented on #1109
@paoloserra I've been using cubical in my pipeline to do phase-only calibration quite successfully. I don't think it is cubical (otherwise my maps would not have improved. most of the chi^2 values look quite sensible to me

[2020-05-15 20:15] KshitijT commented on #1109
This is probably a Caracal implementation issue, not a cubical bug per we.

[2020-05-15 20:27] o-smirnov commented on #1109
@bennahugo it works just fine for me too, but have you been using dual-corr data at all? From what @paoloserra showed me, there seemed a clear regression in a dual-corr scenario. I did have a big PR go in that fiddled with some of this behaviour, and dual-corr mode seems undertested to me, so... let's just say I'm just going to have a deep look at this tomorrow.

[2020-05-15 20:33] o-smirnov commented on #1109
So for the time being, the public service announcement is, no need to panic, but if you get weird selfcal results (especially with dual-corr data), try ``selfcal: calibrate_with: meqtrees``, and please tell us here on this issue if that works any better.

[2020-05-15 20:53] bennahugo commented on #1109
No you know I love meself some polarimetry! Never do duel corr any more

[2020-05-15 20:55] o-smirnov commented on #1109
Well, if there is a problem, this may be exactly why you have been dodging it...

[2020-05-15 22:07] o-smirnov commented on #1017
Here's what bothers me though (note to self and @JSKenyon, everyone else please ignore), the X in each X/Y is the worker's own usage, the Y is the total of all processes. We have four workers. It doesn't add up -- who's grabbing all that memory?

I'll add extra log statements to find out.

[2020-05-16 18:33] o-smirnov commented on #1109
OK, I can confirm that the problem is there, and that it came in at 1.5.0 (with my big fat PR, no doubt). If @SpheMakh rolls us a cab with 1.4.7, Caracal can avoid this problem until I fix it properly.

[2020-05-17 17:49] o-smirnov commented on #1109
OK, this was a fun dataset/bug. CubiCal not Caracal, so I suggest interested parties read the discussion here: https://github.com/ratt-ru/CubiCal/issues/379. @paoloserra and @bennahugo in particular.

[2020-05-17 19:11] o-smirnov commented on #1109
BTW @paoloserra, that source of yours is pretty suspicious:

| | |
|-|-|
|![image](https://user-images.githubusercontent.com/6470079/82157616-cbc3d200-9882-11ea-8fcc-71bd3194d0e4.png)|![image](https://user-images.githubusercontent.com/6470079/82157562-843d4600-9882-11ea-8cee-1ff30a8a9dd0.png)|

[2020-05-17 19:15] paoloserra commented on #1109
Sssssshhhh! yYou weren't supposed to tell anybody! Now we'll have to take care of you...

[2020-05-17 19:16] KshitijT commented on #1109
The Tie-fighter seems to be be in a spiral?

[2020-05-17 19:17] o-smirnov commented on #1085
I think this is explained, but feel free to reopen if you have more problems @viralp.

(See also #1017).

[2020-05-17 19:17] #1085 closed

[2020-05-17 19:22] o-smirnov commented on #1109
Seriously though, I stress the workaround:

* try complex-2x2 and update-type phase-diag, with thresholds of 10 and 12. Or use 1.4.7.

[2020-05-17 19:25] paoloserra commented on #1109
But why, you' ve got a Cibical PR that fixes it (thanks!), we'll get a new Stimela release with that fix included, and we'll live happily ever after -- why should we bother with workarounds?

[2020-05-17 19:55] o-smirnov commented on #1109
True. Workarounds are for cowards.

[2020-05-17 20:00] viralp opened #1110 "review use of wsclean versions in pipelines"
As reported in the #840, wsclean get stuck with multiscale cleaning while using from the container. As shown below, it gets stuck into the iteration and not converging further.  Outside of the container, wsclean works fine with multiscale.

[code]

[2020-05-17 20:01] o-smirnov commented on #840
OK this is a duplicate of #1110, so I'll close it again.

[2020-05-17 20:01] #840 closed

[2020-05-17 20:04] o-smirnov commented on #1110
I can confirm this problem, I have seen it myself. I should have remembered it when @viralp first reported in it #840, but what can I say, my mental bandwidth is 1200 baud on a good day.

It is not inside/outside container issue. It is a 2.6 vs 2.7+ issue. Wsclean 2.6 works fine.

I discussed this with Andre, somewhat inconclusively, back in December. I will try to convince him it's a bug again. I

[2020-05-18 05:23] viralp commented on #1085
The error is still persistent (on ray machine) with a smaller value of ```cal_timeslots_chunk``` (120 and 60 both giving the error)

[code]
I upgraded the Caracal and config file to ``schema_version: 1.0.0```

[code]

[2020-05-18 05:53] paoloserra commented on #1085
Could you consider smaller values for gsols_timeslots (having set `cal_timeslots_chunk: -1`)? If this is MeerKAT, you're probably starting with a solution interval of 8 sec x 120 = 16 min, which seems rather long.

Also, have you averaged your data in frequency with the `transform` worker before running the `selfcal` worker? That will also decrease the memory usage.

[2020-05-18 06:21] viralp commented on #1085
@paoloserra I also tried ```gsols_timeslots``` starts with 60 (and chunk size = -1), but the same error. I averaged 5 channels of the data in the ```transform``` worker.

[2020-05-18 09:02] PeterKamphuis commented on #627
@o-smirnov  If we role Cubical back to 1.4.7 for the XX,YY solution does this become an issue again or is the solve before that?

[2020-05-18 09:03] PeterKamphuis commented on #627
Ah, no we are not rolling back it solved. Sorry, monday mornings. I think we can close this no?

[2020-05-18 09:05] PeterKamphuis opened #1111 "YML load warning"
There are instances where yml files are loaded in a deprecated way leading to the warning:

[code]

It is fairly easy to solve by adding the loader. Maybe we should fix this?

[2020-05-18 09:13] PeterKamphuis opened #1112 "Confusing command line sets message at start of log"
Just started a new run and the log begins with

[code]

Even though the crosscal worker is set in the yml. The settings are correct but is there a specific reason for this message?  It scared the hell out of me initially.

[2020-05-18 11:12] PeterKamphuis opened #1113 "AOflagger does not distinguish XX, YY and RR, LL but caracal does."
Obtained this message when using my own strategy.

[code]

But that is clearly not so as I have developed the strategy for RR, LL

[2020-05-18 11:14] KshitijT commented on #1113
Erm, I don't know who put that message there, but I agree with you, @PeterKamphuis . Could you please take out that line?

[2020-05-18 11:19] paoloserra commented on #1113
Thanks for reporting @PeterKamphuis , let me take care of that. In case you're stuck, you can disable the AOflagger  strategy sanity check  with `ensure_valid: false`.

I'll ask for your help and review when fixing this.

[2020-05-18 11:22] paoloserra commented on #1113
So can you just confirm that AOflagger has no `rr`,`ll` options, and for the  GMRT you need to have 'xx' and 'yy' in your strategy?

[2020-05-18 11:25] gigjozsa opened #1114 "Ignore Jenkins test until further notice"
The Jenkins test currently hangs on downloading singularity images for an eternity. Because of that, please ignore its failure for time being.

[2020-05-18 11:32] #1107 closed

[2020-05-18 13:16] PeterKamphuis commented on #1113
@paoloserra  yes, aoflagger does not distinguish, here is a screenshot from the strategy editor.

![Screenshot from 2020-05-18 15-10-22](https://user-images.githubusercontent.com/11264005/82216908-ea28dc80-9919-11ea-864e-e0bdb9a7421e.png)

I think the fix should be:
[code]

Starting from line https://github.com/caracal-pipeline/caracal/blob/bd1a1bd7c4fa460fbfe564b5701b2c16cd812892/caracal/workers/

[2020-05-18 13:22] PeterKamphuis opened #1115 "Calibrator check not correct."
After my flagging woes I get the nice error:

[code]
However, this has never before been an issue and clearly 3C286 is part of the casa flux calibrator database. See here:

https://casa.nrao.edu/casadocs/casa-5.1.0/reference-material/flux-calibrator-models

So the check on the casa database is not correct somehow.

[2020-05-18 13:23] paoloserra commented on #1113
great that you've implemented a fix already, please go ahead!

[2020-05-18 13:26] PeterKamphuis commented on #1100
Yes I also got the Warning

[code]

Which went through fine when disabling the validation.

[2020-05-18 13:31] KshitijT commented on #1115
What's the field name specified as in the MS?

[2020-05-18 13:38] PeterKamphuis commented on #1115
@KshitijT 3C286

[2020-05-18 13:44] PeterKamphuis commented on #1100
@paoloserra

I think this line https://github.com/caracal-pipeline/caracal/blob/bd1a1bd7c4fa460fbfe564b5701b2c16cd812892/caracal/workers/flag_worker.py#L272 is mixing frequencies with spw integers. At leat in my case that last part was ~ -1.4e9

[2020-05-18 13:44] KshitijT commented on #1115
Could you post your crosscal settings?

[2020-05-18 13:45] paoloserra commented on #1100
OK, thanks, I'll look into it after I've reviewed your PR -- unless you want to include this fix in there yourself.

[2020-05-18 13:47] PeterKamphuis commented on #1115
[code]

[2020-05-18 13:51] PeterKamphuis commented on #1115
@KshitijT Please note that this is a set without intents and the calibrators are set explicitly in the yml file.

[code]
Testing 3C147 at the moment but it was exactly the same for 3C286.

[2020-05-18 13:52] PeterKamphuis commented on #1100
@paoloserra Nope, all yours :).

[2020-05-18 14:08] #1113 closed

[2020-05-18 14:18] PeterKamphuis commented on #1115
@KshitijT 3C147 works so I don't know what is going on.

[2020-05-18 14:46] PeterKamphuis commented on #1115
Ok this is going wrong in the location matching but I'm not sure why we care about that if we have a name?

[2020-05-18 14:47] KshitijT commented on #1115
Yeah, I was trying to dig into that. But I think it's much more easier to do this:

[2020-05-18 14:48] PeterKamphuis commented on #1115
They are far off though?
[code]
Maybe the 3c286 coordinates are wrong in the database?

[2020-05-18 14:51] KshitijT commented on #1115
What are far off?

I was looking at this: https://github.com/caracal-pipeline/caracal/blob/master/caracal/data/casa_calibrators.txt#L9

`name=3C286 epoch=0000 ra=13h31m08.3s dec=+30d30m33s a=0.0 b=0.0 c=0.0 d=0.0` .

[2020-05-18 14:52] PeterKamphuis commented on #1115
Maybe the - is the issue? Those are checked in radians right?

[2020-05-18 14:53] PeterKamphuis commented on #1115
from the .txt obsconf

[code]
So that is right.

[2020-05-18 14:55] PeterKamphuis commented on #1115
yeah the issue is the minus, 2pi-2.743927253136695 = 3.53926

[2020-05-18 14:58] gigjozsa commented on #1115
@PeterKamphuis I cannot follow. Where in the code?

[2020-05-18 14:58] PeterKamphuis commented on #1115
just a sec I'll make a PR with a fix and request your review

[2020-05-18 14:59] gigjozsa commented on #1115
Tnx!

[2020-05-18 15:19] PeterKamphuis commented on #1115
@gigjozsa Please see PR #1119. The issue was that for 3C286 apparently this data set had a negative direction in the `delay-dir` .

[2020-05-18 15:27] PeterKamphuis opened #1120 "Why is the default correlation in inspect XX, YY when there is auto?"
This baffles me somewhat is there a good reason for not having the default correlation `auto` when that should work for  all datsets? Or is it then also doing all the cross terms?

[2020-05-18 15:32] gigjozsa commented on #1115
@PeterKamphuis Yes, I just saw that (and I made a suggestion)

[2020-05-18 15:36] PeterKamphuis commented on #1115
Fixed in PR #1119

[2020-05-18 15:36] #1115 closed

[2020-05-18 20:01] o-smirnov commented on #1112
I guess I broke that. The idea was to print command line assignments at the top of the log, but the arcane structure of the option+config parser has, evidently, tripped me up again.

I'll have a look for a fix.

[2020-05-18 20:07] #678 closed

[2020-05-18 20:14] o-smirnov commented on #1120
The intention indeed was to omit the cross-terms by default. The rest is just bigoted linearism.

Would it be useful to introduce settings of ``parallel`` and ``all``? (I would prefer ``all`` to ``auto``, as the latter sounds quite ambiguous, but of course we can leave it as an alias for ``all`` for backwards compatibility). Then the default could be ``parallel``. Or do we call them ``diag``?

[2020-05-19 05:45] paoloserra commented on #1109
I confirm that this is fixed with Cubical 1.5.3 in Stimela 1.5.4.

[2020-05-19 05:45] #1109 closed

[2020-05-19 09:19] SpheMakh opened #1122 "Inspect worker does not work on target MSs"
The inspect worker falls over (cannot find json summary file) when trying to inspect target data, this is because the field and the label get appended to the filename, and just the label.

[2020-05-19 09:48] #1100 closed

[2020-05-19 10:27] gigjozsa opened #1123 "Scope of PR 1.1"
We need to clarify the scope and time lines for the next minor release.

[2020-05-19 11:00] o-smirnov opened #1124 "proposal for specifying non-default Stimela image versions"
So, we'd like to be able to run different (non-default) versions of (some) Stimela images in the pipeline. I propose the following.

* At the moment, a given Stimela release specifies a specific tag for every image. This is the "default" set of tags, and this is what we run with. Any new Stimela release will have a new set of default tags (baked into the parmeter.json file of each cab).

* But, we

[2020-05-19 11:00] o-smirnov commented on #1124
Discuss please. I think this is pretty simple and logical.

[2020-05-19 11:40] gigjozsa commented on #1124
With even tags of an image the situation gets quite complicated, so I would regard this as a higher-Dan operation.

[2020-05-19 11:43] KshitijT commented on #1124
That particular option can be for developers only and can be hidden from general usage. Otherwise, this is pretty similar to what we had for crosscal worker with the `casa_version` option and that was working fine and not the cause of too much confusion.

[2020-05-19 11:45] o-smirnov commented on #1124
Well it's definitely a bring-out-the-rope moment. But as @Kshitij points out, it's just generalizing the ``casa_version`` situation. We might be needing something similar for wsclean, at least for a while. And one single unified mechanism causes less confusion, IMHO.

[2020-05-19 11:46] gigjozsa commented on #1124
No, the concept is a very good suggestion, but the tagging thing should be hidden from the general user.

[2020-05-19 11:56] svw26 commented on #1124
In the user's eyes, it'll be just another number that they don't really need to worry about. But if it helps the communication between user and developer, I don't see why the tag number can't be visible to everyone. x

[2020-05-19 11:58] gigjozsa commented on #1124
What I mean is that we should implement the tag number as another layer of manual specification. There should be a default without tag number.

[2020-05-19 12:01] KshitijT commented on #1124
Well, there'll be a schema option for that (default would be whatever is standard), I guess. I just meant that it does not need to go in any of the config files explicitely.

[2020-05-19 12:05] gigjozsa commented on #1124
What I mean both should be possible:
[code]

or

[code]

[2020-05-19 12:08] o-smirnov commented on #1124
Yes both should be possible. Exactly what I meant. And if there's nothing
specified, then the default release versions are used.

Cheers,
Oleg

---
Sent from my phone. Quality of spelling inversely proportional to finger
size.

On Tue, 19 May 2020, 14:05 Gyula Jozsa (Josh), <notifications@github.com>
wrote:

[2020-05-19 12:15] KshitijT opened #1125 "Provide centralized repo of Singularity images, including on ilifu"
Pulling the singularity images on ILIFU takes long time currently. For this reason (and also to reduce the amount of time taken by a CARACal job), it would be best to have all the images needed by CARACal (stimela + others, see #1104 ) in an area accessible by all ILIFU users of CARACal.

We have tested this out with the current stimela release images and it seems to work fine. The images are curr

[2020-05-19 12:36] smasoka commented on #1125
This is a good proposal to save bandwidth. CHPC is forced to work this way because compute nodes don't have internet access.

To save storage space, users may choose not to copy files into their `scratch` workspace. I think read access is sufficient on the shared directory.

[2020-05-19 13:01] PeterKamphuis commented on #1124
Mostly makes sense to me but if we set cab tags in the schemas we should makes sure they get removed as soon as an issue is resolved in the software.

We can complain about #1109  but if that Cubical version had not gone into CARACal we might still  not have known about the bug. So we should ensure somehow that this remains a uniform way to quickly roll back software versions when a bug is identif

[2020-05-19 13:37] o-smirnov commented on #1124
It had not occurred to me to set cab tags in the schemas, and I don't think it would be a good idea at all. Too easy to bury and forget them there.

I rather envision a "default" set of tags that means whatever the installed Stimela release thinks is the default, and config files that can override this default with specific tags, in the interest of temporary bug fixes or testing.

This is also why

[2020-05-19 14:07] PeterKamphuis commented on #1124
I understood it to be @KshitijT  suggestion but I agree (and worried) that they could become frozen there far too easily.

[2020-05-19 14:58] KshitijT commented on #1105
Closing this issue. @bnamumba , please reopen if needed.

[2020-05-19 14:58] #1105 closed

[2020-05-19 15:30] paoloserra opened #1127 "sofia masking bug"
There is a bug in the indexing of `cleanmask-related` parameters such as `selfcal: image: cleanmask_thr` when using  SoFiA to make clean masks. Basically there is a `num-1` instead of `num` in the indexing. So the first iteration was using <parameter>[-1] instead of parameter[0], and so on.

We already have a PR taking care of this, so this is mostly for book keeping.

[2020-05-19 17:08] Jordatious commented on #1125
This is being follow up via email, but the plan is to have the singularity images in `/software/astro/caracal/` or similar, and that the CARACal developers with ilifu accounts will have write access to maintain the software and containers there. I will set this up once I have the list of users, and then move `/idia/software/containers/STIMELA_IMAGES` over to here as a starting point. I've also sug

[2020-05-19 18:47] #1127 closed

[2020-05-19 20:55] IanHeywood commented on #1125
Hijacking this just to check whether these containers are up for grabs generally?

Myself and others have got a similar issue, namely lots of duplicate containers in various home areas. Grabbing these from a central location would save some hassle and disk space.

Cheers.

[2020-05-19 20:56] IanHeywood commented on #1125
@smasoka, is there a similar location on a shared area at CHPC? I have to scp containers in there via the `scp` node.

Cheers.

[2020-05-19 20:57] KshitijT commented on #1125
I don't see why they can't be up for grabs. :)
Please note that it doesn't have the radiopadre image. I'll try and put it there sometime soon.

[2020-05-19 20:59] KshitijT commented on #1125
P.S. I think anyone on ILIFU can access that folder; please let me know if that's not the case.

[2020-05-19 21:09] IanHeywood commented on #1125
Thanks @KshitijT.

[2020-05-20 10:47] o-smirnov commented on #1103
Let's fix this in 1.0.1. Ought to be simple. The only thing is, do we change the schema, and do we try to stay backwards-compatible?

[2020-05-20 10:48] paoloserra commented on #1103
I'd go for `label_plot` as suggested by @molnard89 . Too bad for backward compatibility, it's still sufficiently early days in my opinion.

[2020-05-20 10:51] o-smirnov commented on #1103
Good point, early days, let's eradicate the little inconsistencies while we have the chance.

[2020-05-20 10:52] o-smirnov commented on #1103
BUt: release notes, first item on the list should be **WARNING: the following config options have changed, please adjust your files**.

[2020-05-20 10:54] molnard89 commented on #1103
Okay, I'll change it to label_plot then and bundle it in with the fix to issue #1122

[2020-05-20 13:31] molnard89 commented on #1122
Can be fixed with adding a 'field' option just like we did for the flagging worker, but the inspect worker already has multiple 'fields' for all the different plots one can make. I don't think these can be used to figure out the input ms, since none of the are required or cross-checked between each other for consistency (e.g. one could select 'target' for amp vs phase and field 3 for amp vs channe

[2020-05-20 13:36] paoloserra commented on #1122
I'm in favour of simplifying that and removing the `field` options from the individual plots. Again, not backward compatible, but we could claim that the entire `inspect` worker isn't backward compatible once we release 1.0.1 (as in #1103).

[2020-05-20 13:43] molnard89 commented on #1122
I like this. Users either set field: 'target' and get whatever plot they select for the target, or select 'calibrators', and get the same for all calibrators. Label_in determines which ms to use (original or splitted), and that's that. Much cleaner. You have to run it twice to get all the raw visibilities from the original ms before anything happens to the data, but that's probably not a significa

[2020-05-20 13:47] paoloserra commented on #1122
Yes. If you're really keen you could do as in the `flag` worker, where there is also a `calfields` allows you to work on selected  calibrators only.

[2020-05-20 14:09] molnard89 commented on #1122
When we loop over dataid's inspect worker uses 'iobs' as the running index, while all other worker have 'i'. I know it's a very minor thing that probably no one cares about, but for the sake of consistency I can change it to 'i' in the inspect worker too. For the record: it's not an index in any other loops in the inspect worker, so nothing will break (hopefully).

[2020-05-20 15:41] paoloserra commented on #1124
I like the idea. I also agree that this could be set at `general` and overwritten by each worker.

However, because of my limited understanding of Stimela I am a little confused about a few things:

- Different cabs have different tags in the same Stimela release. E.g., in Stimela 1.5.4, `wsclean` has tag 1.2.3 (even though the parameters.json file seems to have been edited after Stimela 1.2.3) wh

[2020-05-20 15:50] healytwin1 commented on #1110
I get this problem too with out multiscale enabled. How can I roll back the wcsclean version?

[2020-05-20 15:54] o-smirnov commented on #1124
Yes, a tag is purely a per-cab property. The set of tags associated with different cabs have no defined relationship to each other.

We don't need to worry about that. Any specific Stimela release has its "default" set of tags (whatever is in the parameters.json of each cab). Caracal's default is "nothing", which means defer to the Stimela default.

The schema should specify nothing more than a de

[2020-05-20 15:56] paoloserra commented on #1124
OK thanks.

[2020-05-20 15:59] paoloserra commented on #1110
@healytwin1 I believe that @SpheMakh is working on a WSclean 2.6 Stimela cab that will solve this problem. Then we'll have to implement the 2.6/2.8 switch in  CARACal. The plan is to do this by the end of the week.

[2020-05-20 16:07] o-smirnov commented on #1110
@healytwin1, since you were busy with phase selfcal, too -- I believe you will also benefit from the cubical fix that is coming up.

[2020-05-20 17:03] o-smirnov commented on #1122
Rather you changed all the other workers to ``iobs``, just plain ``i`` is so undescriptive, but ok..

I agree with 'target' or 'calibrators' as useful settings, but we should also retain the currently recognized option of specifying a list of fields as well, for the perverse users.

Agree that per-plot fields can go (there is virtually *zero* overhead in doing inspect twice for different fields ve

[2020-05-21 07:21] paoloserra commented on #1124
Another thought I've had is what happens when two images have different options. E.g. WSclean 2.8 may  have extra options compared to 2.6. We need CARACal to know when an option included in the schema can be used. Or am I thinking about it the wrong way?

[2020-05-21 08:24] HaoChen-ast opened #1129 "How to disable final report and debug?"
I run the pipeline on ilifu with
`caracal -c 1a9_hao_20200518.yml --container-tech singularity -sid /idia/projects/vela/CARACal_all/CARACal-18May2020/stimela-singularity-18May2020`

It takes 13 hours to finish the data reduction, but it spends 10 hours for the final report til now.
The only update of log file is:

So how can I stop it? Just cancel the job on the cluster (similar as Ctrl+C)?
I do n

[2020-05-21 09:04] o-smirnov commented on #1124
Well, there's only so many ways to skin a cat before it dies... let us be sensible about it...

To first order, let's ignore the problem. Swapping cab versions around is own-risk, twisted rope activity, so if there's an interface mismatch and the pipeline crashes ingloriously, so be it.

For hotfixes this should not be a problem.

In the (very few) cases where we maintain "vintage" cabs going forw

[2020-05-21 09:06] paoloserra commented on #1124
OK, so this cannot be handled by the worker itself? E.g., do not pass a certain option if the tag is not such and such?

[2020-05-21 09:10] o-smirnov commented on #1124
I would be very hesitant to start putting such monkey-patchey logic into the worker.

Rather, the 2.6 cab run.py script can say "hang on, I have a 2.8 option here, let's do something intelligent".

Anyway it should only be needed in that one exceptional case, if at all. In general, I say we just plug the image in, and if it explodes into the user's face, fine.

[2020-05-21 09:17] paoloserra commented on #1124
Ok, we'll see

[2020-05-21 09:22] o-smirnov commented on #1129
There's process called ``run-radiopadre``, kill it and the pipeline should exit. Anyway, this is the very last step, so your run is complete.

To disable, just use ``-nr`` next time. This has nothing to do with the inspect worker.

Could you please send me the files in your ``~/.radiopadre/logs/``, perhaps as a tarball? I would like to understand why it's hanging.

[2020-05-21 09:51] HaoChen-ast commented on #1129
Thanks!

All the `~/.radiopadre/logs/` are uploaded here:
https://github.com/HaoChen-ast/logs/tree/master/log

[2020-05-21 09:54] paoloserra commented on #1129
So this cannot be disabled at the config file level? I thought that was what `general: final_report: false` would do.

If this

[2020-05-21 10:09] o-smirnov commented on #1129
That will disable it too.

I'm tempted to make disabled the default for 1.0.1, until I understand why it hangs like this on ILIFU...

[2020-05-21 10:11] paoloserra commented on #1129
yeah, might be a good idea if the hanging is not understood by the time 1.0.1 is due.

[2020-05-21 10:29] KshitijT commented on #1129
@HaoChen-ast , could you please confirm that you have the radiopadre singularity image downloaded? Asking because the STIMELA_IMAGES folder only has Stimela images; not the radiopadre one.

[2020-05-21 10:50] mpatir opened #1130 "crosscal: fluxscale field - Index out of range"
@SpheMakh @molnard89 I am reducing VLA data: standard format with a primary and secondary calibrator.

I ran caracal in the "standard way" using the minimal config in default settings:

crosscal:
  enable: true
  label_in: cal
  apply_cal:
    applyto:
      - gcal
      - bpcal
  report: true

I get an error reported below which I think has something to do indices of the calibrators. Is there a w

[2020-05-21 10:50] HaoChen-ast commented on #1129
@KshitijT Where should the radiopaque singularity image be?
No radiopadre singularity image in the STIMELA_IMAGES folder.

[2020-05-21 10:54] o-smirnov commented on #1129
It's in ``~/.radiopadre`` right now. We haven't got the feature to keep it in the Stimela folder yet (I only added that last night lol!)

[2020-05-21 10:57] KshitijT commented on #1129
On ILIFU? I can update the STIMELA_IMAGES folder then.

[2020-05-21 10:59] molnard89 commented on #1122
Is it okay to trust the user to know their dataset well enough not to request separate plots for e.g. fcal and bpcal if that happens to be the same field in their observations? As far as I can tell, on the current master if someone asked for both, the pipeline would return the same figures just under different names. I can leave it as is, or try to think of a solution (which is not super trivial,

[2020-05-21 11:04] o-smirnov commented on #1129
Not yet, let me roll one with the latest release.

[2020-05-21 11:06] molnard89 commented on #1122
Scratch that, I had a quick break and got a simple idea how to do it. (Make a list to which we add field name being plotted, and if the next iteration finds the same field to visualize we just do a break.)

[2020-05-21 11:27] o-smirnov commented on #1122
Python has a built-in ``set`` type which makes this much easier. ``fields = set()`` will give you an empty set, then you do  ``fields.add(field)`` in your loop, then at the end ``list(fields)`` will give you a list of unique fields.

[2020-05-21 11:58] molnard89 commented on #1130
Can you print pipeline.fcal[i]?

[2020-05-21 12:02] KshitijT commented on #1130
It might be that the correct scan intents are missing?

[2020-05-21 14:34] mpatir commented on #1130
@KshitijT @molnard89

I do not think that scan intents are missing -- these data were reduced okay with "meerkathi" last year.

I will check this though and see what happens when I print pipeline.fcal[i]

[2020-05-21 17:49] #1096 closed

[2020-05-21 17:49] #1103 closed

[2020-05-21 17:49] #1122 closed

[2020-05-21 19:30] o-smirnov commented on #1112
@PeterKamphuis, could you please attach your config file?

I'm trying to reproduce this problem, but simply setting these options in my yml like so

[code]

...doesn't reproduce the funny message.

[2020-05-21 20:18] o-smirnov commented on #1104
@SpheMakh what is the exact stimela command to be used in this instance? ``stimela pull -s``? No force?

[2020-05-21 21:26] #633 closed

[2020-05-22 15:02] mpatir commented on #1130
caracal does not always automatically find field IDs (e.g., fcal, target, gcal, etc). In some cases, one has to specify the fields in the observation_config.

Resolved

[2020-05-22 15:52] molnard89 commented on #1130
I wouldn't close this, it's an issue if the pipeline struggles to find fields automatically based on stored intents. Or maybe open a new one dedicated to this more general problem?

[2020-05-22 15:54] KshitijT commented on #1130
I agree - I missed exactly how the auto field finding was missed if the intents were present. I don't know if this is a general problem, though.

[2020-05-22 17:18] #1001 closed

[2020-05-22 17:18] #1095 closed

[2020-05-22 17:18] #1106 closed

[2020-05-22 17:18] #1120 closed

[2020-05-23 16:15] viralp commented on #1110
Thanks for fixing this. Could anyone tell how to switch the wsclean version in the script or by default it uses the 2.6 now?

[2020-05-23 16:31] o-smirnov commented on #1110
Well, if you're feeling brave and want to help me test this, you can check out the ``monkeycabs`` branch of Caracal. This should use 2.6 for multiscale.

[2020-05-23 16:32] o-smirnov commented on #1110
P.S. As well as the ``tagversion`` branch of Stimela.

[2020-05-23 19:05] o-smirnov commented on #1046
Hate to tell you this, but I just got it to hang again.

[2020-05-23 19:06] o-smirnov commented on #1046
I see the image is using dask-ms 0.2.4. Let me roll a new one with 0.2.5 and test again.

[2020-05-24 08:33] healytwin1 opened #1137 "Empty flag:flag_mask:uvrange causes a crash"
Using the default meerkat RFI mask (with default parameters), I get the following error:
[code]

I am running caracal v1.0.1 (developer version).

[2020-05-24 09:45] o-smirnov commented on #1137
Did you specify a uvrange for the mask? It looks like it's being passed an empty string, and getting confused about that.

(Guys, any way to trap this intelligently?)

[2020-05-24 09:48] healytwin1 commented on #1137
No, my understanding is that if you left the uvrange empty it will select everything?

[2020-05-24 09:55] o-smirnov commented on #1137
Ah I see, so that's the bug. Empty uvrange not being treated properly. I've renamed the bug.

Setting it to ``0~8km`` should work around the problem for now.

(Personally, I use 0~1000m or even 0~500m... that's a pretty big mask, and the longer baselines are usually ok without it...)

[2020-05-24 10:11] healytwin1 commented on #1137
So using '0~8km' crashed, but '0~1000' did not.

[2020-05-24 10:13] o-smirnov commented on #1137
Ah maybe it doesn't take units.... ``0~8000`` would work I suppose...

[2020-05-24 10:21] o-smirnov opened #1138 "rfimasker does not take units for uvranges"
``0~1000`` works, but ``0~1km`` does not, contrary to what the description in the schema says. Looking at the code, I think it only supports meters.

We need to either fix the masker, or fix the description.

[2020-05-24 11:09] svw26 commented on #1138
Similarly, it would be good to check whether ```0~1000klambda``` actually works, as the description purports. This CARACal parameter (```uvrange```) is based on FLAGDATA (https://casa.nrao.edu/docs/TaskRef/flagdata-task.html) so it could be a problem with the underlying CASA cab. x

[2020-05-24 11:14] o-smirnov commented on #1046
Maybe this was a false alarm. Looking closely, I notice there's a point in the run where it slows down to virtually no CPU use (<0.1%). But it's still pottering along and finishes eventually. Maybe that's what spooked me into crying for a hanging.

Not sure what the slow stage is, maybe @sjperkins and @bennahugo can make a mental note to chase it up one day.

My hypothesis is that the slow stage,

[2020-05-24 11:18] #1046 closed

[2020-05-24 11:25] o-smirnov commented on #1138
I checked the code. Nothing works. :) It expects two numbers in meters, and that's that.

It's not CASA btw, it's a little standalone tool that somebody (maybe Ben?) put together. So it's allowed to not behave like CASA. But then we should adjust the documentation.

[2020-05-24 11:29] svw26 commented on #1138
OK, then the original desc was very wrong 😛  x

[2020-05-24 11:33] sjperkins commented on #1046
Suspect not, I could reliably reproduce a deadlock with ragavi: https://github.com/ska-sa/dask-ms/pull/113#issuecomment-626642292.

PR https://github.com/ska-sa/dask-ms/pull/113 is included in dask-ms 0.2.5, so best to upgrade as you mentioned.

Is the MS small and public enough to include on a tricolour issue? I'd guess its on 0% CPU because it's loading a scans worth of data into memory before f

[2020-05-24 11:34] svw26 commented on #1138
Nope, it was actually me being misled by "CASA style range, e.g. lower~upper" and then trying to elaborate... Sorry :( x

[2020-05-24 12:56] bennahugo commented on #1137
Note that the task is deprecated. Use tricolour instead the mask can be
applied by itself as a strategy.

It does not take an empty string. If you specify uvrange you have to
specify a valid range

On Sun, 24 May 2020, 11:48 Julia H, <notifications@github.com> wrote:

[2020-05-24 13:00] bennahugo commented on #1138
I would remove it. As mentioned it is replaced by tricolour. We no longer
develop it.

On Sun, 24 May 2020, 13:34 Sarah White, <notifications@github.com> wrote:

[2020-05-24 13:01] o-smirnov commented on #1137
Exactly what the problem was. Caracal was passing it an empty string instead of omitting uvrange entirely.

[2020-05-24 13:08] o-smirnov commented on #1138
Yeah but other telescopes still may want to use a mask. And there are some opinionated individuals who still run aoflagger. And I hear rumours of some twisted professors who like to do mask+madmax on their targets.

The mask may be uncomfortable, but it has its place....

![image](https://user-images.githubusercontent.com/6470079/82754902-6024bc00-9dd0-11ea-85a2-6d29b6c2b9ac.png)

[2020-05-24 13:12] KshitijT commented on #1138
Wait, who's removing masks now?
![image](https://user-images.githubusercontent.com/9251962/82754975-f0630100-9dd0-11ea-9e79-b8736a89b6eb.png)

[2020-05-24 13:31] o-smirnov commented on #1138
[Unmasking? Obamagate!](https://www.washingtonpost.com/politics/2020/05/21/obamagate-suffers-another-significant-blow/)

[2020-05-24 14:56] bennahugo commented on #1138
You misunderstand. The masker is built into tricolour. If there are further
features you need raise the issue there.

We won't develop the standalone utility any further.

On Sun, 24 May 2020, 15:32 Oleg Smirnov, <notifications@github.com> wrote:

[2020-05-24 15:04] o-smirnov commented on #1138
@bennahugo we understand perfectly. The bug was in how caracal invokes rfimasker, that's all. There's nothing to be fixed in rfimasker itself.

I understand it's frozen, but it still does the job, and other telescopes (for which tricolour is not yet an option) may want to use it.

[2020-05-24 15:32] paoloserra opened #1139 "Must lower crystalball's default memory fraction"
Motivated by https://github.com/paoloserra/crystalball/issues/37#issuecomment-633214311 . Something like 0.1 (or even less) should be adequate.

[2020-05-24 21:26] #1137 closed

[2020-05-24 21:26] #1138 closed

[2020-05-25 08:02] SpheMakh commented on #1130
@mpatir could you please post the obsinfo.txt file from listobs

[2020-05-25 08:07] SpheMakh commented on #1130
This is either a bug, or the INTENTS are not "correctly" labelled in the MS. I put correctly in quotes because different observatories may use different labels, so we just need to keep updating the lists as needed

These are the assumptions made about how the INTENTS are labelled

https://github.com/caracal-pipeline/caracal/blob/867494fe5acf9a5601d7d4d2fc3d2af7c4e249dd/caracal/dispatch_crew/utils.

[2020-05-25 09:50] mpatir commented on #1130
Perhaps hash sign in the labels of the vla data is the problem?

     ObservationID = 0         ArrayID = 0
  Date        Timerange (UTC)          Scan  FldId FieldName             nRows     SpwIds   Average Interval(s)    ScanIntent
  13-Jun-2017/01:08:24.0 - 01:13:20.0     1      0 J1257-3155               12987  [0]  [8] [SYSTEM_CONFIGURATION#UNSPECIFIED]
              01:13:28.0 - 01:18:16.0

[2020-05-25 10:07] SpheMakh commented on #1110
The problem is still there in wsclean 2.6. Viral, have you tried wsclean 2.9?

[2020-05-25 10:59] SpheMakh commented on #1110
I ran wsclean using @viralp's settings and scan 23 of his data and got this. No cleaning was done, presumably because there is no flux at the specified scales above the given thresholds.

[code]

[2020-05-25 11:08] o-smirnov commented on #1110
Doesn't look like it did anything, but hard to know without the rest of the log. In any case this is not the "hanging" problem.

[2020-05-25 11:17] o-smirnov commented on #1110
Andre did mention that it's going to be sensitive to the scale selection. And the two commands that @viralp posted earlier on https://github.com/caracal-pipeline/caracal/pull/1136 did differ in their scale selection. So that's definitely the one parameter to play with for @viralp.

There are three things we need to try to do here, ideally:

- [ ] find a combination of settings that allows @viralp

[2020-05-25 14:52] edeblok commented on #1110
A long shot: multiscale always needs a "zero" scale (delta function) as its smallest scale. Perhaps `-multiscale-scales 0,10,20,30` will work better than `-multiscale-scales 10,20,30`?

[2020-05-25 14:56] o-smirnov commented on #1110
The wsclean documentation says the delta scale is always present... Well, @viralp can check this easily in his log: is there any cleaning going on at the 0px scale? Normally there will be quite a bit.

[2020-05-25 15:02] edeblok commented on #1110
I interpreted the doc as that delta scale is always present when auto-scaling is chosen. Not sure how it works with manual scales. Anyway, the log will tell us.

[2020-05-25 15:25] viralp commented on #1110
@edeblok @oleg delta scale is always present in the autoscale and not in
manual selection unless specified

On Mon, May 25, 2020 at 5:02 PM edeblok <notifications@github.com> wrote:

--
Postdoctoral Research Fellow
South African Radio Astronomy Observatory (SARAO) and Rhodes University
Square Kilometre Array, Cape Town
South Africa

[2020-05-25 15:50] healytwin1 opened #1140 "selfcal sofia crashes with input mask"
I get the following error when I specify an input mask in the self cal img_sofia settings:

[code]

I created the mask by running sofia on my image and cleaning that up (values are 0 or 1).

[2020-05-25 16:05] o-smirnov commented on #1110
Ah but wait then we're definitely driving this boat on the wrong side of the road! Could you please include a delta scale and run again (outside the pipeline)? I don't see any scenario where it could possibly be a good idea to clean **without** a delta scale.

Which also means this is a bug in the pipeline defaults: we should be including a delta scale. Actually, why are we even passing a list of

[2020-05-25 16:09] paoloserra commented on #1140
Could you please check whether https://github.com/SoFiA-Admin/SoFiA/issues/159 is relevant in this case? (Though it should have been fixed in SoFiA.)

[2020-05-25 16:11] paoloserra commented on #1140
Also, can you confirm that you want to add additional detections to the mask you have made? If, on t he contrary, you just want to use this mask without adding anything to it, you should use different settings.

[2020-05-25 16:16] KshitijT commented on #1110
Doesn't it go on cleaning to ..astronomical scales if left on it's own? Once upon a time the scales used to include 0 too; dunno what happened to that.

[2020-05-25 16:22] healytwin1 commented on #1140
It seems to me like that this issue is relevant. I have deleted the relevant B* keywords and restarted, so will see how that goes.

Yes, I am wanting to add to the mask.

[2020-05-26 09:15] #1129 closed

[2020-05-26 09:16] #1124 closed

[2020-05-26 09:16] #1102 closed

[2020-05-26 09:20] #1114 closed

[2020-05-26 09:23] healytwin1 commented on #1140
okay, can confirm that I get the same error even with the B* keywords removed.

[2020-05-26 09:30] paoloserra commented on #1140
Would you be able to try this with SoFiA 1.3.2 outside CARACal? As I said, in principle this was fixed in that SoFiA release, which is the one then included in Stimela. I will also try to reproduce your error.

[2020-05-26 09:34] #1092 closed

[2020-05-26 09:36] gigjozsa commented on #1087
@ianjarog is this working now?

[2020-05-26 09:37] o-smirnov commented on #1125
I think we should build images ourselves after each release, and host them on the elwood ftp server.

ILIFU can then download them from elwood with wget. Much faster to wget 20G than to build 20G of images.

[2020-05-26 09:44] gigjozsa opened #1144 "Define empty input and consistently use it in the pipeline"
None? unset? empty string?

[2020-05-26 09:46] svw26 commented on #1144
I vote "None" x

[2020-05-26 09:47] KshitijT opened #1145 "Change the RFImasker MeerKAT mask name to something which makes sense"
I vote 'MeerKAT-static-mask'.

[2020-05-26 09:48] o-smirnov opened #1146 "rename default MeerKAT RFI mask to something sensible"
Change word salad to ``meerkat.rfimask`` or something.

[2020-05-26 09:50] KshitijT commented on #1145
Duplicate of #1146

[2020-05-26 09:50] #1145 closed

[2020-05-26 09:50] o-smirnov opened #1147 "check py3.5 test failure"
We're keeping 3.5 support for now, but check why the automated test setup with 3.5 fails.

[2020-05-26 09:50] KshitijT commented on #1146
'MeerKAT-static-rfi-mask'

[2020-05-26 10:10] o-smirnov commented on #1112
@PeterKamphuis please help reproduce.

[2020-05-26 14:32] paoloserra commented on #1140
@healytwin1 a quick update to say that I can reproduce your error. I'll continue looking into this.

[2020-05-26 15:29] healytwin1 commented on #1140
I'm not going to have the chance in the next couple of days, need to get some other stuff finished

[2020-05-26 15:41] paoloserra commented on #1140
This is a CARACal bug.

SoFiA always writes integer masks to disc. https://github.com/SoFiA-Admin/SoFiA/issues/159 had to do with integer masks being incorrectly imported as float-type masks by SoFiA. That issue was fixed in SoFiA and does not affect CARACal.

Your mask, too, used to be of integer type. It should have  caused no problems.

However, I've just found out that when you give an input m

[2020-05-26 18:24] smasoka commented on #1125
@IanHeywood at CHPC the directory is `/apps/chpc/astro/stimela_images/`. The dir name might have to change as other images are not provided via `stimela`

[2020-05-26 19:26] IanHeywood commented on #1125
Thanks @smasoka!

[2020-05-27 10:27] KshitijT commented on #1125
The updated location of the singularity  images for CARACal on ILIFU:

[code]

We request you to kindly switch to using these images for your CARACal reductions, rather than the older ones.  Note that the above folder also has the radiopadre images in it.

[2020-05-27 12:19] o-smirnov commented on #1110
Taking the liberty of posting Andre's e-mail:
[code]
Parallel deconvolution? Do we have this on by default? :facepalm:

[2020-05-27 12:29] KshitijT commented on #1110
Not unless `-parallel-deconvolution` is ON by default in wsclean.

[2020-05-27 14:32] paoloserra commented on #1140
@healytwin1 I've implemented the fix, feel free to give it a go now or to wait for it to be merged into master.

[2020-05-27 15:56] paoloserra commented on #1110
OK if I enable -parallel-deconvolution in https://github.com/caracal-pipeline/caracal/pull/1149  ?

I can also propagate the `ncpu` setting (currently used for cubical) to wsclean so we have more control.

[2020-05-27 16:08] o-smirnov commented on #1110
Yes please.

[2020-05-27 16:37] gigjozsa opened #1150 "Error when using singularity images in a $SINGULARITY_PULLFOLDER"
I am encountering this error when reusing a $SINGULARITY_PULLFOLDER in caratekit (hence a bug label). I think I am using it the wrong way (should leave out -f), but I still do not understand the error.
The steps are:
- install caracal together with stimela
- export SINGULARITY_PULLFOLDER=singularity_pullfolder
- stimela pull -s -f
- delete and reinstall caracal together with stimela
- export SINGU

[2020-05-27 16:45] KshitijT commented on #1150
This shouldn't happen, @SpheMakh  modified stimela specifically to avoid this issue. Could you please confirm your stimela version?

[2020-05-27 16:47] gigjozsa commented on #1150
Stimela release: 1.6.1

[2020-05-27 16:49] gigjozsa commented on #1150
@KshitijT so long, can you confirm that I should not use -f in stimela pull -f -s ?

[2020-05-27 23:43] KshitijT commented on #1150
No, I can't confirm this - I just tried stimela pull -s -f on a pre-existing stimela image folder and got this:

[code]

[2020-05-28 01:16] KshitijT commented on #1150
On the other hand, running just stimela pull -s (sans the -f option) gives the intended behaviour (i.e. stimela won't pull an image if it exists already), so maybe it's better to switch to stimela pull -s throughout.
But I can't reproduce the error which you get above.

[2020-05-28 10:22] gigjozsa commented on #1150
@KshitijT the error occurs when I run caracal. For some reason it tries to reinstall an image and it can't.

[2020-05-28 10:24] KshitijT commented on #1150
Yes, I tried that too - for me it goes through without fail, so I don't really know what's going wrong there.

[2020-05-28 10:51] gigjozsa commented on #1150
Looking into it. What I also do is playing around with renaming ${HOME} etc.

[2020-05-28 10:52] gigjozsa commented on #1150
There are tons of hidden directories that we are adding directly or indirectly to the home directory. I want to prevent that and to redirect to a local directory.

[2020-05-28 10:56] gigjozsa commented on #1150
Maybe some /home/$USER vs. $HOME confusion, let's see. I am now re-pulling the images, takes a while.

[2020-05-28 11:34] gigjozsa opened #1151 "Jenkins down"
The Jenkins server cannot be reached and seems to be down.

[2020-05-28 11:35] SpheMakh commented on #1086
What to do when user wants to concatenate MSs. The sensible option is to save the concatenated MS in `msdir`

[2020-05-28 12:05] SpheMakh commented on #1086
This will force a copy of the MSs in the case of virtconcat since the rawdata is readonly.

[2020-05-28 12:12] SpheMakh commented on #1086
I think it's simpler to have support virtually concatenated MSs but to leave the concatenation to the user.

[2020-05-28 13:38] KshitijT commented on #1086
I agree.

[2020-05-28 13:46] gigjozsa commented on #1086
Silly question: would a hard link work?

[2020-05-28 13:47] gigjozsa commented on #1086
And can you create hard links across different drives?

[2020-05-28 13:48] paoloserra commented on #1086
Does our old way of (virtually) concatenating make any sense within  the  framework of read-only input .MS files?

I think this is what should  happen.

- the original data live at `rawdatadir`
- when splitting the calibrators, if concat is on, we write a single file with all calibrators in `msdir`
- when splitting the targets, in concat is on, we write a single file per target in `msdir`

What do

[2020-05-28 13:50] gigjozsa commented on #1086
Isnt' the problem the containerization and the fact that it requires all directories to stay in the root directroy?

[2020-05-28 13:52] gigjozsa commented on #1086
Or is this a Stimela feature? Exposing my ignorance. Either way, you'd need to make a call to something exterior to Stimela.

[2020-05-28 14:10] SpheMakh commented on #1086
@paoloserra, sounds good.

[2020-05-28 14:11] o-smirnov commented on #1086
You can't, sadly.

I agree with @paoloserra. If we go the read-only raw data route, we should stop worrying about virtual concatenation of the inputs. If the user wants to virtually concatenate the original MS before giving it to the pipeline, that's their business. The transform step doesn't really care if the original MS is concatenated or not, right? Just split out a single MS for target and ca

[2020-05-28 14:12] SpheMakh commented on #1086
@gigjozsa I remember there were issues with having symbolic and hard links when mounting from a shared filesystem.

[2020-05-28 14:21] gigjozsa commented on #1086
@SpheMakh yes, pretty silly question of mine. Obviously no hard links across file systems. Well, that is a problem.

[2020-05-28 14:22] o-smirnov commented on #1086
Yeah links and containers are a great way to lose hair, sleep, and what shreds of sanity we have remaining.

[2020-05-28 14:24] o-smirnov commented on #1150
Do we actually have code that says ``/home/$USER`` anywhere? If yes, somebody needs to stand on the naughty step.

[2020-05-28 14:34] gigjozsa commented on #1150
OK, it is a Singularity feature. And the issue is a different one. It does not even work once for me:
[code]
results in:
[code]

and this also happens when using Singularity by hand:
[code]

@SpheMakh I assume that Stimela is supposed to either look into SINGULARITY_PULLFOLDER to check if an image already exists or it ignores the error issued by Singularity. This doesn't seem to work here.

[2020-05-28 14:37] gigjozsa commented on #1150
Now I am wondering if it is the singularity version. As we know, I have just upgraded my computer. I'll check.

[2020-05-28 16:58] #1080 closed

[2020-05-28 17:03] gigjozsa commented on #779
Notice that we may also have a 1/F option in this.

[2020-05-28 17:05] gigjozsa commented on #141
Also implement a running median filter.

[2020-05-28 17:20] svw26 commented on #779
Yup, see https://github.com/caracal-pipeline/caracal/issues/862#issuecomment-610308433

And I'd like to highlight the 'mirto' label that had been added to this issue... Please could we make it Amarula instead? Much more consistent in quality ;) x

[2020-05-29 18:35] KshitijT commented on #1150
Which version of singularity are you using? I did my tests with singularity version 3.1.0.

[2020-05-29 18:38] gigjozsa commented on #1150
3.5

[2020-05-29 18:49] gigjozsa commented on #1150
In any case I am stumbling about the meaning of two environment variables:

STIMELA_PULLFOLDER vs. SINGULARITY_PULLFOLDER

I can transform the above error into another one if I set both variables to point to the same directory containing the images. This resolves the issue that the pullfolder is not identified [here](https://github.com/ratt-ru/Stimela/blob/cd8d5a816253df41be9fb812df84c0e9e3f60914/

[2020-05-29 18:51] gigjozsa commented on #1150
SINGULARITY_PULLFOLDER , by the way, is an environment variable that is recognized by Singularity.

[2020-05-29 18:54] KshitijT commented on #1150
Sorry, I am lost.

What is STIMELA_PULLFOLDER?

[2020-05-29 18:54] gigjozsa commented on #1150
I am now turning to com08 (Singularity 2.6) to see if I get the same result. In any case, @SpheMakh , is it possible that SINGULARITY_PULLFOLDER and STIMELA_PULLFOLDER have the same meaning?

[2020-05-29 18:57] KshitijT commented on #1150
@gigjozsa , I am pretty sure there are no two folders and both STIMELA_PULLFOLDER and SINGULARITY_PULLFOLDER should be the same folder.  Both CARACal and Stimela documentation refers to only SINGULARITY_PULLFOLDER variable and I can attest that if it is defined, stimela pull -s will put the images in the path/folder defined by that variable.

[2020-05-29 19:08] o-smirnov commented on #1150
Yes, we just discovered that this is indeed a bug in Stimela: https://github.com/ratt-ru/Stimela/issues/632

The *intention* is to use STIMELA_PULLFOLDER throughout, but it seems ``stimela pull`` ignores it, causing Singularity to fall back onto SINGULARITY_PULLFOLDER.

The safest workaround, for now, to avoid confusion, is to set both variables to point to the same folder, which @gigjozsa has alr

[2020-05-29 19:26] gigjozsa commented on #1150
@o-smirnov yes, this was the discovery, thanks! With my singularity version, though, this lead to another problem. I will test if this issue is solved by setting the two variables to the same value, then will have a look at the follow-up crash by using an older Singularity.

[2020-05-29 19:34] KshitijT commented on #1150
To confirm, if one explicitly runs CARACal as:

caracal -c myconfig.yml -ct singularity -sid PATH_TO_STORED_IMAGES,

it should be correct?

vs

caracal -c myconfig.yml -ct singularity

will run into this error?

[2020-05-29 19:47] gigjozsa commented on #1150
@KshitijT no, the explicit definition of the image folder did not help, I tried that. But I can retry.

[2020-05-29 19:48] gigjozsa commented on #1150
I think it is because of some confusion of the two variables as mentioned above. Strange that it works for you, though.

[2020-05-29 19:48] KshitijT commented on #1150
Which is why I am a bit worried. :/

[2020-05-29 19:51] gigjozsa commented on #1150
Ah, wait, it might have been that I run into the second error instead. Will have to check tomorrow.

[2020-05-29 22:47] KshitijT commented on #1046
@o-smirnov , is this no longer an issue with the caracal release? Asking because I am fed up of aoflagger being very trigger happy and taking astronomical timescales to finish and want to switch to tricolour.

[2020-05-29 22:51] o-smirnov commented on #1046
Try it!

Cheers,
Oleg

---
Sent from my phone. Quality of spelling inversely proportional to finger
size.

On Sat, 30 May 2020, 00:47 Kshitij Thorat, <notifications@github.com> wrote:

[2020-05-29 22:51] o-smirnov commented on #1046
You have nothing to lose but your cpu cycles, after all.

Cheers,
Oleg

---
Sent from my phone. Quality of spelling inversely proportional to finger
size.

On Sat, 30 May 2020, 00:51 Oleg Smirnov, <osmirnov@gmail.com> wrote:

[2020-05-29 22:53] KshitijT commented on #1046
Some very expensive cpu cycles. :/
I speak after wasting 4 days on fruitless flagging with aoflagger.

[2020-05-29 22:55] o-smirnov commented on #1046
Fruitless flagging sounds horrible.

Try tricolour. I never went back.

Cheers,
Oleg

---
Sent from my phone. Quality of spelling inversely proportional to finger
size.

On Sat, 30 May 2020, 00:53 Kshitij Thorat, <notifications@github.com> wrote:

[2020-05-29 22:55] KshitijT commented on #1046
On it, will keep notes here.

[2020-05-30 10:16] healytwin1 commented on #1140
Thanks, I may wait for it to be merged

[2020-05-30 16:34] KshitijT commented on #1046
Flags 505 GB in couple of hours - no hanging(s). :)

[2020-05-30 18:42] Jordatious commented on #1125
Thanks @KshitijT. To expand a little, we've set up a directory at `/software/astro/caracal` for the CARACal containers, and moved the previous directory `/idia/software/containers/STIMELA_IMAGES` to here. We've created a group `idia-caracal-dev` that includes a number of CARACal developers who are ilifu users, who have write access to this directory and can update and maintain the containers as ne

[2020-05-30 18:49] #1151 closed

[2020-05-30 18:52] gigjozsa commented on #1150
OK, I can confirm that by setting both
``SINGULARITY_PULLFOLDER``
and
``STIMELA_PULLFOLDER``
to the same directory
results in a working CARACal test run (which runs at least further than before so far) on com08 with Singularity 2.6 using precisely the same script above (modulo file names) that leads to a crash on my laptop with singularity version 3.6.0-rc.2+32-gf58ec7834
The same can be achieved

[2020-05-30 18:52] gigjozsa commented on #1150
The problem with Singularity 3.6 remains.

[2020-06-01 11:26] gigjozsa commented on #1069
@KshitijT so this is not a bug, right? Are we doing anything about it?

[2020-06-01 11:27] KshitijT commented on #1069
No and Yes, respectively.

[2020-06-01 14:13] #1139 closed

[2020-06-01 14:13] #1140 closed

[2020-06-02 15:09] gigjozsa opened #1153 "Keeping home directory clean (generate a flexible radiopadre config directory)"
Currently there are several hidden directories in the home directory that get created by caracal or rather its dependants. Their total volume is 1.5 GB in a test of mine with 1.35 falling to radiopadre because radiopadre creates a docker/singularity image in the .radiopadre folder in the home directory. There are two problems connected:
i) there is no obvious possibility to generate radiopadre not

[2020-06-03 03:27] gigjozsa opened #1154 "Inconsistent behaviour using Singularity v2.6 and v3.5: unable to run with Singularity v2.6"
This is a Stimela problem. I am trying to reproduce a situation operating on a computing cluster with little space (and low allowed traffic) in the home directory, so I redirect all io to the local directory and the test directory. This is using the current Stimela master (see [minitestConfig-singularity-sysinfo.txt](https://github.com/caracal-pipeline/caracal/files/4720776/minitestConfig-singular

[2020-06-03 03:39] gigjozsa commented on #1154
Addendum: the caracal branch used is [fourth_dan](https://github.com/caracal-pipeline/caracal/tree/fourth_dan), which is not differing substantially from master.

[2020-06-03 03:47] gigjozsa opened #1155 "Bump up singularity versions for Jenkins tests"
The Jenkins server is running Singulairity version 2.6.1-dist . Using v2.6 leads to problems (reported for 2.6.0-dist), see #1154 , which v3.5 does not. So to test singularity caracal, we would request singularity > v3.5 (likely) to run on the Jenkins server.

[2020-06-03 03:48] gigjozsa commented on #1155
*actually I would request this, I am only one.

[2020-06-03 08:02] viralp commented on #1110
Could anyone confirm what wsclean version is there now in the master branch? I want to try `-parallel-deconvolution` option with auto multiscale cleaning, but could not find it in the configuration file. Thanks.

[2020-06-03 08:08] paoloserra commented on #1110
In current master, if multiscale clean is enabled the pipeline switches to wsclean 2.6, else it uses 2.9.

Both wsclean versions support parallel deconvolution. In CARACal this is implemented as explained in

https://github.com/caracal-pipeline/caracal/blob/b26bdbdf98c97f25ef7c6644475a19edf542246f/caracal/schema/selfcal_schema.yml#L166-L170

The default is 0.

Let me know in case some of this is u

[2020-06-03 08:41] paoloserra commented on #1110
@viralp note that we are soon going to drop the automatic switching to wsclean2.6 when multiscale clean is ON. We will use wsclean2.9 always.

See https://github.com/caracal-pipeline/caracal/pull/1156 . Feel free to use that branch ahead of merging if you wish.

[2020-06-03 10:07] viralp commented on #1110
Thanks @paoloserra. Also, how can I use the default scales which decide by the wsclean? When I turn on the `-img_multiscale` option, the script takes `-img_multiscale_scales 0 10 25 50` scales, so I want to unset this such that wsclean decide its own scale.

[2020-06-03 10:09] KshitijT commented on #1110
Not setting the `img_multiscale_scales` parameter should let wsclean set it's own scales. It'll probably clean to the image size though.

[2020-06-03 11:05] SpheMakh commented on #1154
Wait, did you include the `--force/-f` option when pulling for the second time? It may be singularity issues a warning instead of crashing after 2.6.0, but the `-f` is the solution otherwise.

[2020-06-03 11:12] gigjozsa commented on #1154
Maybe but I suspect that this is not really the issue. The issue is that no images are created in an empty ``STIMELA_PULLFOLDER`` at the beginning. Then it goes on. The crash happens at runtime. It does not find an image, so it tries to pull the image. But Singularity for some reason looks into the cache instead of the pullfolder and stops. 99% sure that -f will not solve this. Shall I rerun using

[2020-06-03 11:16] SpheMakh commented on #1154
Ahh, I see. You are right `-f` would not solve this.

[2020-06-03 11:48] SpheMakh commented on #1154
Ok, I got it. Singularity ignores the specified pull folder if you have $SINGULARITY_CACHEDIR set manually.

[2020-06-03 11:53] SpheMakh commented on #1154
This one is beyond the powers of stimela. We should add a note in the README, then encourage users to use latest version of singularity

[2020-06-03 12:03] gigjozsa commented on #1154
Did you find out from which version onwards this is solved?

[2020-06-03 12:04] gigjozsa commented on #1154
@KshitijT do you happen to know the singularity version used at ilifu?

[2020-06-03 12:05] KshitijT commented on #1154
Yes.

[2020-06-03 12:05] gigjozsa commented on #1154
And?

[2020-06-03 12:06] gigjozsa commented on #1154
Is it > 3.0 ?

[2020-06-03 12:06] gigjozsa commented on #1154
Because it's a nasty one. The cache can grow to a large volume and then only symlinks can help, and that's twisted.

[2020-06-03 12:07] KshitijT commented on #1154
It's 3.5.2. :)

[2020-06-03 12:08] gigjozsa commented on #1155
This is required if we want to efficiently test singularity. See #1154

[2020-06-03 12:09] KshitijT commented on #1154
BTW, symlinks also help only so much in the current recommended ILIFU settings, eventually one needs to nuke the caches for the pipeline to work.

[2020-06-03 12:16] gigjozsa commented on #1154
@KshitijT what do you mean? Setting SINGULARITY_DISABLE_CACHE="True" ?

[2020-06-03 12:20] KshitijT commented on #1154
So my bashrc file has:
[code]
After some time running fine the singularity cache fills up and I get the famous "No space left on disk error". Don't know if that is pertinent to this issue.

[2020-06-03 12:22] SpheMakh commented on #1154
What is the TMPDIR for?

[2020-06-03 12:24] KshitijT commented on #1154
Good question. I actually don't know. I was following suggestions from ILIFU.

@Jordatious , could you please comment?

[2020-06-03 12:24] gigjozsa commented on #1154
Not know (but they explain it, I only don't understand what a squashfs filesystem is). There are three directories of this kind. It's described here:
https://singularity.lbl.gov/build-environment

[2020-06-03 12:26] gigjozsa commented on #1154
Point is, setting SINGULARITY_DISABLE_CACHE="True" would suppress caching.

[2020-06-03 12:30] gigjozsa commented on #1154
So there is variant 1 that I wanted to try:
Use the common STIMELA_PULLFOLDER with the images uploaded by Kshitij/us all. Set SINGULARITY_TMPDIR and SINGULARITY_CACHEDIR to a local directory. In the ideal world, Singularity sees that the images are already in the SINGULARITY_PULLFOLDER aliased to STIMELA_PULLFOLDER and leaves the cache empty (actually I think this is what is happening).

Variant 2

[2020-06-03 12:36] SpheMakh commented on #1154
Thanks @gigjozsa. Disabling caching seems like the easy way out to me since we don't build singularity images, and the pulling should be a once off thing. Either way, it is shocking that disk fills up with what really should be a few dozen Gb of data.

[2020-06-03 12:40] KshitijT commented on #1154
It depends where you are saving the cache? On Rhodes machines we have allocations of 25 GB on home so that fills up pretty fast.

[2020-06-03 13:13] gigjozsa commented on #1154
OK, it's in. Somebody look at and approve #1157 . Let us for now put Singularity version > 3.5 into the README. Please correct if you find out/know from which version onwards above bug is removed in Singularity.

[2020-06-03 13:18] gigjozsa commented on #1154
Can we close this?

[2020-06-03 13:26] viralp commented on #1110
I checked this.  If you use `-img_multiscale_scales: [' '] or [ ] or ' '` then its complaining. If you remove the `-img_multiscale_scales` parameter from the script, still it uses the default `10,20,30` scale values. I am not sure how can I not set this parameter? Thanks.

[2020-06-03 13:31] KshitijT commented on #1110
@viralp are you using the master branch or the release version?

[2020-06-03 13:32] viralp commented on #1110
@KshitijT I am using the master branch

[2020-06-03 14:19] KshitijT commented on #1110
I tried with the master branch and the scales I get are the new defaults: 0, 5, 10 ,20:
[code]
Could I have your logfile for imaging?

[2020-06-03 14:21] paoloserra commented on #1110
@KshitijT I think @viralp would like to us the WSClean defaults, not the CARACal defaults. Indeed, it's not clear how to get those. Or am I misunderstanding?

[2020-06-03 14:26] o-smirnov commented on #1110
It's related to this discussion, really: https://github.com/ratt-ru/Stimela/issues/627

In general, we need a magic value of "unset, default, don't bother me, go away, think of something, let the tool decide, whatever, vote Brexit". Which neither the schema scheme not Stimela cab specs allows for (easily) at the moment. IMHO this needs to be addressed in a serious way for R1.next.

[2020-06-03 14:26] KshitijT commented on #1110
No, you are right @paoloserra . But there are two issues? 1. The defaults seem to be 10,20,30  for Viral (without the 0 scale) and 2. No wsclean defaults.
Part 2 is an issue - which can be solved by NOT defining the multiscale-scale parameter when calling wsclean in the pipeline - maybe the pipeline default can be a null (stimela already has the scales as null - so wsclean defaults).
Part 1 I am c

[2020-06-03 14:28] viralp commented on #1110
@paoloserra yes exactly I want default scales decide by the WSClean and not the pre-set scales values in the Caracal (10,20,30).

[2020-06-03 14:31] paoloserra commented on #1110
@o-smirnov fine, but in this particular case we probably thought we had been smart enough with https://github.com/caracal-pipeline/caracal/blob/362a7fbfe5c1f44d920d1ff2f1111e3254302fe6/caracal/workers/selfcal_worker.py#L215

It turns out we had not. This might be because the argument needs to be a list.

[2020-06-03 14:32] paoloserra commented on #1110
About the default CARACal scales not being right, @viralp, sorry for the trivial comment, but can you please double-check that you've git-pulled master and reinstalled?

[2020-06-03 14:32] viralp commented on #1110
@KshitijT my apology. My caracal branch was the Monkeycabs.

Regarding scales, if I run WSClean outside of the Caracal, I get following scales with unset of `-multiscale-scales`
- Scale 0, bias factor=1, psfpeak=1, gain=0.1, kernel peak=0.0497401
- Scale 13, bias factor=1.7, psfpeak=0.678064, gain=0.147479, kernel peak=0.0183638
- Scale 26, bias factor=2.8, psfpeak=0.47727, gain=0.209525, kernel p

[2020-06-03 14:34] KshitijT commented on #1110
@viralp, meanwhile you can set the scales like this:

[code]
This works, I can confirm. This is similar to WSclean default behaviour which starts with 0 scale and goes on adding scales via doubling scale in units of the psf size until the image size is reached. So, a hack, but maybe does the trick?

[2020-06-03 14:34] KshitijT commented on #1110
Ok, then maybe use those numbers in img_multiscale_scales parameter?

[2020-06-03 14:35] o-smirnov commented on #1110
@paoloserra you're right. My memory is shot! OK, not sure what's going on with the default then...

[2020-06-03 14:38] KshitijT commented on #1110
For the time being, can we add the "pipeline defaults" via the config files and leave the schema default to null? That way the user can just delete the config line specifying the scales and switch to wsclean defaults?

[2020-06-03 14:41] paoloserra commented on #1110
Yes, something like that. except that  `null` won't work because it wants a list  of integers. Why   don't we code it up such that an  empty  list is equivalent to null and, hence, to the WSClean native defaults?

[2020-06-03 14:46] paoloserra commented on #1110
OK, my suggestion doesn't work either. The easiest would be to change the schema such that  multiscale_scales is a list  of comma-separated values instead of a list. I know it's not backward  compatible, but...

[2020-06-03 14:48] KshitijT commented on #1110
That should work !

[2020-06-03 14:48] SpheMakh commented on #1154
Yup

[2020-06-03 14:48] #1154 closed

[2020-06-03 14:50] gigjozsa commented on #1110
Why does an empty list not work, sorry?

[2020-06-03 14:52] KshitijT commented on #1110
Not type int...

[2020-06-03 14:53] paoloserra commented on #1110
I cannot find a way to set `example` in the schema to an empty list and not make the code crash.

[2020-06-03 14:53] gigjozsa commented on #1110
Ah.

[2020-06-03 17:59] #1111 closed

[2020-06-03 19:26] molnard89 opened #1159 "Phase vs frequency plots look very inconsistent between ragavi and shadems"
When I plot phase vs channel of the same dataset, using the same column, I get very different looking figures between ragavi and shadems. I'll put the relevant config file snippet below for both with figures attached:

[code]

And the resulting shadems plots:

![first-centSplit32k-primary_only-bpcal-J0408-6545-CORRECTED_DATA-XX-phase-FREQ-ANTENNA1](https://user-images.githubusercontent.com/4323649

[2020-06-03 19:42] o-smirnov commented on #1159
Can has MS please?

[2020-06-03 19:54] molnard89 commented on #1159
@o-smirnov it's 720 gig so... @paoloserra ?

[2020-06-03 19:55] paoloserra commented on #1159
Just the primary and just  CORRECTED would do? That's all there is in those plots.

[2020-06-03 20:03] SpheMakh commented on #1159
The behaviour seems pretty consistent across scans, maybe just split one of the scans to make it even smaller.

[2020-06-03 20:05] SpheMakh commented on #1159
@molnard89 can you also generate a plot using plotms for good measure.

[2020-06-03 20:09] molnard89 commented on #1159
@SpheMakh ok will do.

It's on whiplash, so I can move it to some shared folder once I split the relevant data.

[2020-06-03 21:37] KshitijT commented on #1159
I thought this was already fixed? You are using the shared singularity images on Whiplash, @molnard89 ?

[2020-06-04 06:34] #1150 closed

[2020-06-04 07:04] gigjozsa opened #1160 "Release notes for v1.0.3"
Please add your stuff (notice that we are allowing downwards-incompatible changes, so let's call them minor to justify that this is a patch, i.e. only last digit changing):

**v1.0.3**
- Minor changes in parameters
  - ``img_multiscale_scales``: default setting now defers to WSClean to pick its multiscale deconvolution scales automatically (previous default would force scales of 0, 5, 10, 20).
  -

[2020-06-04 07:16] molnard89 commented on #1159
@KshitijT yes I do, from `/software/astro/caracal/STIMELA_IMAGES_1.6.1/`

[2020-06-04 08:10] gigjozsa commented on #1123
Moved issue to project https://github.com/caracal-pipeline/caracal/projects/10

[2020-06-04 08:10] #1123 closed

[2020-06-04 08:12] gigjozsa commented on #1087
@ianjarog is this working now?

[2020-06-04 08:13] gigjozsa commented on #1040
@o-smirnov can this be closed?

[2020-06-04 08:13] viralp commented on #1110
Could anyone point me which branch has the WSClean 2.9 version and parallel processing support? Thanks.

[2020-06-04 08:15] gigjozsa commented on #27
This should get high priority for v1.1

[2020-06-04 08:17] KshitijT commented on #1110
Master branch.

[2020-06-04 08:19] gigjozsa commented on #310
@paoloserra @Athanaseus @o-smirnov @Fil8
could you check how much of this has been implemented?

[2020-06-04 08:23] KshitijT commented on #27
Is it actually still relevant ? With the new workflow we split/average and then flag both calibrator and targets. The only thing to worry about would be the observatory flags ? And the flags which presumably are applied through crosscal to the target ?

[2020-06-04 08:40] gigjozsa commented on #237
On the other hand I will now bump this up for discussion in future planning.

[2020-06-04 08:45] gigjozsa commented on #408
@SpheMakh @Mulan-94 @o-smirnov @Athanaseus how far are we actually with this?

[2020-06-04 08:49] gigjozsa commented on #430
@KshitijT is this still relevant? This is so ambitious it might never be done (unless I don't see examples that you see).

[2020-06-04 08:53] KshitijT commented on #430
It's not **that** ambitious. :)
As for being relevant; it's a neat little sanity check on the images we get.
Can do for a bottle of mirto.

[2020-06-04 08:59] SpheMakh commented on #408
Yes, it was addressed by #961

[2020-06-04 08:59] #408 closed

[2020-06-04 09:06] o-smirnov commented on #1040
What did we decide, the data is legit bad and everything is fine? Close it then.

[2020-06-04 09:08] o-smirnov opened #1161 "remove "-u" in invocation of radiopadre in report rendering"
Currently it might try to auto-update the image, which we've discovered often leads to tears. Just a matter of removing that switch.

[2020-06-04 09:09] o-smirnov commented on #1159
Any news on that data?..

[2020-06-04 09:19] #1040 closed

[2020-06-04 09:21] gigjozsa commented on #430
As a stopping criterion?

[2020-06-04 09:23] KshitijT commented on #430
More like quality assessment.

[2020-06-04 09:24] gigjozsa commented on #430
Ah that's different.

[2020-06-04 09:30] Jordatious commented on #1154
Hey @gigjozsa, not totally sure what's happening here without spending longer reading it, but looks like it was resolved. Were you able to get it working and still keep the `TMPDIR` inside your WD?

[2020-06-04 09:34] gigjozsa commented on #1154
@Jordatious thanks, the conclusion is that this is a Singularity < 3.5 problem, which does not occur for Singularity.

[2020-06-04 10:46] molnard89 commented on #1159
@o-smirnov sorry had a meeting, splitting it now. Where should I move it on ilifu?

[2020-06-04 10:51] o-smirnov commented on #1159
Anywhere I can read it. I'd rather you put it on stills.ru.ac.za please.

[2020-06-04 11:00] molnard89 commented on #1159
I can't ssh into stills I'm afraid cause `Permission denied (publickey)`

[2020-06-04 11:04] paoloserra commented on #1110
@viralp the  changes you needed are now in master. WSClean is 2.9 both with and without multiscale clean. Furthermore, it is possible to use the WSClean automated setting of the scales by leaving `img_multiscale_scales` to its CARACal default (empty string). You can give your own scales as a string of comma-separated integers.

@KshitijT @o-smirnov can we close this issue now?

[2020-06-04 11:43] KshitijT commented on #1110
I think we are sorted now, so we can close this issue.

[2020-06-04 11:51] o-smirnov commented on #1159
Ah, can you e-mail me your public key please?

[2020-06-04 12:23] #1110 closed

[2020-06-04 13:04] KshitijT opened #1163 "transform worker can't split specific scans"
What it says in the title.

@molnard89 "volunteered".

[2020-06-04 17:08] molnard89 commented on #1163
Yeah, I did. Although I'm not sure if it's intentional or not? Do we want to allow the user to set more or even all possible visibility selection criteria that CASA mstransform allows? E.g. we can't split specific antennas, etc. either

[2020-06-04 20:57] o-smirnov commented on #1159
MS subset available as ``/net/jake/home/molnar/msTest/NGC136532k_cal_scan25.ms`` now.

But I gotta say, I am unable to reproduce. What is the version of ragavi inside the Stimela image? @Mulan-94 @SpheMakh can you tell? @Mulan-94 could this be the old phase winding issue somehow? Or the wrong column being plotted? @molnard89 could you please also post the ragavi and shadems logs from the original

[2020-06-05 07:46] molnard89 commented on #1159
Thanks for the checks! According to the logs it's ragavi 1.5.0 that lives in the image folder we're using on whiplash.

Log snippet from ragavi:

[code]

And here's the relevant shadems log snippet:

[code]

They look consistent to me (e.g. both use corrected column), so might be related to the ragavi version indeed?

And yeah, @o-smirnov, colouring for antennas made it look like there's a uniform

[2020-06-05 13:59] gigjozsa commented on #1155
@bennahugo @o-smirnov it's currently "hanging" on a singularity pull by radiopadre. That would also happen with a docker installation (because radiopadre is independent, I think, of Stimela and does Singularity by default). Please notice that if you scroll up to the current Singularity pull that was done within a second because all the images from the former run are re-used. Only radiopadre pulls

[2020-06-05 14:23] bennahugo commented on #1155
Hi Josh.

We are running Ubuntu 18.04 which only has 2.6.1-dist from the official
distribution. I'm not really willing to install from third party PPAs on a
production server due to the security risks involved. Is there a way around
this?  Perhaps building the singularity version you require from source
before meerkathi is tested is a way forward?

On Fri, Jun 5, 2020 at 4:00 PM Gyula Jozsa (Josh)

[2020-06-05 14:29] gigjozsa commented on #1155
Hi @bennahugo ,
it seems not to be required any more. It runs through now. Pulling any images is fine slow on docker or singularity but it still works. And we are using pre-installed images for Singularity-Stimela, which get automatically updated if required, which accelerates the test by a lot. As said, if we have to choose one container tech, it should be singularity. But wait, I've got an idea.

[2020-06-05 14:30] o-smirnov commented on #1155
Not quite. When the pipeline invokes it, it overrides the default. So it will run it with docker when the pipeline is in docker mode.

If this is the only problem with singularity 2.6, then I suggest turning it off in Jenkins for now. I'll push a fix to radiopadre very shortly that will have it re-use stored images properly (the issue @gigjozsa filed).